<style>
    .md-block{
        padding: 10px;
        border: 1px solid #eaeaea; 
    }
    
    
    #upload3{
        background-color: #F5F5F5;
        color: #333333;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #upload3:hover {
        background: #FF5A5F;
        color: white;
    }
    #pageLogoHolder{
        min-height: 150px;
        width: 150px;
        border: 1px solid #eaeaea;
        border-radius: 2px;
    }
    #pageLogoHolder2{
        min-height: 150px;
        width: 150px;
    }
    #pageLogoHolder3{
        max-height: 100px;
        max-width: 100px;
    }
    .pageLogo{
        max-height: 100%;
        max-width: 80%;
    }
    #badge{
        background: #20C39A;
    }
    .notExistingBage{
        padding:5px;
        font-size: 14px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    .notExistingBage:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    .existingBadge{
        padding:5px;
        color: white;
        font-size: 14px;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #examTagHolder{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #tagHolder{
        padding:5px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #removebadge{
        background: #FF5A5F;
    }
    
    a, a:visited{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    
    
    h1,h2,h3{
        text-align: left;
        line-height: 140%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    #examTagHolder{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
</style>
<div id="spacer1">
</div>
<div layout="row" layout-xs="column" layout-align="center center" class="width100 thirdFont font14" id="aboutinfo">
    <div layout="row" layout-align="center center" class="width100 translucentBackground">
        <div layout="row" layout-align="center center" class="width80 pageTitleFont min40vh text-white text-center textShadow">
            Our mission is to ensure everybody does well in their Exam Preparation
        </div>
    </div>
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground blogFont" id="fullHeightPage">
<div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="start start" class="width100 marginT20 marginB120 secondFont font14">
    
    <div layout="column" layout-align="center center" class="width100 paddingLR20 text-center">
        <div layout="column" layout-align="center center" class="textBlack width80 marginTB20 subhheadingBottomBorder2 font24 bold">
            We do this by
        </div>    
        <div layout="row" layout-align="center center" class="marginT20 width100 font20 bold textDarkGrey">
            Helping people discover great coaching classes around them & online
        </div>
        <div layout="row" layout-align="center center" class="width80 font16 textLightGrey">
            Our team gathers information from every coaching class on a regular basis to ensure our data is fresh. Our vast community of students share their reviews and photos, so you have all that you need to make an informed choice.
        </div>
        <div layout="row" layout-align="center center" class="marginT20 width100 font20 bold textDarkGrey">
            Building amazing experiences around exam preparation
        </div>
        <div layout="row" layout-align="center center" class="width80 font16 textLightGrey">
            Starting with information for over 28,000 coaching classes in India, we're making exam preparation smoother and more enjoyable with services like Exam Question a Day.
        </div>
        <div layout="row" layout-align="center center" class="marginT20 width100 font20 bold textDarkGrey">
            Enabling coachings to create amazing experiences
        </div>
        <div layout="row" layout-align="center center" class="width80 font16 textLightGrey">
            With dedicated engagement and management tools, we're enabling coaching classes to spend more time focusing on teaching itself, which translates directly to better exam preparation experiences.
        </div>

    </div>
    
    <div layout="column" layout-align="center center" class="width100 padding20 text-center">
        <div layout="row" layout-align="center center" class="marginT20 width100 font20 bold textDarkGrey">
            Video Introduction
        </div>
        <div layout="row" layout-align="center center" class="width100 textDarkGrey">
            <youtube-video class="margin10" video-url="aboutVideo" class="embed-responsive-item" player-vars="playerVars"></youtube-video>
        </div>
    </div>
    
    
    </div>
   
    
</div>
