<style>
    #categories{
        margin-top: 40px;
    }
    #categoryFont{
        min-height: 10vh;
        color: white;
        min-width: 175px;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        background-color: rgba(0,0,0,0.6);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0px;
        padding: 5px;
        letter-spacing: 2px;
        box-shadow: 1px 1px 1px #6A6968;
        font-family: "Avenir";
    }
    #categoryFont:hover{
        background-color: #20C39A;
        font-weight: 900;
    }
    
    #categoryLink a:hover{
      padding: 0px;
      color: white;
      text-decoration: none;
    }
    #pageHeader{
        color: rgba(0,0,0,0.8);
        letter-spacing: 4px;
        font-family: "Avenir";
    }
    #pageHeaderFont{
        border-bottom: solid 3px;
        border-color: #20C39A;
        letter-spacing: 4px;
    }
    #pageHeader{
        margin-bottom:25px;
    }
</style>

<div id="fullPageBackground">
<div class="container">
        <div class="column col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="spacer">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 animated fadeIn text-center" id="pageHeader">
            <span class="text md-title" id="pageHeaderFont"><strong>ABOUT US</strong></span>

        </div>
        </div>
        <div class="row" id="mainContent">
            <p id="mainText"> 
                <span class="text-primary md-subhead">ExamBazaar.com</span> is India’s biggest and largest education discovery platform which provides comprehensive information for test prep for entrance exams, colleges, courses, universities and career options in India. You can find information about more than 100 exams and how to prepare for them. Students can also find exclusive videos and photographs of thousands of coaching institutes in every nook and corner of India. We currently cover 93 cities across India with over 30,000 education providers and are looking to expand.
                <h6 class="pull-right">
                    ExamBazaar Team
                </h6>
            </p>
                
        </div>
    
</div>
