<style>
    #landingPage{
        min-height: 85vh;
    }
</style>
<div class="container" id="landingPage">
    <div layout="row" layout-xs="column" layout-margin layout-padding>
        <div  class="panel panel-default" >
            <div class="panel-heading">
                <h4 class="text-primary">About Exam Bazaar</h4>
            </div>
            <md-divider></md-divider>
            <div class="panel-body">
                <p> 
                <span class="text-primary">ExamBazaar.com</span> is India’s biggest and largest education discovery platform which provides comprehensive information for test prep for entrance exams, colleges, courses, universities and career options in India. You can find information about more than 100 exams and how to prepare for them. Students can also find exclusive videos and photographs of thousands of coaching institutes in every nook and corner of India. We currently cover 93 cities across India with over 30,000 education providers and are looking to expand.
                </p>
                <h6 class="pull-right">
                    ExamBazaar Team
                </h6>
            </div>
        </div>             
    </div>
</div>
