<style>
    input[type="text"],input[type="email"]
    {
        font-size: 14px;
        color: #333333;
        padding: 10px;
        border: solid 1px #ccc;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover,input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus{
        border: solid 1px #333333;
        box-shadow: 0 0 5px 1px #969696;
    }
    #profileSection{
        min-height: 20vh;
    }
    
    .academicRow{
        min-height: 25vh;
        width: 100%;
        margin-top: 20px;
        
    }
    .fieldRow{
        min-height: 5vh;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fieldRow div.col1{
        color: gray;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .fieldRow div.col2{
        color: black;
    }
    
    #link{
        color: #20C39A;
    }
    #link:hover{
        color: #20C39A;
    }
    .active{
        color: white;
        font-weight: bold;
        border-bottom: 2px solid white;
    }
    #topBar{
        color: white;
    }
    #topBar.active{
        color: white;
    }
    #topBar:hover{
        font-weight: bold;
    }
    .leftBar{
        border-right: 2px solid whitesmoke;
    }
    #leftBarButton{
        border-bottom: 2px solid whitesmoke;
    }
    #leftBarButton:hover{
        border-bottom: 2px solid #20C39A;
    }
    #leftBarButton.sideactive{
        /*border: 2px solid #20C39A;
        color: #20C39A;
        font-weight: bold;*/
        background: whitesmoke;
        
    }
    .emptyTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: #333333;
        background: gainsboro;
        border: 1px solid gainsboro;
        box-shadow: 0 0 5px whitesmoke;
    }
    .emptyTag:hover{
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        box-shadow: 0 0 5px whitesmoke;
    }
    .filledTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        box-shadow: 0 0 5px whitesmoke;
    }
    
    .edLevelTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: #333333;
        background: gainsboro;
        border: 1px solid gainsboro;
        border-radius: 5px;
        box-shadow: 0 0 5px whitesmoke;
    }
    .edLevelTag:hover{
        color: white;
        background: black;
        border: 1px solid black;
        box-shadow: 0 0 5px whitesmoke;
    }
    .filledEdLevelTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: white;
        background: black;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 5px whitesmoke;
    }
    .badge{
        font-size: 14px;
        white-space: normal;
        margin-top: 0px;
    }
    .subSectionHeader{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .academicSubSection{
        border-bottom: 1px solid #20C39A;
        
    }
    .academicSubHeader{
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nextButton{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #profilePicSection{
        margin-bottom: 20px;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>

<div class="textBlack whiteBackground secondFont font14" ng-if="user">
    <!--bs-affix data-offset-top="200" data-offset-bottom="300" -->
    <div layout="row" layout-align="center center" hide-xs layout="row" class="affixBar profileBar width100 paddingTB10" layout-align="start start"> 
        <div layout="row" layout-align="start start" flex-xs="100" flex-gt-xs="90" class="width100">
            <a layout="row" layout-align="start center" ng-repeat="component in components" ui-sref="{{component.state}}" class="paddingLR20">
                <span id="topBar" ng-class="{ active: component.active }" >
                    {{component.name}}
                </span>       
            </a>
        </div>
    </div>
    <div layout="row" layout-align="center start" class="width100">
    <div flex-xs="100" flex-gt-xs="90" layout="row" layout-align="center start" class="marginTB20">
        <div layout="column" layout-align="start center" flex="20" class="height100 paddingL20R40 leftBar">
            <div layout="column" layout-align="center center" ng-repeat="subcategory in currentSubcategories" class="paddingTB5 paddingLR20 min10vh  width100 spacedLetter09" ng-click="setActiveSubcategory(subcategory.name)" id="leftBarButton" ng-class="{ sideactive: subcategory.name == activeSubcategory.name }">
                {{subcategory.name}}
            </div>
        </div>
        <div flex layout="row" layout-align="center center">
            <div flex-xs="100" flex-gt-xs="90" layout="row" layout-align="start start">
            <div layout="column" layout-align="start start" class="width100 min100vh" flex>
                <div layout="column" layout-align="center start" class="min10vh width100 blogFont bold headingBottomBorder2 marginB20">
                    {{activeSubcategory.name}} Information
                </div>
                <div layout="column" layout-align="center start" class="width100">
                     
                    
                    <div layout="column" layout-align="center start" class="width100 font14">
                        <div layout="column" layout-align="start start" class="academicRow subSectionHeader" ng-if="activeSubcategory.name =='Education Level'">
                        
                            <div layout="row" layout-align="start center" class="font16 marginB10 width100 academicSubHeader">
                                Choose your Education Level
                            </div>
                            <div layout="row" layout-align="start start" class="fieldRow" layout-wrap>
                                <div flex-xs="20" flex="20" ng-repeat="educationLevel in educationLevels" class="padding10">
                                    <span layout="row" layout-align="center center" class="wrap edLevelTag width100 min15vh text-center" ng-class="{ filledEdLevelTag: user.eligibility.educationLevel.name=='{{educationLevel.name}}' }" ng-click="setEducationLevel(educationLevel)">
                                        {{educationLevel.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="activeSubcategory.name =='School Class XII' && user.eligibility.educationLevel.level >= 1">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            School Class XII
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Subjects</div>
                            <div layout="row" layout-align="start center" flex class="col2" layout-wrap>
                                <div flex="25" ng-repeat="class12Subject in class12Subjects" class="padding10">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.class12Subjects[class12Subject.name] }" ng-click="setClass12Subjects(class12Subject.name)">
                                        {{class12Subject.displayname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Class XII Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.class12Percentage" step="1" min="40" max="100" aria-label="Class 12th Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        
                        
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="activeSubcategory.name =='Undergraduate' && user.eligibility.educationLevel.level >= 3">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            Undergraduate
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Degree</div>
                            
                            <div flex layout="column" layout-align="start start" class="width100">
                            
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Engineering
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='engineering'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                                
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Medical
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='medical'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                                
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Law
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='law'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                            
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Other
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='other'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>     
                            </div>
                            </div>
                            
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Equivalent Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.undergradPercentage" step="1" min="40" max="100" aria-label="Undergrad Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        
                        
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="activeSubcategory.name =='Postgraduate' && user.eligibility.educationLevel.level >= 5">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            Postgraduate
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Degree</div>
                            <div layout="row" layout-align="start center" flex class="col2" layout-wrap>
                                <div flex="25" ng-repeat="postgradMajor in postgradMajors" class="padding10">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.postgradMajor[postgradMajor.name] }" ng-click="setPostgradMajor(postgradMajor.name)" layout-wrap>
                                        {{postgradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Equivalent Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.postgradPercentage" step="1" min="40" max="100" aria-label="Postgrad Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow" ng-if="activeSubcategory.name != activeCategory.subcategories[activeCategory.subcategories.length-1].name">
                            <div flex="{{col1Width}}" class="col1">
                                <md-button class="md-danger md-large tolowercase margin0 nextButton" ng-click="setNextActiveSubcategory()">
                                    Next
                                </md-button>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                   </div>    
            </div>
        
            </div>
        </div>
    </div>
    </div>
</div>



<div class="bottomBar">
    <div layout="row" layout-align="start center">
        <div flex ="80">
            <span>
            Do you want to save changes to your profile? 
            </span>
        </div>
        <div layout="row" layout-align="end center" flex = "20">
            <md-button class="md-danger md-small font10 width8" ng-click="saveUser()">
                Save
            </md-button>
            <!--
            <md-button class="md-default md-cancel md-small font10 width8" ng-click="dontsaveChanges()">
                Cancel
            </md-button>
            -->
        </div>
        
    </div>
</div>