<style>
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
        padding: 10px;
        border: solid 1px transparent;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    input[type="text"]:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    
    #profileSection{
        min-height: 20vh;
    }
    .badge{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    .badge:hover{
        color: white;
        
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    .existingBadge{
        padding:5px;
        font-size: 16px;
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
</style>
<div layout="column" layout-align="start start" class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    <div layout="row" layout-align="center center" class="width100 marginB20">
        <div ng-repeat="day in daysArray" class="badge padding5 margin5" ng-class="{ existingBadge: day == nDays }" ng-click="setNDays(day)">
            {{day}}
        </div>
    </div>
    <div layout="row" layout-align="start start" class="padded" ng-if="masterUser" layout-wrap>
    <div flex="33" layout="row" layout-align="start start" ng-repeat="user in activeUsers track by user.user._id | orderBy: '-count'">
        {{user.user.basic.name}}&nbsp;{{user.count}}
    </div>
    </div>
</div>
