<style>
    #filled{
        padding-left: 40px;
        padding-right: 40px;
    }
    #badge{
        background: #20C39A;
    }
    .unselectedName{
        color: rgba(0,0,0,0.6);
        background: white;
        border: 1px solid #FF5A5F;
    }
    .selectedName{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
</style>

<div class="whiteBackground mainContent" id="filled">
    <div id="spacer">
    </div>
    <div layout="column" layout-align="start start" ng-if="authorized">
        <div layout="row" layout-align="center center" class="font20 text-primary bold width100">
            Institutes Added - Report for {{user.basic.name}}&nbsp;<span class="badge" id="badge">{{addedInstitutes.length}}</span>
        </div>
        <div layout="row" layout-align="center center" class="width100 marginTB10 font12">
            <div layout="row" layout-align="center center" class="marginR10">
                See report for user:
            </div>
            <div layout="row" layout-align="center center" >
                <md-select ng-model="filteredUser"  placeholder="Select EB Team Member" class="font12 width100 margin0 padding0">

                    <md-option ng-value="user" ng-repeat="user in listedUsers" ng-click="updateAddedInstitutes(user)" class="text-primary font11">
                      {{user.basic.name}}
                    </md-option>
                </md-select>
            </div>
        </div>
        <div flex layout="row" layout-align="start center" class="width100 greyBottomBorder marginT20 font10 bold">
            <div flex="5">
                S. No.
            </div>
            <div flex="30">
                Institute
            </div>
            <div flex="10">
                City
            </div>
            <div flex="10">
                Added By
            </div>
            <div flex="10">
                Created on
            </div>
            <div flex="10">
                #Exams
            </div>
            <div flex="10">
                #Phone | Mobiles
            </div>
            <div flex="10">
                #Email | Websites
            </div>
        </div>
        <div flex layout="row" layout-align="start center" ng-repeat="institute in addedInstitutes | orderBy:['-_created']" class="width100 greyDashedBottomBorder font10">
            <div flex="5">
                {{$index+1}}
            </div>
            <div flex="30" class="font12">
                <a ui-sref="claim({ coachingId:{{'institute._id'}} })" target="_blank" id="link">
                <strong>{{institute.name}}</strong>
                </a>
            </div>
            <div flex="10" class="font10">
                <a ui-sref="targetStudyProviders({ city:{{'institute.city'}} })" target="_blank" id="link">
                <strong>{{institute.city}}</strong>
                </a>
            </div>
            <div flex="10" class="font10">
                {{institute._createdBy.basic.name}}
            </div>
            <div flex="10" class="font10">
                {{institute._created | date: "dd-MMM-yy HH:mm"}}
            </div>
            <div flex="10" class="font10">
                {{institute.exams.length}}
            </div>
            <div flex="10" class="font10">
                {{institute.phone.length}} | {{institute.mobile.length}}
            </div>
            <div flex="10" class="font10">
                {{institute.email.length}} | {{institute.website.length}}
            </div>
        </div>
        
        
    </div>
    
    <div layout="column" layout-align="start start" ng-if="!authorized" class="font20 bold">
        You do not have access to view this information. Login above to try again.
    </div>
    <div id="spacer">
    </div>
</div>