<link rel="stylesheet" media="screen" href="handsontable.full.css">
<style>
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        padding: 10px;
        border: solid 1px #333333;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    input[type="text"]:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    .listingHeader{
        background-color: #f7f7f7;
        color: black;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    .listingContent{
        padding-left: 10px;
        width: 100%;
    }
    a{
        color: #333333;
        text-decoration: none;
    }
    a.link{
        color: #333333;
    }
    a.visted{
        color: #333333;
    }
    a:hover{
        text-decoration: none;
    }
    a:link:hover{
        text-decoration: none;
    }
    a.active {
        background: #FF5A5F;
        color: #fff;
        text-decoration: none;
    }
    
    #examTagHolder{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #existingExamTagHolder{
        padding:5px;
        font-size: 16px;
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
</style>
<div class="whiteBackground mainContent padded" >
    <div id="spacer">
    </div>
    <div flex layout="column" layout-align="start center" ng-if="showLevel>5">
        <form class="width100" name="addInstituteForm">
        <div class="secondFont listingHeader bold">
            Add Details of the Institutes
        </div>
            
        <div>
            <hot-table settings="{colHeaders: colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row','undo','redo'], afterChange: afterChange, stretchH: 'all', wordWrap:'true', renderAllRows: 'true'}" context-menu  datarows="newinstitutes" min-rows="10" min-spare-rows="1" height="300" id="hotTable">
                <hot-column data="name" title="'Institute Name'"></hot-column>
                <!--<hot-column data="groupName" title="'Group Name'"></hot-column>-->
                <hot-column data="address" title="'Address'" width="80"></hot-column>
                <hot-column data="city" title="'City'"></hot-column>
                <hot-column data="state" title="'State'"></hot-column>
                <hot-column data="pincode" title="'Pincode'"></hot-column>
                <!--<hot-column data="logo" title="'Logo'"></hot-column>-->
                <hot-column data="email" title="'Email'"></hot-column>
                <hot-column data="phone" title="'Phone'"></hot-column>
                <hot-column data="mobile" title="'Mobile'"></hot-column>
                <hot-column data="website" title="'Website'"></hot-column>
            </hot-table>
        </div>    
           
        <div class="secondFont listingHeader bold">
            Mark the common exams taught at each center&nbsp;<span class="badge">{{commonExams.length}}</span>
        </div>
        <div layout="row" layout-align="start center" ng-repeat="stream in streams">
            <div layout="row" layout-align="start center" flex="25" class="secondFont">
            <strong>{{stream.displayname}}</strong>
            </div>
            <div layout-wrap layout="row" layout-align="start center">
                <div class="padding2" ng-repeat="thisExam in exams" ng-if="thisExam.stream._id == stream._id">
                    <span class="badge" id="examTagHolder" ng-if="commonExams.indexOf(thisExam._id) == -1" ng-click="addExam(thisExam._id)">
                        {{thisExam.displayname}}
                    </span>
                    <span class="badge" id="existingExamTagHolder" ng-if="commonExams.indexOf(thisExam._id) != -1" ng-click="removeExam(thisExam._id)">
                        {{thisExam.displayname}}
                    </span>
                </div>
            </div>
        </div>
            
            
        <div flex layout="column" layout-align="center center" class="width100 marginB20 marginT40">
            <div layout="column" layout-align="center center" class="width100">
                <md-button class="md-green md-small width50" ng-click="addInstitutes()" ng-disabled="adding">Add</md-button>
            </div>
            <div layout="column" layout-align="center center" class="width100 font12 danger marginT10" ng-if="adding" ng-click="refreshPage()">
                To add more institutes, refresh the page
            </div>
        </div>
        <div flex layout="column" layout-align="start center" class="width100 marginT10 fourthFont" ng-if="addedInstituteIds.length > 0">
            <div>{{addedInstituteIds.length}} Institutes added sucessfully with ids</div>
            <div>
                <span ng-repeat="addedInstituteId in addedInstituteIds">
                    <a ui-sref="claim({ coachingId:{{'addedInstituteId'}} })" target="_blank">
                    <strong>{{addedInstituteId}}</strong>
                    </a>&nbsp;
                </span>
            </div>
            
        </div>
        </form>
    </div>
</div>