<style>
    .md-block{
        padding: 10px;
        border: 1px solid #ccc; 
    }
    a{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited:hover{
        color: #20C39A;
        text-decoration: none;
    }
</style>
<div class="container">
    <div id="spacer1">
    </div>
    <div class="row top-buffer">
        <div class="col-md-12" ng-repeat="city in cities">
            <div class="row text-center">
                <strong>{{city | uppercase}}</strong>
                <span>
                    {{ (locations | filter : { city: city } : true).length }}
                </span>
                
            </div>
            <div class="row">
                <span class="text badge" ng-repeat="existingLocation in locations | orderBy:'area'" ng-if="existingLocation.city == city"><small>
                <a ng-click="setLocation(existingLocation)" id="badgeLink">{{existingLocation.area}}</a>
                </small></span>
            </div>
            
        </div>
    </div>
    
    <md-divider></md-divider>
    
    <div ng-if="!bulkAddMode" layout="column" layout-margin layout-padding>
    <h6 class="text-primary md-title">Add Location
    <md-button class="md-raised md-primary" ng-click="setBulkAddMode()">Bulk Add Mode</md-button>
    </h6>
    <div class="col-md-12" id="addMasterForm">
        <md-content flex layout-padding>
            <form name="locationForm" >
            <div layout="column" >
                <div layout="column">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Location City</label>
                        <input required ng-model="location.city">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Location Area</label>
                        <input required ng-model="location.area">
                    </md-input-container>
                    
                </div>   

                <md-button class="md-raised md-primary" ng-click="addLocation()" ng-disabled="locationForm.$invalid">Add/Save Location</md-button>

            </div>
        </form>
        </md-content>
        </div>
    </div>
    <div ng-if="bulkAddMode" layout="column" layout-margin layout-padding>
    <hot-table settings="{colHeaders: colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange}"
           row-headers="false"
           min-spare-rows="5"
           datarows="newlocations"
           >
        <hot-column data="city" title="'City <br/>(eg. Jaipur)'"></hot-column>
        <hot-column data="area" title="'Area <br/>(eg. Malviya Nagar)'"></hot-column>
    </hot-table>
        <md-button class="md-raised md-primary" ng-click="addLocations()">Add Locations</md-button>
    </div>
    
</div>
<div>
</div>