<style>
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        padding: 5px;
        border: solid 1px #969696;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    input[type="text"]:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    
    #profileSection{
        min-height: 20vh;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    textarea{
        width:100%;
        padding: 5px 5px;
        display: inline-block;
        border: 1px solid #969696;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    textarea:hover {
        border: 1px solid #969696;
    }
    textarea:focus {
        border: 1px solid #969696;
    }
    #pageLogoHolder{
        border: 1px solid #969696;
        border-radius: 4px;
        color: #969696;
    }
    .pageLogo{
        max-height: 50px;
    }
    #removebadge{
        background: #FF5A5F;
    }
    #screenshot{
        max-height: 60px;
        max-width: 60px;
    }
    #upload3{
        background-color: #F5F5F5;
        color: #333333;
        padding: 5px;
    }
    #upload3:hover {
        background: #FF5A5F;
        color: white;
    }
    #questionNoBadge{
        background-color: #FF5A5F;
        padding: 5px;
    }
    #missingBadge{
        background-color: #20C39A;
        padding: 5px;
    }
    .disabled{
        background-color: #FF5A5F;
    }
</style>
<div class="whiteBackground mainContent" >
    <div id="spacer3">
    </div>
    <div layout="column" layout-align="start start" class="padded width100" ng-if="user">
        <div layout="column" layout-align="start start" class="width100 paddingB5 headingBottomBorder" >
            <div layout="column" layout-align="start start">
                <div layout="row" layout-align="start center">
                    <div class="font20 bold marginR20">
                        {{test.name}}
                    </div>
                    <div layout="row" layout-align="start start">
                        <a class="" ng-href="{{test.url.question}}" target="_blank" id="link">
                            <i class="fa fa-file-pdf-o font20" aria-hidden="true"></i>&nbsp;<span class="font12">Question Paper</span>
                        </a>
                        <a class="marginL10" ng-href="{{test.url.answer}}" target="_blank" id="link" ng-if="test.url.answer">
                            <i class="fa fa-file-pdf-o font20" aria-hidden="true"></i>&nbsp;<span class="font12">Answer</span>
                        </a>
                    </div>
                    
                </div>
                <div class="font12">{{test.description}}</div>
            </div>
            
            <div layout="row" layout-align="start center" class="marginTB5" ng-if="user.userType=='Master'" ng-click="flipwatermarked(test._id)">
                Flip Watermarked
            </div>
            <div layout="row" layout-align="start center" flex layout-wrap class="marginT10">
                <div ng-repeat="testQuestion in thisTestQuestions | orderBy:['_startnumber']" layout="row" layout-align="start center" class="badge marginR5 marginB5" id="questionNoBadge" ng-click="setQuestion(testQuestion)">
                    <span>
                        Q. {{testQuestion._startnumber}}
                    </span>
                    <span ng-if="testQuestion._endnumber && testQuestion._endnumber != ''">
                        - {{testQuestion._endnumber}}
                    </span>
                </div>
                
            </div>
        </div>
        <div layout="row" layout-align="start center" class="width100 marginTB5" ng-if="user.userType=='Master'"  layout-wrap>
            <a ng-click="markCreator()" class="marginR10">Mark Creator</a>
            <div ng-repeat="missingQuestion in missingQuestions" layout-wrap class="badge marginB5 marginR5" id="missingBadge">
                <span>
                    Q. {{missingQuestion}}
                </span>
            </div>
        </div>
        <div layout="column" layout-align="start start" class="width100 font14 marginTB10" >
            <div layout="row" layout-align="start center" class="width100 font16 bold marginT5" layout-wrap>
                <div layout="row" layout-align="start center" class="marginR20">
                    Add Question or Question Set
                </div>
                <div layout="row" layout-align="start center" class="badge marginL10" id="questionNoBadge" ng-click="addNewQuestionSet()">
                    <i class="fa fa-plus " aria-hidden="true"></i> Add a new Question Set
                </div>
            </div>
            <div layout="row" layout-align="start center" class="width100 marginT5 paddingB10 gainsboroBottomBorder" layout-wrap>
                <div layout="row" layout-align="start center" class="marginR10">
                    <md-switch ng-model="toAddQuestion._groupOfQuestions" aria-label="Question Group?" class="margin0">
                        Adding a group of questions?
                    </md-switch>
                </div>
                <div layout="row" layout-align="start center" class="marginR10">
                    <md-switch ng-model="toAddQuestion._hascontext" aria-label="Write Up?" class="margin0">
                        Is there a paragraph for the set of questions?
                    </md-switch>
                </div>
                <div layout="row" layout-align="start center" class="marginR10" ng-if="user.userType=='Master'" >
                    <a ng-click="splitQuestions()" class="marginR5" ng-if="toAddQuestion.questions.length > 1">Split Questions</a>
                    <a ng-click="removeQuestionDialog()" class="marginR5">Delete Question</a>
                </div>
                <!--<div layout="row" layout-align="start center" class="marginR10">
                    <md-switch ng-model="toAddQuestion._multipleCorrect" aria-label="Multiple Correct Answers?" class="margin0">
                        Multiple Correct Answers?
                    </md-switch>
                </div>-->
                
            </div>
            <div layout="row" layout-align="center center" class="textDarkGrey width100 paddingTB10" >
                <div flex="20" layout="column" layout-align="start start" class="font14 bold width100" >
                    Add Question Set Images
                </div>
                <div flex layout="column" layout-align="start start" class="font12" >
                    <div layout="column" layout-align="center start" class=" textDarkGrey" ngf-select="uploadImage(images)" ng-model="images" multiple="multiple" >
                        <div class="padding10" id="pageLogoHolder">
                            <span>
                            <i class="fa fa-file-text font32" aria-hidden="true"></i>
                            </span>
                            <span>
                                Upload Images
                            </span>
                        </div>

                    </div>
                    <div flex layout="row" layout-align="start start" ng-if="toAddQuestion.images && toAddQuestion.images.length > 0" class="paddingL20 width100" layout-wrap>
                        <div layout="column" layout-align="center center" ng-repeat="image in toAddQuestion.images" class="marginR10 marginT10">
                            <div layout="row" layout-align="center center" class="marginB5">
                                <a ng-href="{{image}}" target="_blank">
                                    <!--<i class="fa fa-check-square-o text-primary marginR10" aria-hidden="true"></i> Image {{$index}}-->
                                    <img ng-src="{{image}}" id="screenshot"/>
                                </a>
                            </div>
                            <div layout="row" layout-align="center center" class="badge" id="removebadge" ng-click="removeImage(image)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="start center" class="width100 marginT5" ng-if="toAddQuestion._hascontext">
                <textarea class="width100 font14" ng-model="toAddQuestion.context" placeholder="Add question context here. Paragraph of RC, etc" rows="4"></textarea>
            </div>
            
            <div layout="column" layout-align="start start" class="font12 width100 marginT20" ng-repeat="question in toAddQuestion.questions">
                <div layout="row" layout-align="start center" class="width100 marginB10">
                    <div layout="row" layout-align="start center" class="font16">
                    Question {{$index + 1}} <span class="marginL20 font10">{{toAddQuestion._id}}</span>
                    </div>
                                    
                    <div flex layout="row" layout-align="start center" ng-click="removeQuestionFromSet(question, $index)" class="marginL20" ng-if="$index > 0">
                        <i class="fa fa-trash font20" aria-hidden="true"></i>
                    </div>
                </div>
                <div layout="row" layout-align="start start" class="width100">
                    
                    
                    <div flex layout="column" layout-align="start start" class="padding10 width100">
                        <div layout="row" layout-align="start start" class="marginB10 width100">
                            <textarea class="width100 font14 margin0" ng-model="question.question" placeholder="Add question here" rows="3"></textarea>
                        </div>
                        
                        
                        <div layout="column" layout-align="start start" class="width100 marginB5" ng-repeat="option in question.options">
                            <div layout="row" layout-align="start center" class="width100">
                                <div layout="row" layout-align="start center" flex="40">
                                    <div class="font14 marginR20">
                                        Option {{$index+1}}
                                    </div>
                                    <div>
                                        <md-switch ng-model="option._correct" aria-label="Answer?" class="margin0">
                                            Answer?
                                        </md-switch>
                                    </div>
                                </div>
                                <div flex>
                                    <textarea class="width100 font14 margin0" ng-model="option.option" placeholder="Add option here" rows="1"></textarea>
                                </div>
                                <div layout="row" layout-align="center center" class="marginL10">
                                    <div class="badge" id="removebadge" ng-click="removeOption(question, option, $index)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" id="upload3" ng-click="addNewOption(question)" class="width100 marginT10">
                            <span>
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Option
                            </span>
                        </div>
                        
                        <div flex layout="row" layout-align="start start" class="marginB10 marginT20 width100">
                            <div flex class="width100">
                                <textarea class="width100 font14 margin0" ng-model="question.solution.solution" placeholder="Add solution here (if available)" rows="3"></textarea>
                            </div>
                            
                            <div layout="column" layout-align="start start" class="font12 paddingL10" >
                            <div layout="column" layout-align="center start" class=" textDarkGrey width100 height100" ngf-select="uploadSolutionImages(question, question.solutionimages)" ng-model="question.solutionimages" multiple="multiple" >
                                <div class="padding10" id="pageLogoHolder">
                                    <span>
                                    <i class="fa fa-picture-o font24" aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        Upload Solution Images
                                    </span>
                                </div>

                            </div>
                            <div flex layout="row" layout-align="start start" ng-if="question.solution.images && question.solution.images.length > 0" class="paddingL20 width100" layout-wrap>
                                <div layout="column" layout-align="center center" ng-repeat="image in question.solution.images" class="marginR10 marginT10">
                                    <div layout="row" layout-align="center center" class="marginB5">
                                        <a ng-href="{{image}}" target="_blank">
                                            <img ng-src="{{image}}" id="screenshot"/>
                                        </a>
                                    </div>
                                    <div layout="row" layout-align="center center" class="badge" id="removebadge" ng-click="removeSolutionImage(question, image)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div layout="row" layout-align="center center" id="upload3" ng-click="addNewQuestion()" class="width100 marginT10">
                <span>
                    <i class="fa fa-plus" aria-hidden="true"></i> Add another question to this set
                </span>
            </div>
            
        </div>
    </div>
    <div layout="column" layout-align="start start" class="padded width100 font20 danger" ng-if="!user">
        You are not permitted to access this without logging in! Please login and try again!
    </div>
</div>

<div class="bottomBar">
    <div layout="row" layout-align="start center">
        <div hide-xs hide-sm layout="row" layout-align="start center">
            <div>
            Do you want to save your changes to the question? 
            </div>
        </div>
        <div layout="row" layout-align="end center" flex>
            <div class="marginR10">
                <div ng-if="!readyToSave()">
                    <i class="fa fa-check-circle text-primary font20" aria-hidden="true"></i> Good to add!
                </div>
                <div ng-if="readyToSave()">
                    <i class="fa fa-times danger font20" aria-hidden="true"></i> Enter all details before you can add
                </div>
            </div>
            <div layout="row" layout-align="start center" class="marginR10">
                <div layout="row" layout-align="start center" class="marginR10">
                    <input type="text" class="" ng-model="toAddQuestion._startnumber"  placeholder="Q.No. in PDF">
                </div>
                <div layout="row" layout-align="start center" class="marginR10" ng-if="toAddQuestion._groupOfQuestions">
                    <input type="text" class="" ng-model="toAddQuestion._endnumber"  placeholder="Ending Q.No. in PDF">
                </div>

            </div>
            <md-button class="md-green2 md-small font10 width8" ng-click="saveNewQuestion()" ng-disabled="readyToSave()">
            Save
            </md-button>
            <md-button class="md-default md-cancel md-small font10 width8" ng-click="reload()">
                Cancel
            </md-button>
        </div>
        
    </div>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="savedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Changes Saved!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>