<style>
    input[type="text"], input[type="number"]
    {
        font-size: 13px;
        color: #333333;
        padding: 3px;
        border: solid 1px #969696;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover, input[type="text"]:focus, input[type="number"]:hover, input[type="number"]:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    
    #profileSection{
        min-height: 20vh;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    textarea{
        min-width:100%;
        resize: none;
        width:100%;
        padding: 3px;
        display: inline-block;
        border: 1px solid #969696;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    textarea:hover {
        border: 1px solid #969696;
    }
    textarea:focus {
        border: 1px solid #969696;
    }
    #pageLogoHolder{
        border: 1px solid #FF5A5F;
        border-radius: 4px;
        color: #FF5A5F;
    }
    .pageLogo{
        max-height: 50px;
    }
    #removebadge{
        background: #FF5A5F;
    }
    #screenshot{
        max-height: 60px;
        max-width: 60px;
    }
    #upload3{
        background-color: #F5F5F5;
        color: #333333;
        padding: 5px;
    }
    #upload3:hover {
        background: #FF5A5F;
        color: white;
    }
    #upload4{
        background: #20C39A;
        color: white;
        padding: 10px;
    }
    #upload4:hover {
        background: #29335C;
        color: white;
    }
    .unquestionNoBadge{
        background-color: white;
        border: 1px solid #FF5A5F;
        padding: 4px;
    }
    
    .questionNoBadge{
        background-color: #20C39A;
        border: 1px solid #FF5A5F;
        padding: 4px;
    }
    #addQuestionBadge{
        background-color: #29335C;
        padding: 8px;
    }
    #missingBadge{
        background-color: #FF5A5F;
        padding: 4px;
    }
    .disabled{
        background-color: #FF5A5F;
    }
    .badge{
        background: #FF5A5F;
    }
    .unselectedbadge{
        border: 1px solid #404040;
        background: white;
        color: #404040;
    }
    .selectedbadge{
        background: #FF5A5F;
        border: 1px solid #FF5A5F;
    }
</style>
<div class="whiteBackground mainContent" >
    <div id="spacer3">
    </div>
    <div layout="column" layout-align="start start" class="padded width100 smallFont" ng-if="user">
        <div layout="column" layout-align="start start" class="width100 paddingB5 headingBottomBorder" >
            <div layout="column" layout-align="start start" class="width100">
                <div layout="row" layout-align="start center" class="width100 gainsboroBottomBorder">
                    <div class="font20 bold marginR40">
                        Paper: {{test.name}}
                    </div>
                    <div layout="row" layout-align="start center" flex>
                        <a class="" ng-href="{{test.url.question}}" target="_blank" id="link">
                            <i class="fa fa-file-pdf-o font20" aria-hidden="true"></i>&nbsp;<span class="">Question Paper</span>
                        </a>
                        <a class="marginL10" ng-href="{{test.url.answer}}" target="_blank" id="link" ng-if="test.url.answer">
                            <i class="fa fa-file-pdf-o font20" aria-hidden="true"></i>&nbsp;<span class="">Answer</span>
                        </a>
                        
                        <div flex layout="row" layout-align="end center" class="">
                            <div layout="row" layout-align="start center" class="marginL20" ng-if="fullScope" ng-click="flipwatermarked(test._id)">
                                <i class="fa fa-check-square-o text-primary marginR10 font16" aria-hidden="true" ng-if="test.watermarked"></i>
                                <i class="fa fa-times danger marginR10 font16" aria-hidden="true" ng-if="!test.watermarked"></i>
                                <span class="text-primary" ng-if="test.watermarked">Watermarked</span>
                                <span class="danger" ng-if="!test.watermarked">Not Watermarked</span>
                            </div>
                            <a ng-click="markCreator()" class="marginL20" ng-if="fullScope">Mark Creator</a>
                        
                        </div>
                    </div>
                    
                </div>
                <!--<div class="">{{test.description}}</div>-->
            </div>
            
            
            <div layout="row" layout-align="start center" flex layout-wrap class="marginT10">
                <div ng-repeat="testQuestion in thisTestQuestions | orderBy:['_startnumber']" layout="row" layout-align="start center" class="badge marginR2 marginB2 font9 questionNoBadge" ng-click="setQuestion(testQuestion)">
                    <span>
                        Q. {{testQuestion._startnumber}}
                    </span>
                    <span ng-if="testQuestion._endnumber && testQuestion._endnumber != ''">
                        - {{testQuestion._endnumber}}
                    </span>
                    <span ng-if="testQuestion.questions.length > 1">
                        ({{testQuestion.questions.length}})
                    </span>
                </div>
                
            </div>
        </div>
        <div layout="row" layout-align="start center" class="width100 marginTB5"   layout-wrap>
            
            <!--<a ng-click="markAnswerExists()" class="marginR10">Mark Answered Questions</a>-->
            <div class="marginR10" ng-if="missingQuestions.length > 0">
            Missing Questions: 
            </div>
            <div ng-repeat="missingQuestion in missingQuestions" layout-wrap class="badge marginB2 marginR2 font9" id="missingBadge"  ng-if="missingQuestions.length > 0">
                <span>
                    Q. {{missingQuestion}}
                </span>
            </div>
            
            <div class="marginLR10"  ng-if="repeatQuestions.length > 0">
            Repeated Questions: 
            </div>
            <div ng-repeat="repeatQuestion in repeatQuestions" layout-wrap class="badge marginB2 marginR2 font9" id="missingBadge">
                <span>
                    Q. {{repeatQuestion}}
                </span>
            </div>
        </div>
        <div layout="column" layout-align="start start" class="width100 marginTB5" >
            <div layout="row" layout-align="start center" class="width100 gainsboroBottomBorder paddingB5" layout-wrap>
                <div layout="row" layout-align="start center" class="font16 bold marginR20">
                    Question&nbsp;<span ng-if="toAddQuestion._startnumber">{{toAddQuestion._startnumber}}</span><span ng-if="toAddQuestion._endnumber">-{{toAddQuestion._endnumber}}</span>
                </div>
                <div layout="row" layout-align="start center" id="addQuestionBadge" class="badge marginR10"  ng-click="addNewQuestionSet()">
                    <i class="fa fa-plus " aria-hidden="true"></i> Add a new Question Set
                </div>
                
                
                <div flex layout="row" layout-align="end center" class="marginL10 " layout-wrap>
                    <div layout="row" layout-align="start center" class="marginR10">
                        <md-switch ng-model="toAddQuestion._groupOfQuestions" aria-label="Question Group?" class="margin0 danger bold">
                            Adding a group of questions?
                        </md-switch>
                    </div>
                    <div layout="row" layout-align="start center" class="danger bold">
                        <md-switch ng-model="toAddQuestion._hascontext" aria-label="Write Up?" class="margin0">
                            Is there a paragraph for the set of questions?
                        </md-switch>
                    </div>
                    <div layout="row" layout-align="start center" class="marginL10" ng-if="fullScope" >
                        <a ng-click="splitQuestions()" class="marginR5" ng-if="toAddQuestion.questions.length > 1">Split Questions</a>
                        <span class="badge" ng-click="removeQuestionDialog()">
                        Delete Question
                        </span>
                    </div>
                    <!--<div layout="row" layout-align="start center" class="marginR10">
                        <md-switch ng-model="toAddQuestion._multipleCorrect" aria-label="Multiple Correct Answers?" class="margin0">
                            Multiple Correct Answers?
                        </md-switch>
                    </div>-->

                </div>
            </div>
            
            <div layout="row" layout-align="end center" class="textDarkGrey width100 paddingTB5" >
                <div layout="row" layout-align="start center" flex class="h3Font">
                Question Set&nbsp;<span ng-if="toAddQuestion._id">has {{toAddQuestion.questions.length}} question(s)</span>
                    
                <input type="text" class="text-center marginL10"  placeholder="Question Section if any" ng-model="toAddQuestion.section">    
                </div>
                <div class="marginR20 danger">
                    Add Images in this Question Set
                </div>
                <div layout="column" layout-align="center start" class=" textDarkGrey" ngf-select="uploadImage(images)" ng-model="images" multiple="multiple" >
                    <div class="padding5" id="pageLogoHolder">
                        <span>
                        <i class="fa fa-file-text font20" aria-hidden="true"></i>
                        </span>
                        <span>
                            Upload Images
                        </span>
                    </div>

                </div>
                <div layout="row" layout-align="start start" ng-if="toAddQuestion.images && toAddQuestion.images.length > 0" class="paddingL20" layout-wrap>
                    <div layout="column" layout-align="center center" ng-repeat="image in toAddQuestion.images" class="marginR10 marginT10">
                        <div layout="row" layout-align="center center" class="marginB5">
                            <a ng-href="{{image}}" target="_blank">
                                <!--<i class="fa fa-check-square-o text-primary marginR10" aria-hidden="true"></i> Image {{$index}}-->
                                <img ng-src="{{image}}" id="screenshot"/>
                            </a>
                        </div>
                        <div layout="row" layout-align="center center" class="badge" id="removebadge" ng-click="removeImage(image)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="start center" class="width100 marginTB5" ng-if="toAddQuestion._hascontext">
                <textarea class="width100 font14" ng-model="toAddQuestion.context" placeholder="Add question context here. Paragraph of RC, etc" rows="4"></textarea>
            </div>
            
            <div layout="column" layout-align="start start" class="boxShadow width100 marginTB10 padding10" ng-repeat="question in toAddQuestion.questions">
                <div layout="row" layout-align="start center" class="width100 marginB10">
                    <div layout="row" layout-align="start center" class="baseFont">
                    Type subquestion {{$index + 1}} here<span class="marginL20 font10">{{toAddQuestion._id}}</span>
                    
                    </div>
                                    
                    <div layout="row" layout-align="start center" ng-click="removeQuestionFromSet(question, $index)" class="marginL20" ng-if="$index > 0">
                        <i class="fa fa-trash font20" aria-hidden="true"></i>
                    </div>
                    <div flex layout="row" layout-align="end center" class="width100">
                        <span class="marginLR10" ng-if="question.type =='mcq'">
                            <md-switch ng-model="question.mcqma" aria-label="MCQ with Multiple Answers?" class="margin0">
                                MCQ with Multiple Answers?
                            </md-switch>
                        </span>
                        
                        <span class="marginL20 badge" ng-click="numericalType(question)" ng-if="question.type =='mcq'">Flip to Numerical Type</span>
                        <span class="marginL20 badge" ng-click="mcqType(question)" ng-if="question.type =='numerical'">Flip to MCQ</span>
                    </div>
                    <span class="marginL20 badge" ng-click="oneoff()">One off</span>
                    
                </div>
                <div layout="row" layout-align="start start" class="width100">
                    
                    
                    <div flex layout="column" layout-align="start start" class="width100">
                        
                        
                        <div layout="row" layout-align="start start" class="marginB10 width100">
                            <textarea class="width100 font14 margin0" ng-model="question.question" placeholder="Add question text here" rows="4"></textarea>
                        </div>
                        
                        <div layout="column" layout-align="start start" class="width100 paddingLR20" ng-repeat="option in question.options" ng-if="question.type=='mcq'">
                            <div layout="row" layout-align="start center" class="width100 marginB2">
                                <div layout="row" layout-align="start center" flex="30">
                                    <div class="font14 marginR20">
                                        Option {{$index+1}}
                                    </div>
                                    <div>
                                        <md-switch ng-model="option._correct" aria-label="Answer?" class="margin0">
                                            Answer?
                                        </md-switch>
                                    </div>
                                </div>
                                <div flex>
                                    <textarea class="width100 font14 margin0" ng-model="option.option" placeholder="Add option here" rows="1"></textarea>
                                </div>
                                <div layout="row" layout-align="center center" class="marginL10">
                                    <div class="badge" id="removebadge" ng-click="removeOption(question, option, $index)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div layout="column" layout-align="start start" class="width100 paddingLR20" ng-show="question.type=='numerical'">
                            <div layout="row" layout-align="start center" class="width100">
                                <div layout="row" layout-align="start center" flex="40">
                                    <div class="font14 marginR20">
                                        Numerical Answer
                                    </div>
                                    <div class="paddingLR10">
                                        <md-select ng-model="question.numericalAnswerType" placeholder="Numerical Answer Type" class="margin0">
                                        <md-option ng-value="numericalAnswerType.value" ng-repeat="numericalAnswerType in numericalAnswerTypes" class="margin0">
                                          {{numericalAnswerType.display}}
                                        </md-option>
                                    </md-select>
                                    
                                    
                                    </div>
                                    <span class="badge" ng-click="addNumericalAnswer(question)" ng-if="question.type =='numerical'">Add another answer</span>
                                </div>
                                <div layout="column" layout-align="start center" flex>
                                <!--ng-if="numericalAnswerType == 'Exact'"-->    
                                <div layout="row" layout-align="start center" class="width100 marginB5" ng-repeat="numericalAnswer in question.numericalAnswers track by $index" ng-if="question.numericalAnswerType == 'Exact'">
                                    <textarea class="width100 font14 margin0" ng-model="question.numericalAnswers[$index]" placeholder="Add numerical answer here" rows="1"></textarea>
                                    <div class="badge marginL10" id="removebadge" ng-click="removeNumericalAnswer(question, $index)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div layout="row" layout-align="start center" class="width100" ng-if="question.numericalAnswerType == 'Range'">
                                    <div flex class="paddingLR10">
                                        <input type="number" class="text-center width100"  placeholder="Min" ng-model="question.numericalAnswerRange.min">
                                    </div>
                                    <div flex class="paddingLR10">
                                        <input type="number" class="text-center width100"  placeholder="Max" ng-model="question.numericalAnswerRange.max" >
                                    </div>
                                </div>    
                                    
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" id="upload3" ng-click="addNewOption(question)" class="width100 marginT5"  ng-if="question.type=='mcq'">
                            <span>
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Another Option
                            </span>
                        </div>
                        
                        
                        
                        <div layout="row" layout-align="start center" class="width100 min10vh marginTB5 paddingLR20">
                            <div layout="row" layout-align="start center" flex="30">
                                <div class="font14">
                                    Marking for question
                                </div>
                            </div>
                            <div layout="row" layout-align="start center" flex>
                                <div layout="row" layout-align="start center">
                                    <div class="text-primary paddingR10">Correct Answer</div>
                                    <div flex class="paddingR10"><input type="text" class="width100 text-center"  placeholder="Correct Answer" ng-model="question.marking.correct"></div>
                                </div>
                                <div layout="row" layout-align="start center">
                                    <div class="danger paddingL10">Incorrect Answer</div>
                                    <div flex class="paddingL10">
                                        <input type="text" class="width100 text-center"  placeholder="Correct Answer" ng-model="question.marking.incorrect">
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div flex layout="row" layout-align="start start" class="marginTB5 paddingLR20 width100">
                            <div flex class="width100">
                                <textarea class="width100 font14 margin0" ng-model="question.solution.solution" placeholder="Add solution here (if available)" rows="3"></textarea>
                            </div>
                            
                            <div layout="column" layout-align="start start" class=" paddingL10" >
                            <div layout="column" layout-align="center start" class=" textDarkGrey width100 height100" ngf-select="uploadSolutionImages(question, question.solutionimages)" ng-model="question.solutionimages" multiple="multiple" >
                                <div class="padding10" id="pageLogoHolder">
                                    <span>
                                    <i class="fa fa-picture-o font24" aria-hidden="true"></i>
                                    </span>
                                    <span>
                                        Upload Solution Images
                                    </span>
                                </div>

                            </div>
                            <div flex layout="row" layout-align="start start" ng-if="question.solution.images && question.solution.images.length > 0" class="paddingL20 width100" layout-wrap>
                                <div layout="column" layout-align="center center" ng-repeat="image in question.solution.images" class="marginR10 marginT10">
                                    <div layout="row" layout-align="center center" class="marginB5">
                                        <a ng-href="{{image}}" target="_blank">
                                            <img ng-src="{{image}}" id="screenshot"/>
                                        </a>
                                    </div>
                                    <div layout="row" layout-align="center center" class="badge" id="removebadge" ng-click="removeSolutionImage(question, image)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div layout="row" layout-align="center center" id="upload4" ng-click="addNewQuestion()" class="width100 marginT10">
                <span>
                    <i class="fa fa-plus" aria-hidden="true"></i> Add another question to this set
                </span>
            </div>
            
            
            
        </div>
        <div layout="column" layout-align="start start" class="width100 headingTopBorder2 paddingT20 marginT40" >
            <div layout="column" layout-align="start start" class="width100 subBaseFont marginTB10 boxShadow padding10" >
                <div layout="row" layout-align="start center" class="width100 marginTB10 padding10 font24 text-primary" ng-if="test.simulate.ready">
                    <div class="paddingR20">
                        <i class="fa fa-check-circle font32" aria-hidden="true"></i>&nbsp;Ready to simulate!
                    </div>
                    <div class="paddingL20">
                        
                        <md-button class="md-danger md-small font10" ng-click="manualMarkforEBSimulation()" ng-if="!test.simulationactive">
                        Manually Mark for EB Simulation
                        </md-button>
                        <md-button class="md-next md-small font10" ng-click="manualUnmarkforEBSimulation()" ng-if="test.simulationactive">
                        Manually Unmark for EB Simulation
                        </md-button>
                        <md-button class="md-danger md-small font10" ng-click="simulateNow()" ng-if="test.simulationactive">
                        Simulate Now
                        </md-button>
                    </div>
                </div>
                <div layout="column" layout-align="start start" class="width100 marginTB10 padding10 assignBackground2" ng-if="test.simulate.comments.length > 0">
                    <div class="baseFont">Simulation Issues - Need Correction <span class="badge">{{test.simulate.comments.length}}</span>
                    
                    </div>

                    <div layout="column" layout-align="start start" class="width100 marginT5 smallFont textBlack" ng-repeat="comment in test.simulate.comments track by $index" >
                        <div layout="row" layout-align="start center" class="width100">
                            <div flex="5">{{$index + 1}}</div>
                            <div flex>
                                {{comment}}
                            </div>
                        </div>

                    </div>

                </div>
                
                
                <div layout="column" layout-align="start start" class="width100 marginTB10">
                <div class="h3Font marginB10">Test Simulation Information</div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Test Name
                    </div>
                    <div flex class="paddingL10">
                        <input type="text" class="width100"  placeholder="Name of the Test" ng-model="test.name">
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Test Description
                    </div>
                    <div flex class="paddingL10">
                        <input type="text" class="width100"  placeholder="Description of the Test" ng-model="test.description">
                    </div>
                </div>    
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Total Number of Questions in the test
                    </div>
                    <div flex class="paddingL10">
                        <input type="text" class="width100"  placeholder="Total Number of Questions" ng-model="test.nQuestions">
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Actual Exam Date
                    </div>
                    <div flex class="paddingL10">
                        <md-datepicker ng-model="test._actualdate" class="margin0" md-placeholder="Actual Exam Date"></md-datepicker>
                    </div>
                </div>    
                    
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Does the test have detailed solutions to every question?
                    </div>
                    <div flex class="paddingL10">
                        <md-switch ng-model="test.solutionkey" aria-label="Solution Key?" class="margin0 danger bold">
                            Solutions (not just correct option) in Answerkey?
                        </md-switch>
                    </div>
                </div>    
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Can the test be reset & taken again by the candidate?
                    </div>
                    <div flex class="paddingL10">
                        <md-switch ng-model="test.resettable" aria-label="Resettable?" class="margin0 danger bold">
                            Resettable test?
                        </md-switch>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Can the test be downloaded by the candidate?
                    </div>
                    <div flex class="paddingL10">
                        <md-switch ng-model="test.downloadable" aria-label="Downloadable?" class="margin0 danger bold">
                            Downloadable test?
                        </md-switch>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Can the test result be analyzed by the candidate?
                    </div>
                    <div flex class="paddingL10">
                        <md-switch ng-model="test.analyzeable" aria-label="Analyzeable?" class="margin0 danger bold">
                            Analyzeable test?
                        </md-switch>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10"  flex="40">
                    Total Duration of the test in minutes
                    </div>
                    <div flex class="paddingL10">
                        <input type="text" class="width100"  placeholder="Duration of the test in minutes" ng-model="test.duration">
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 padding10 assignBackground">
                    <div class="bold paddingR10" flex="40">
                    Simulation Rank
                    </div>
                    <div flex class="paddingL10">
                        <input type="number" class="width100"  placeholder="Rank while showing for simulation (lower is better)" ng-model="test.simulationrank">
                    </div>
                </div>
                
                <div layout="column" layout-align="start start" class="width100 marginTB10 padding10 assignBackground">
                    <div class="baseFont">Test Instructions - Add/Edit</div>

                    <div layout="column" layout-align="start start" class="width100 marginT5" ng-repeat="instruction in test.instructions track by $index" >
                        <div layout="row" layout-align="start center" class="width100 marginB5">
                            <div flex="5">{{$index + 1}}</div>
                            <div flex><input type="text" class="width100"  placeholder="Instruction goes here" ng-model="test.instructions[$index]"></div>
                            <div layout="row" layout-align="end center" flex="5">
                                <i class="fa fa-trash danger" aria-hidden="true" ng-click="removeTestInstruction($index)"></i>
                            </div>
                        </div>

                    </div>

                </div>

                <div layout="row" layout-align="center center" id="upload3" ng-click="addTestInstruction()" class="width100 marginTB5">
                    <span>
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Instruction
                    </span>
                </div>
                
                
                <div layout="row" layout-align="end center" class="width100 marginT20">
                    <md-button class="md-markReview md-small font10" ng-click="showSectionsMarkingDialog()">
                    Custom Sections
                    </md-button>
                    <md-button class="md-green2 md-small font10" ng-click="showCustomMarkingDialog()">
                    Custom Marking
                    </md-button>
                    
                    <md-button class="md-danger md-small font10" ng-click="markSimulate()">
                    Check Simulation Readiness
                    </md-button>
                    <md-button class="md-next md-small font10" ng-click="saveTest()">
                    Save Simulation Details
                    </md-button>
                </div>
                    
                    
                <div layout="column" layout-align="start start" ng-if="showCustomSections" class="width100">

                <div layout="row" layout-align="start start" class="width100 h2Font marginT20">
                    Set sections Questions
                </div>
                <div layout="row" layout-align="start start" class="width100 marginB10">
                    <div layout="column" layout-align="start start"  class="width100 padding10"  ng-repeat="section in allSectionNames" flex="33">
                        <div layout="column" layout-align="start start" class="width100 padding10 boxShadow font9">
                            <div class="width100 marginB10">
                                {{section}}<span ng-if="!section">Not marked</span>
                            </div>
                            <div class="width100 marginB10" layout="row" layout-align="start start" layout-wrap>
                                <span ng-repeat="testQuestion in thisTestQuestions | orderBy:['_startnumber']" layout="row" layout-align="start center" class="badge marginR2 marginB2" ng-class="selectedClass(testQuestion)" ng-if="testQuestion.section == section" ng-click="addtoSelection(testQuestion)">
                                    <span>
                                        Q. {{testQuestion._startnumber}}
                                    </span>
                                    <span ng-if="testQuestion._endnumber && testQuestion._endnumber != ''">
                                            - {{testQuestion._endnumber}}
                                    </span>

                                </span>
                            </div>
                            
                            <div class="width100 marginB10" layout="row" layout-align="start start">
                                <div layout="column" layout-align="start start" ng-repeat="thisSection in test.simulate.sections" ng-if="thisSection.name == section" class="width100">
                                    <div class="width100 padding5" layout="row" layout-align="start center">
                                        <div flex>Is this section timed?</div>
                                        <div flex>
                                        <md-switch ng-model="thisSection.timedSeparately" aria-label="Timed Separately?" class="margin0">
                                            Timed Separately?
                                        </md-switch>
                                        </div>
                                    </div>
                                    <div flex class="width100 padding5" ng-if="thisSection.timedSeparately" layout="row" layout-align="start center">
                                        <div flex>Time Duration</div>
                                        <div>
                                        <input type="text" class="" ng-model="thisSection.time"  placeholder="Time for this section">
                                        </div>
                                    </div>
                                    <div flex class="width100 padding5" ng-if="thisSection.timedSeparately" layout="row" layout-align="start center">
                                        <div flex>Max Break duration after section</div>
                                        <div>
                                        <input type="text" class="" ng-model="thisSection.break"  placeholder="Break duration after section">
                                        </div>
                                    </div>
                                    <div flex class="width100 padding5" ng-if="thisSection.timedSeparately" layout="row" layout-align="start center">
                                        <div flex>Position in simulation</div>
                                        <div>
                                        <input type="text" class="" ng-model="thisSection.order"  placeholder="Position in simulation">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div layout="row" layout-align="end center" class="width100 marginT20">
                    <md-button class="md-markReview md-small font10" ng-click="saveTest()">
                    Save Section Details
                    </md-button>
                </div>
                <div layout="row" layout-align="start center" class="width100 boxShadow lightGreyBackground padding10 margin10" ng-show="selectedQuestions.length > 0">
                    <div layout="column" layout-align="start start" flex>
                        <div class="width100">
                            Set Section Name for: 
                            <span class="badge unselectedbadge marginL10" ng-click="clearSelection()">
                            Clear
                            </span>
                        
                        </div>
                        
                        <div layout="row" layout-align="start start" class="width100" layout-wrap>
                        <span ng-repeat="testQuestion in selectedQuestions | orderBy:['_startnumber']" layout="row" layout-align="start center" class="badge marginR2 marginB2 selectedBadge" ng-click="removeFromSelection(testQuestion)">
                            <span>
                                Q. {{testQuestion._startnumber}}
                            </span>
                            <span ng-if="testQuestion._endnumber && testQuestion._endnumber != ''">
                                    - {{testQuestion._endnumber}}
                            </span>

                        </span>
                        </div>
                        
                    </div>
                    <div layout="row" layout-align="start center" flex>
                        <input type="text" class="" ng-model="newSectionName"  placeholder="New Section Name">
                        <md-button class="md-markReview md-small font10" ng-click="saveSectionNames(newSectionName)">
                        Save Question Section
                        </md-button>
                    </div>
                </div>
            </div>    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div layout="column" layout-align="start start" class="padded width100 font20 danger" ng-if="!user">
        You are not permitted to access this without logging in! Please login and try again!
    </div>
</div>

<div class="bottomBar">
    <div layout="row" layout-align="start center">
        <div hide-xs hide-sm layout="row" layout-align="start center">
            <div>
            Do you want to save your changes to the question? 
            </div>
        </div>
        <div layout="row" layout-align="end center" flex>
            <div class="marginR10">
                <div ng-if="!readyToSave()">
                    <i class="fa fa-check-circle text-primary font20" aria-hidden="true"></i> Good to add!
                </div>
                <div ng-if="readyToSave()">
                    <i class="fa fa-times danger font20" aria-hidden="true"></i> Enter all details before you can add
                </div>
            </div>
            <div layout="row" layout-align="start center" class="marginR10">
                <div layout="row" layout-align="start center" class="marginR10">
                    <input type="text" class="" ng-model="toAddQuestion._startnumber"  placeholder="Q.No. in PDF">
                </div>
                <div layout="row" layout-align="start center" class="marginR10" ng-if="toAddQuestion._groupOfQuestions">
                    <input type="text" class="" ng-model="toAddQuestion._endnumber"  placeholder="Ending Q.No. in PDF">
                </div>

            </div>
            <md-button class="md-green2 md-small font10 width8" ng-click="saveNewQuestion()" ng-disabled="readyToSave()">
            Save
            </md-button>
            <md-button class="md-default md-cancel md-small font10 width8" ng-click="reload()">
                Cancel
            </md-button>
        </div>
        
    </div>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="savedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Changes Saved!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="customMarkingDialog">
      <md-dialog class="blog-dialog whiteBackground padding10">
        <div layout="column" layout-align="start start" class="width100 padding10 min20vh">
            <div layout="column" layout-align="center center" class="h3Font width100 padding10">
                Set marking for questions
            </div>
            <div layout="row" layout-align="start center" layout-wrap class="paddingTB10 width100">
                <div ng-repeat="testQuestion in thisTestQuestions | orderBy:['_startnumber']" layout="row" layout-align="start center" class="badge marginR2 marginB2 font9 questionNoBadge" ng-click="addCustomMarkingQuestion(testQuestion)">
                    <span>
                        Q. {{testQuestion._startnumber}}
                    </span>
                    <span ng-if="testQuestion._endnumber && testQuestion._endnumber != ''">
                        - {{testQuestion._endnumber}}
                    </span>
                    <span ng-if="testQuestion.questions.length > 1">
                        ({{testQuestion.questions.length}})
                    </span>
                </div>
                <div layout="row" layout-align="start center" class="badge marginR2 marginB2 font9 questionNoBadge" ng-click="setAllCustomMarkingQuestion()">
                    <span>
                        All Questions
                    </span>
                </div>
            </div>
            <div layout="row" layout-align="start center" class="width100 min20vh padding10 h3Font" layout-wrap>
                <div class="marginR10">Selected Questions</div>
                <div ng-repeat="testQuestion in customMarkingQuestions | orderBy:['_startnumber']" layout="row" layout-align="start center" class="badge marginR2 marginB2 font9 questionNoBadge" ng-click="removeCustomMarkingQuestion(testQuestion)">
                    <span>
                        Q. {{testQuestion._startnumber}}
                    </span>
                    <span ng-if="testQuestion._endnumber && testQuestion._endnumber != ''">
                        - {{testQuestion._endnumber}}
                    </span>
                    <span ng-if="testQuestion.questions.length > 1">
                        ({{testQuestion.questions.length}})
                    </span>
                </div>
                <div class="marginR2 marginB2 font9" ng-click="removeAllCustomMarkingQuestion()">Clear</div>
            </div>
            <div layout="row" layout-align="start center" class="width100">
                <div flex class="paddingLR10">
                    <input type="number" class="width100 text-primary" ng-model="customMarking.correct"  placeholder="Marks for correct answer">
                </div>
                <div flex class="paddingLR10">
                    <input type="number" class="width100  danger" ng-model="customMarking.incorrect"  placeholder="Marks for incorrect answer">
                </div>
            </div>
        </div>
          <div layout="row" layout-align="center center" class="width100 padding10">
              <md-button class="md-danger md-small font10" ng-click="setCustomMarkingForAll()">
                Set Custom Marking for all questions
                </md-button>
              
          </div>
      </md-dialog>
</div>    
</div>


