<link rel="stylesheet" media="screen" href="handsontable.full.css">
<style>
    .md-block{
        padding: 10px;
        border: 1px solid #ccc; 
    }
    a{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited:hover{
        color: #20C39A;
        text-decoration: none;
    }
</style>
<div class="container">
    <div id="spacer1">
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <span class="text" ng-repeat="existingSendGrid in sendGridCredentials"><small>
            <a ng-click="setSendGridCredential(existingSendGrid)">{{existingSendGrid.apiKey}}</a><span ng-if="!$last">, </span>
            </small></span>
        </div>
    </div>
    
    <md-divider></md-divider>
    
    <div layout="column" layout-margin layout-padding>
    <h6 class="text-primary md-title">Add SendGrid Credentials
    </h6>
    <div class="col-md-12" id="addMasterForm">
        <md-content flex layout-padding>
            <form name="sendGridCredentialForm" >
            <div layout="column" >
                <div layout="column">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>API Key</label>
                        <input required ng-model="sendGridCredential.apiKey">
                    </md-input-container>
                    
                    <div ng-repeat="template in sendGridCredential.emailTemplate">
                        <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nick Name</label>
                            <input ng-model="sendGridCredential.emailTemplate[$index].name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Template Key</label>
                            <input ng-model="sendGridCredential.emailTemplate[$index].templateKey">
                        </md-input-container>
                        </div>
                    </div>
                    <md-switch ng-model="sendGridCredential.active" aria-label="Active?">
                      Active?
                    </md-switch>
                </div>   
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="addEmailTemplate()">New Email Template</md-button>
                </div>
                <md-button class="md-raised md-primary" ng-click="addSendGridCredential()" ng-disabled="sendGridCredentialForm.$invalid">Add/Save SendGrid Credential</md-button>

            </div>
        </form>
        </md-content>
        </div>
    </div>
    
    
</div>
<div>
</div>