<style>
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
        padding: 10px;
        border: solid 1px transparent;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    input[type="text"]:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    
    #profileSection{
        min-height: 20vh;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
</style>
<div class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    <div layout="row" layout-align="center center" class="width100 marginB20">
        <a ng-click="markWatermarked()" id="link">
            Mark Watermarked
        </a>
        <a ng-click="markSimulate()" class="marginL20">
            Mark as simulated
        </a>
        <a ng-click="testsWithQuestions()" class="marginL20">
            Tests with Questions
        </a>
    </div>
    <div layout="row" layout-align="start start" class="padded" ng-if="masterUser" layout-wrap>
    <div flex="100" layout="column" layout-align="center center" ng-repeat="exam in allExams | orderBy:['-nTyped']" class="width100 gainsboroBorder">
        <div layout="column" layout-align="center center" class="width100 marginB20 marginT10">
            <div class="bold">{{exam.displayname}}</div>
            <div>Total tests: {{exam.tests.length}}</div>
            <div>Total questions: {{exam.nTyped}}</div>
        </div>
        <div layout="row" layout-align="start start" flex layout-wrap class=" width100 padding10">
            <div layout="column" layout-align="center center" ng-repeat="test in exam.tests | orderBy:['-nTyped']"  class="marginR5 marginB2">
                <a ui-sref="addQuestion({ testId:{{'test._id'}} })" target="_blank" id="link" class="marginR5 marginB2">
                    {{$index + 1}}. {{test.name}}&nbsp;&nbsp;<i class="fa fa-anchor" aria-hidden="true" ng-if="test.url.answer"></i>
                    <span class="badge" ng-if="test.nTyped">{{test.nTyped}}</span>
                </a>
                <!--<div ng-click="upload(test)">
                    Upload
                </div>-->
            </div>
        </div>
        
    </div>
    </div>
    <div layout="row" layout-align="start start" class="padded" ng-if="masterUser" layout-wrap>
        
    </div>
</div>
