<style>
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
        padding: 10px;
        border: solid 1px transparent;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    input[type="text"]:focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }
    
    #profileSection{
        min-height: 20vh;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    .badge{
        background:#FF5A5F;
    }
</style>
<div id="spacer">
</div>
<div class="whiteBackground mainContent" ng-if="fullScope">
    
    <div layout="row" layout-align="center center" class="width100 marginB20" ng-if="user._id=='5a04512a63c45b592385f27b'">
        <!--<a ng-click="markWatermarked()" id="link">
            Mark Watermarked
        </a>-->
        <a ng-click="markMCQs()" class="marginR5">Mark MCQs</a>
        <a ng-click="markSimulate()" class="marginL20">
            Run Simulation Analysis
        </a>
        <a ng-click="testsWithQuestions()" class="marginL20">
            Tests with Questions
        </a>
    </div>
    
    <div layout="row" layout-align="start start" class="padded" ng-if="fullScope" layout-wrap>
        
    <div layout="row" layout-align="center center" class="width100 marginTB10" layout-wrap>
        <div layout="row" layout-align="center center" class="marginR20 h3Font">Simulation Ready Tests</div>
        <span ng-repeat="exam in allExams | orderBy:['-nReady']" class="marginR5 marginB5 badge" ng-if="exam.nReady > 0">
            {{exam.displayname}}&nbsp;{{exam.nReady}}
        </span>
    </div>
        
    <div layout="column" layout-align="center center" ng-repeat="exam in allExams | orderBy:['-nTyped']" class="width100 boxShadow marginTB10 font12">
        <div layout="column" layout-align="center center" class="width100 marginTB10">
            <div class="h3Font bold">{{exam.displayname}}</div>
            <div>Total tests: {{exam.tests.length}} & Total questions: {{exam.nTyped}}</div>
        </div>
        
        
        <div layout="row" layout-align="start start" layout-wrap class="width100 greyBottomBorder assignBackground">
            <div layout="row" layout-align="center center" flex="5">S. No.</div>
            <div layout="row" layout-align="start center" flex="25">Paper</div>
            <div layout="row" layout-align="center center" flex="5">Ready?</div>
            <div layout="row" layout-align="center center" flex="10">#Comments</div>
            <div layout="row" layout-align="center center" flex="10">Active on EB</div>
            <div layout="row" layout-align="center center" flex="5">Year</div>
            <div layout="row" layout-align="center center" flex="5">#Typed</div>
            <div layout="row" layout-align="center center" flex="5">#Questions</div>
            <div layout="row" layout-align="center center" flex="10">#Instructions</div>
            <div layout="row" layout-align="center center" flex="5">Duration</div>
            <div layout="row" layout-align="center center" flex="10">Max Score</div>
            <div layout="row" layout-align="center center" flex="5">Reset</div>
        </div>
        <div layout="column" layout-align="start start" class=" width100" >
            <div layout="row" layout-align="start center" ng-repeat="test in exam.tests | orderBy:['-simulationactive','-simulate.ready','-year','-nTyped', 'simulate.comments.length']"  class="width100 greyDashedBottomBorder">
                <div layout="row" layout-align="center center" flex="5">
                    {{$index + 1}}
                </div>
                <div layout="row" layout-align="start center" flex="25">
                    <a ui-sref="addQuestion({ testId:{{'test._id'}} })" target="_blank" id="link" class="bold">
                    {{test.name}}
                    
                    </a>
                </div>
                <div layout="row" layout-align="center center" flex="5">
                    <span ng-if="test.simulate.ready">
                        <i class="fa fa-check-circle font16 text-primary" aria-hidden="true"></i>
                    </span>
                    <span ng-if="!test.simulate.ready">
                        <i class="fa fa-times font16 danger" aria-hidden="true"></i>
                    </span>
                </div>
                <div layout="row" layout-align="center center" flex="10">
                    {{test.simulate.comments.length}}
                </div>
                
                <div layout="row" layout-align="center center" flex="10">
                    <span ng-if="test.simulationactive">
                        <i class="fa fa-eye font16 text-primary" aria-hidden="true"></i>
                    </span>
                    <span ng-if="!test.simulationactive">
                        <i class="fa fa-eye-slash font16 danger" aria-hidden="true"></i>
                    </span>
                </div>
                <div layout="row" layout-align="center center" flex="5">
                    {{test.year}}
                </div>
                <div layout="row" layout-align="center center" flex="5">
                    <span class="badge" ng-if="test.nTyped">{{test.nTyped}}</span>
                </div>
                <div layout="row" layout-align="center center" flex="5">
                    {{test.nQuestions}}
                </div>
                <div layout="row" layout-align="center center" flex="10">
                    {{test.instructions.length}}
                </div>
                <div layout="row" layout-align="center center" flex="5">
                    {{test.duration}}
                </div>
                <div layout="row" layout-align="center center" flex="10">
                    {{test.maxScore}}
                </div>
                <div layout="row" layout-align="center center" flex="5">
                    <span ng-if="test.resettable">
                        <i class="fa fa-check-circle font16" aria-hidden="true"></i>
                    </span>
                    <span ng-if="!test.resettable">
                        <i class="fa fa-times font16" aria-hidden="true"></i>
                    </span>
                </div>
                <!--<div ng-click="upload(test)">
                    Upload
                </div>-->
            </div>
        </div>
        
    </div>
    </div>
</div>
<div layout="column" layout-align="start start" class="padded width100 font16 danger" ng-if="!fullScope">
    You are not permitted to access this without logging in! Please login and try again!
</div>