<style>
    #autocompleteLogo{
        max-height: 35px;
        max-width: 70px;
    }
    .autocomplete li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal; 
    }
    .autocomplete .item-title,  .autocomplete .item-metadata {
          display: block;
          line-height: 2; 
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #mapHolder{
        min-height: 80vh;
    }
    #map{
        height:100%;
    } 
    #logo{
        max-width: 100px;
    }
    .activeCity{
        font-size: 16px;
        font-weight: bold;
        color: #20C39A;
    }
    md-slider .md-track-ticks canvas {
      height: 10px;
    }
    md-slider .md-track canvas {
      height: 5px;
    }
    md-slider[md-discrete] .md-sign,
    md-slider[md-discrete] .md-sign:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
    }
    #examTagHolder{
        padding:5px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #existingExamTagHolder{
        padding:5px;
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
</style>


<div layout="column" class="whiteBackground mainContent" layout-fill>
    <div id="spacer">
    </div>
    <div  layout-wrap layout="row" class="padded2">
        <div layout="row" class="width100">
                
            <div layout="row" layout-align="start center" flex="50">
                <div>
                    <md-slider flex min="0" max="40" ng-model="searchDistance" aria-label="distance">
                    </md-slider>
                </div>
                <div>
                    search within {{searchDistance}} kms
                </div>
                <div>
                    <md-button class="md-black md-small " ng-click="showExamDialog()">
                        Exam Filter
                    </md-button>
                </div>
            </div>

        </div>
    </div>
    <div  layout-wrap layout="row" class="padded2">
        <div flex="70" flex-xs="100" layout="column" class="">
            <ng-map center="{{currLocation}}" scrollwheel="true" zoom="13" id="map" class="min80vh">
                <marker position="{{currLocation}}"
                  title="City" draggable="true" on-dragend="onDragEnd(this)" icon="{path:'CIRCLE', scale: 10}"></marker>

                <marker position="{{provider.mapLatLng}}"
                title="{{provider.name}}"
                ng-repeat="provider in providers | filter:filterText as filtered track by $index" on-click="showProvider(event, provider)">

                </marker>
            </ng-map>
        </div>
        
        
        
        
        <div flex="30" flex-xs="100" layout="column" layout-align="start start" class="padded2 marginT20" ng-if="providers.length > 0">
            
            <div layout="row" class="font12" >
                We found {{providers.length}} providers within {{searchDistance}} kms around you
            </div>
            <div layout="row"  ng-if="activeProvider">
                
                <div flex="70" layout="column" layout-align="start start">
                    <div flex layout="column" layout-align="start start" class="editFont width100 font10" >
                        <span class="editFont">
                            <a ui-sref="claim({ coachingId:{{'activeProvider._id'}} })" target="_blank" id="link">
                            <strong>{{activeProvider.name}}</strong>
                            </a>
                        </span>
                        <span>{{activeProvider.address}}</span>
                        <span>Verfiy State: {{activeProvider.ebVerifyState}}</span>
                        <span>
                        <span ng-repeat="phone in activeProvider.phone" >
                            {{phone}}&nbsp;
                        </span>
                        </span>
                        <span>
                        <span ng-repeat="mobile in activeProvider.mobile" >
                            {{mobile}}&nbsp;
                        </span>
                        </span>
                        <span>
                        <span class="marginR5" ng-repeat="website in activeProvider.website" >
                            <a ng-href="{{website}}" target="_blank"  id="link">
                            {{website}}
                            </a>
                        </span>
                        </span>
                    </div>
                </div>
                <div flex="30" layout="column" layout-align="start start">
                    <img ng-if="activeProvider.logo && activeProvider.logo!=''" ng-src="{{activeProvider.logo}}" id="logo"/>
                </div>
            
            </div>
            
        </div>
        
    </div>
    
    
    
    
    
</div>




<div layout="column" layout-align="center end" class="rightMidButton">
    <!--<md-button class="md-black md-small " ng-click="setLocofAll()">
        Transform Lat Lng
    </md-button>-->
    <md-button class="md-black md-small " ng-click="aroundme()">
        Around me
    </md-button>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="examDialog">
      <md-dialog class="edit-dialog whiteBackground">
          <md-content flex layout="column" class="width100 paddingLR20">
            
            <div layout="row" layout-align="center center" class="blogFont width100 marginB10 paddingTB10 gainsboroBottomBorder ">
                <div layout="row" layout-align="center center" flex>
                    Mark exams you want to search for!
                </div>
                <div>
                    <md-button class="md-danger md-small  tolowercase" ng-click="closeDialog()">
                        Done
                    </md-button>
                </div>
                
            </div>
            <div layout="column" layout-align="center center" class="width100 marginB20 marginLR20 font12">
                <div layout="row" layout-align="start start"  class="width100 marginB10 bold">
                    <div flex="15">
                        Stream
                    </div>
                    <div flex="85">
                        Select Exams
                    </div>
                </div>
                <div layout="row" layout-align="start start" ng-repeat="thisStream in allStreams" ng-if="thisStream.active" class="width100 marginTB5">
                    <div flex="15">
                        {{thisStream.displayname}}
                    </div>
                    <div flex="85">
                        <span ng-repeat="thisExam in allExams" ng-if="thisExam.stream._id == thisStream._id">
                            <span class="badge" id="examTagHolder" ng-if="searchExams.indexOf(thisExam._id) == -1" ng-click="addExam(thisExam)">
                                {{thisExam.displayname}}
                            </span>
                            <span class="badge" id="existingExamTagHolder" ng-if="searchExams.indexOf(thisExam._id) != -1" ng-click="removeExam(thisExam)">
                                {{thisExam.displayname}}
                            </span>
                        </span>
                    </div>
                </div>

            </div>
              
          
          
        </md-content>  
      </md-dialog>
    </div>    
</div> 