<style>
    #autocompleteLogo{
        max-height: 35px;
        max-width: 70px;
    }
    .autocomplete li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal; 
    }
    .autocomplete .item-title,  .autocomplete .item-metadata {
          display: block;
          line-height: 2; 
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #mapHolder{
        min-height: 80vh;
    }
    #map{
        height:100%;
    } 
    #logo{
        max-width: 100px;
    }
    .activeCity{
        font-size: 16px;
        font-weight: bold;
        color: #20C39A;
    }
    
</style>


<div layout="column" class="whiteBackground mainContent" layout-fill>
    <div id="spacer">
    </div>
    
    <div  layout-wrap layout="row" class="padded2">
        <div flex="70" flex-xs="100" layout="column" class="min80vh">
            <ng-map center="{{currLocation}}" scrollwheel="true" zoom="13" id="map">
                <marker position="{{currLocation}}"
                  title="City" draggable="false" icon="{path:'CIRCLE', scale: 10}"></marker>
                
                <marker position="{{provider.mapLatLng}}"
                title="{{provider.name}}"
                ng-repeat="provider in providers | filter:filterText as filtered track by $index" on-click="showProvider(event, provider)">
                    
                </marker>
            </ng-map>
        </div>
        
        
        
        
        <div flex="30" flex-xs="100" layout="column" layout-align="start start" class="padded2 marginT20" ng-if="providers.length > 0">
            
            <div layout="row" class="font12" >
                We found {{providers.length}} providers within {{searchDistance}} kms around you
            </div>
            <div layout="row"  ng-if="activeProvider">
                
                <div flex="70" layout="column" layout-align="start start">
                    <div flex layout="column" layout-align="start start" class="editFont width100 font10" >
                        <span class="editFont">
                            <a ui-sref="claim({ coachingId:{{'activeProvider._id'}} })" target="_blank" id="link">
                            <strong>{{activeProvider.name}}</strong>
                            </a>
                        </span>
                        <span>{{activeProvider.address}}</span>
                        <span>Verfiy State: {{activeProvider.ebVerifyState}}</span>
                        <span>
                        <span ng-repeat="phone in activeProvider.phone" >
                            {{phone}}&nbsp;
                        </span>
                        </span>
                        <span>
                        <span ng-repeat="mobile in activeProvider.mobile" >
                            {{mobile}}&nbsp;
                        </span>
                        </span>
                        <span>
                        <span class="marginR5" ng-repeat="website in activeProvider.website" >
                            <a ng-href="{{website}}" target="_blank"  id="link">
                            {{website}}
                            </a>
                        </span>
                        </span>
                    </div>
                </div>
                <div flex="30" layout="column" layout-align="start start">
                    <img ng-if="activeProvider.logo && activeProvider.logo!=''" ng-src="{{activeProvider.logo}}" id="logo"/>
                </div>
            
            </div>
            
        </div>
        
    </div>
    
    
    
    
    
</div>




<div layout="column" layout-align="center end" class="rightMidButton">
    <!--<md-button class="md-black md-small " ng-click="setLocofAll()">
        Transform Lat Lng
    </md-button>-->
    <md-button class="md-black md-small " ng-click="aroundme()">
        Around me
    </md-button>
</div>