<div layout="column" layout-align="center start" class="width100 font14" ng-if="activeCategory.name =='Academic Details'">
                        <div layout="column" layout-align="start start" class="academicRow subSectionHeader" ng-if="activeSubcategory.name =='Education Level'">
                        
                            <div layout="row" layout-align="start center" class="font16 marginB10 width100 academicSubHeader">
                                Choose your Education Level
                            </div>
                            <div layout="row" layout-align="start start" class="fieldRow" layout-wrap>
                                <div flex-xs="20" flex="20" ng-repeat="educationLevel in educationLevels" class="padding10">
                                    <span layout="row" layout-align="center center" class="wrap edLevelTag width100 min15vh text-center" ng-class="{ filledEdLevelTag: user.eligibility.educationLevel.name=='{{educationLevel.name}}' }" ng-click="setEducationLevel(educationLevel)">
                                        {{educationLevel.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="activeSubcategory.name =='School Class XII' && user.eligibility.educationLevel.level >= 1">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            School Class XII
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Subjects</div>
                            <div layout="row" layout-align="start center" flex class="col2" layout-wrap>
                                <div flex="25" ng-repeat="class12Subject in class12Subjects" class="padding10">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.class12Subjects[class12Subject.name] }" ng-click="setClass12Subjects(class12Subject.name)">
                                        {{class12Subject.displayname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Class XII Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.class12Percentage" step="1" min="40" max="100" aria-label="Class 12th Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="activeSubcategory.name =='Undergraduate' && user.eligibility.educationLevel.level >= 3">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            Undergraduate
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Degree</div>
                            
                            <div flex layout="column" layout-align="start start" class="width100">
                            
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Engineering
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='engineering'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                                
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Medical
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='medical'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                                
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Law
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='law'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                            
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Other
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='other'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>     
                            </div>
                            </div>
                            
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Equivalent Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.undergradPercentage" step="1" min="40" max="100" aria-label="Undergrad Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="activeSubcategory.name =='Postgraduate' && user.eligibility.educationLevel.level >= 5">
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            Postgraduate
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Degree</div>
                            <div layout="row" layout-align="start center" flex class="col2" layout-wrap>
                                <div flex="25" ng-repeat="postgradMajor in postgradMajors" class="padding10">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.postgradMajor[postgradMajor.name] }" ng-click="setPostgradMajor(postgradMajor.name)" layout-wrap>
                                        {{postgradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Equivalent Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.postgradPercentage" step="1" min="40" max="100" aria-label="Postgrad Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                    </div>