
<div class="container">
    <div id="spacer1">
    </div>
    <h1>{{urls.length}}</h1>
    <div class="min20vh width100"></div>
    <div class="paddingLR40 lightGreyBackground">
        <md-button class="md-black md-small padding0 font10 tolowercase " ng-click="downloadBlogSitemap()">
            Download Sitemap
        </md-button>
        <md-button class="md-black md-small padding0 font10 tolowercase " ng-click="downloadBlogRSS()">
            Download RSS
        </md-button>
    </div>
    <div class="paddingLR40 lightGreyBackground">
    <div>{{xmlStart}}</div>
    <div>{{urlsetStart}}</div>
    <div layout="column" layout-align="start start" ng-repeat ="url in urls" class="width100">
        <div layout="column" layout-align="start start">
            <div>{{urlStart}}</div>
            <div layout="row" layout-align="start start">
                <div>{{locStart}}</div>
                <div>{{url.url}}</div>
                <div>{{locEnd}}</div>
            </div>
            <div layout="row" layout-align="start start" ng-if="url.changefreq">
                <div>{{changefreqStart}}</div>
                <div>{{url.changefreq}}</div>
                <div>{{changefreqEnd}}</div>
            </div>
            <div layout="row" layout-align="start start" ng-if="url.priority">
                <div>{{priorityStart}}</div>
                <div>{{url.priority}}</div>
                <div>{{priorityEnd}}</div>
            </div>
            <div>{{urlEnd}}</div>
            <!--<a ng-href="{{url.url}}" target="_blank">{{url.url}}</a>-->
        </div>
        <!--<div flex="10">
            {{url.count}}
        </div>
        <div flex="10"><a ng-href="{{url}}?_escaped_fragment_=" target="_blank">Prerender</a></div>-->
        
    </div>
    <div>{{urlsetEnd}}</div>
    </div>
        
    
</div>
