<style>
    .top-buffer{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #landingPage{
        min-height: 80vh;
    }
    #subcategory{
        text-align: center;
        
        min-height: 15vh;
    }
    
    
</style>
<div class="container">
    <div class="column" id="landingPage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated bounce text-center top-buffer" id="pageHeader">
            <h4 class="text md-display-3">What are you preparing for <span class="text-primary">in {{category.displayname}}?</span>
            </h4>
        </div>
        <div ng-repeat="subcategory in category.subcategory">
            <div  class="panel panel-default col-xs-12 col-sm-12 col-md-3 col-lg-3" id="subcategory">
                <div class="panel-body" ui-sref="city({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}} })">
                    <!--  ng-click="goToCity(subcategory)"-->
                    <div class="hvr-underline-from-left">
                        <strong>
                            <h6 class="text text-center md-title">{{subcategory.displayname}}</h6>
                        </strong>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
    
    
</div>