<style>
    
    #category{
        text-align: center;
        min-height: 15vh;
        
        padding: 0px;
        border: white;
        background-color: rgba(255,255,255,1);
        
    }
    #categoryFont{
        color: white;
        min-width: 200px;
        border-style: solid;
        border-width: 3px;
        background-color: rgba(0,0,0,0.5);
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px;
    }
    #categoryBorder{
        
    }
    #headerFont{
        color: white;
    }
    a:hover{
        text-decoration: none;
    }
    
    
    
</style>
<div id="fullPageBackground">
<div class="container">
    <div class="column col-xs-12 col-sm-12 col-md-12 col-lg-12" id="landingPage">
        <div class="column hidden-xs col-sm-12 col-md-12 col-lg-12" id="breadcrumb"><small>
            <span><a ui-sref="main">EXAMBAZAAR</a></span>
            <span> / {{category.displayname | uppercase}}</span>
        </small></div>
        
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 animated bounce top-buffer" id="pageHeader">
            <h1 class="text md-display-1" id="headerFont"><strong>WHAT IN {{category.displayname | uppercase}}?</strong>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div ng-repeat="subcategory in category.subcategory">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="categoryBorder">
                <md-tooltip>{{subcategory.description}}</md-tooltip>
                <a class="md-subhead text-center hvr-sweep-to-right " id="categoryFont" ui-sref="city({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}} })">{{subcategory.displayname}}</a>
            </div>
            
            
        </div>
        </div>
        
    </div>
</div>
</div>