<style>
    .top-buffer{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #landingPage{
        min-height: 80vh;
    }
    #subcategory{
        text-align: center;
        min-height: 5vh;
    }
    
    
</style>
<div class="container">
    <div class="column" id="landingPage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated bounce text-center top-buffer" id="pageHeader">
            <h4 class="text md-display-3">Where do you want to <span class="text-primary">study for {{subcategory.displayname}}?</span>
            </h4>
            <md-divider></md-divider>
        </div>
        
        <div ng-repeat="city in cities" ui-sref="findCoaching({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}} })">
            <!-- ng-click="showCoaching(city)"-->
            <span  class="col-xs-6 col-sm-6 col-md-2 col-lg-2 hvr-underline-from-left">
                <h6 class="text-center md-title">{{city}}</h6>
            </span> 
        </div>
        
    </div>
    
    
</div>