<style>
    .top-buffer{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #landingPage{
        min-height: 85vh;
        
    }
    #category{
        text-align: center;
        min-height: 15vh;
        
        padding: 0px;
        border: white;
        background-color: rgba(255,255,255,1);
        
    }
    #categoryFont{
        color: white;
        min-width: 200px;
        border-style: solid;
        border-width: 3px;
        background-color: rgba(0,0,0,0.5);
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px;
    }
    #categoryFont2{
        color: white;
        border-style: solid;
        border-width: 2px;
        background-color: rgba(0,0,0,0.5);
        margin-top:20px;
        margin-bottom:20px;
        padding: 10px;
    }
    #headerFont{
        color: white;
    }
    #pageHeader{
        background-color: rgba(0,0,0,0.5);
    }
    a:hover{
        text-decoration: none;
    }
    a{
        color: white;
    }
    #subcategory{
        text-align: center;
        min-height: 5vh;
    }
    
    
</style>
<div id="fullPageBackground">
<div class="container">
    <div class="column col-sm-12 col-md-12 col-lg-12" id="landingPage">
        <div class="column hidden-xs col-sm-12 col-md-12 col-lg-12" id="breadcrumb"><small>
            <span><a ui-sref="main">EXAMBAZAAR</a></span>
            <span> / <a ui-sref="category({ categoryName:{{'category.name'}} })">{{category.displayname | uppercase}}</a></span>
            <span> / {{subcategory.displayname | uppercase}}</span>
        </small></div>
        
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 animated bounce top-buffer" id="pageHeader">
            <h1 class="text md-display-1" id="headerFont"><strong>WHERE DO YOU WANT TO STUDY?</strong>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        <div ng-repeat="city in rankedCities" ng-if="$index<12">
            <!-- ng-click="showCoaching(city)"-->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a class="md-subhead text-center hvr-sweep-to-right " id="categoryFont" ui-sref="findCoaching({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}} })">
                    {{city}}
                </a>
            </div> 
        </div>
        </div>
            
        <div class="row" id="categoryFont2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <span class="md-subhead"><strong>Other Cities</strong></span>
        </div>
        <div ng-repeat="city in rankedCities" ng-if="$index>=12" >
            <!-- ng-click="showCoaching(city)"-->
            <div class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
                <a class="text-center hvr-sweep-to-right "  ui-sref="findCoaching({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}} })">
                    <small>{{city}}</small>
                </a>
            </div> 
        </div>
        </div>
        <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="categoryBorder">
                <md-input-container class="md-block" flex-gt-sm id="categoryFont">
                    <md-select placeholder="Other Cities" ng-model="otherCity">
                      <md-option ng-repeat="city in rankedCities" value="{{city}}" ng-if="$index>=12" class="md-subhead">
                        {{city}}
                      </md-option>
                    </md-select>
                  </md-input-container>
        </div>-->
        </div>
        
    </div>
    
</div>  
</div>