<link rel="stylesheet" media="screen" href="handsontable.full.css">
<style>
    #autocompleteLogo{
        max-height: 35px;
        max-width: 70px;
    }
    .autocomplete li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal; 
    }
    .autocomplete .item-title,  .autocomplete .item-metadata {
          display: block;
          line-height: 2; 
    }
    
    #link{
        color: black;
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    
     #hotTable{
        overflow: hidden;
        text-align: left;
    }
    
</style>


<div class="whiteBackground mainContent padded2" >
    <div id="spacer">
    </div>
    <div layout="column" ng-controller="coachingGroupAutocompleteController as ctrl">
        <md-autocomplete flex 
        md-selected-item="ctrl.selectedItem"
        md-selected-item-change= "ctrl.selectedItemChange(item)"
        md-search-text="ctrl.searchText"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.name"
        md-delay="300"
        md-menu-class="autocomplete"
        placeholder="Search Coaching Group"
        class="width100">
            <md-item-template >
              <span class="item-title font12">
                  <span class="font14"><strong>{{item.name}}</strong></span>&nbsp;&nbsp;
                  <img ng-if="item.logo" ng-src="{{item.logo}}" id="autocompleteLogo"/>
              </span>
              <span class="item-metadata">
                <span class="item-metastat font10">
                  {{item.city}}:
                </span>&nbsp;
                <span class="item-metastat font10">
                  {{item.address}}
                </span>
              </span>
            </md-item-template>
          
        </md-autocomplete>
    </div>
    <div layout="column" class="marginT40 textBlack" ng-if="coachingGroup.groupName">
        <div layout="row" class="secondFont textBlack  marginB20" ><span class="bold">Coaching Group:</span>&nbsp; {{coachingGroup.groupName}}&nbsp;&nbsp;<span class="badge" id="badge">{{coachingGroupItems.length}}</span>&nbsp;
        <a ng-click="showSpreadsheetDialog()" ng-if="spreadsheetMode" class="danger">
            Spreadsheet
        </a>
        </div>
        
        <div layout="row" class="editFont font11 bold greyBottomBorder textBlack">
            <div flex="5" class="padding1">S.No.</div>
            <div flex="10" class="padding1">Institute Name</div>
            <div flex="15" class="padding1">Address</div>
            <div flex="10" class="padding1">City</div>
            <div flex="10" class="padding1">State</div>
            <div flex="5" class="padding1">Pin Code</div>
            <div flex="10" class="padding1">Logo</div>
            <div flex="10" class="padding1">Email</div>
            <div flex="10" class="padding1">Phone</div>
            <div flex="10" class="padding1">Mobile</div>
            <div flex="5" class="padding1">Website</div>

        </div>
        <div layout="row" class="editFont font11 greyBottomBorder textBlack" ng-repeat="thisProvider in coachingGroupItems" ng-if="thisProvider.groupName == coachingGroup.groupName">
            <div flex="5" class="padding1">{{$index + 1}}</div>
            <div flex="10" class="padding1">
                <a ui-sref="claim({ coachingId:{{'thisProvider._id'}} })" target="_blank" id="link">
                <strong>{{thisProvider.name}}</strong>
                </a>
            
            </div>
            <div flex="15" class="padding1">{{thisProvider.address}}</div>
            <div flex="10" class="padding1">{{thisProvider.city}}</div>
            <div flex="10" class="padding1">{{thisProvider.state}}</div>
            <div flex="5" class="padding1">{{thisProvider.pincode}}</div>
            <div flex="10" class="padding1">
                <img ng-src="{{thisProvider.logo}}" id="autocompleteLogo"/>
            </div>
            <div flex="10" class="padding1">
                <span ng-repeat="email in thisProvider.email">
                    Email
                    <md-tooltip>{{email}}</md-tooltip>
                    <span ng-if="!last">,&nbsp;</span>
                </span>
            </div>
            <div flex="10" class="padding1">
                <span ng-repeat="phone in thisProvider.phone">
                    {{phone}}<span ng-if="!last">,&nbsp;</span>
                </span>
            </div>
            <div flex="10" class="padding1">
                <span ng-repeat="mobile in thisProvider.mobile">
                    {{mobile}}<span ng-if="!last">,&nbsp;</span>
                </span>
            </div>
            <div flex="5" class="padding1">
            <a ng-href="{{thisProvider.website[0]}}" target="_blank" ng-if="thisProvider.website.length > 0 && thisProvider.website[0] !=''" id="link">
                <md-tooltip>{{thisProvider.website[0]}}</md-tooltip>
                Url
            </a></div>
            
        </div>
    </div>
        
        
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="spreadsheetDialog">
      <md-dialog class="offer-dialog whiteBackground">
          
          <div layout="column" layout-align="start center" class="padding20 width100">
              <hot-table settings="{colHeaders: colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row','undo','redo'], afterChange: afterChange, stretchH: 'all', wordWrap:'true', renderAllRows: 'true'}" context-menu  datarows="spreadSheetCoachings" height="400" id="hotTable" class="width90">
                  <hot-column data="sno" title="'S. No.'"  width="40"></hot-column>
                  <hot-column data="_id" title="'EB Id'"  width="150"></hot-column>
                  <hot-column data="name" title="'Name'"  width="200"></hot-column>
                  <hot-column data="address" title="'Address'"  width="200"></hot-column>
                  <hot-column data="city" title="'City'"  width="80"></hot-column>
                  <hot-column data="state" title="'State'"  width="80"></hot-column>
                  <hot-column data="pincode" title="'Pincode'"  width="80"></hot-column>
                  <hot-column data="logo" title="'Logo'"  width="80"></hot-column>
                  <hot-column data="email" title="'Email'"  width="120"></hot-column>
                  <hot-column data="phone" title="'Phone'"  width="120"></hot-column>
                  <hot-column data="mobile" title="'Mobile'"  width="120"></hot-column>
                  <hot-column data="website" title="'Website'"  width="120"></hot-column>
              </hot-table>
                      
          </div>
      </md-dialog>
    </div>    
</div>