<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #upload2{
        background: white;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #upload2:hover {
        background: #ccc;
        cursor: pointer;
    }
    #copyLink{
        cursor: pointer;
    }
    #fullHeightPage{
        min-height: 90vh;
    }
    #instituteSection{
        min-height: 30vh;
    }
    .min30vh{
        min-height: 30vh;
    }
    .min50vh{
        min-height: 50vh;
    }
    #partner{
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    }
    #loginInput{
        border: 0;
        outline: 0;
        background: transparent;
        padding: 5px;
        margin-bottom: 2px;
        text-align: left;
        font-family: "Open Sans";
        color: black;
        border: 1px solid gainsboro;
        font-size:12px;
    }
    #examTagHolder{
        padding:5px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #existingExamTagHolder{
        padding:5px;
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground width100" id="fullHeightPage">
    <div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="center start" class="marginTB10 paddingTB10 height100 width100" ng-if="!disabled">
        <div layout="row" layout-align="start center" class="font10 width100 marginTB5">
            <div layout="row" layout-align="start center" flex>
                <div layout="row" layout-align="start center" class="bold paddingR10">
                    <span class="font16" ng-if="assigned">Assigned Colleges</span>
                    <span class="font16" ng-if="!assigned">Unassigned Colleges</span>
                </div>
                <md-button class="md-danger md-small font10" ng-click="flipAssigned()">
                    Flip
                </md-button>
            
            </div>
            <div layout="row" layout-align="start center" flex>
                <div class="marginR10">Number of colleges on a page:</div>
                <md-button class="md-small font10 marginR10" ng-click="nColleges(limit)" ng-class="buttonClass(limit)" ng-repeat="limit in limits">
                    {{limit}}
                </md-button>
            </div>
        </div>
        <div layout="row" layout-align="start center" class="font10 bold width100 marginTB5 gainsboroBottomBorder">
            <div flex="5" class="paddingLR10">
                No
            </div>
            <div flex="25" class="paddingLR10">
                College Name
            </div>
            <div flex="10" class="paddingLR10">
                District
            </div>
            <div flex="10" class="paddingLR10">
                State
            </div>
            <div flex="10" class="paddingLR10">
                Website
            </div>
        </div>
        <div layout="row" layout-align="start center" ng-repeat="college in colleges" class="font10 width100 marginTB5 gainsboroBottomBorder" ng-if="colleges">
            <div layout="row" layout-align="start center" flex="5" class="paddingLR10">
                {{collegesForm.skip + $index + 1}}&nbsp;&nbsp;<i class="fa fa-check-circle text-primary" aria-hidden="true" ng-if="AllIds.indexOf(college._id) != -1"></i>
            </div>
            <div flex="25" class="paddingLR10">
                <div class="width100">
                    
                    <a ui-sref="editCollege({ collegeId:{{'college._id'}} })" target="_blank">{{college.inst_name}}
                    </a>
                </div>
                <!--<div class="width100 font10">{{college.Institute["Institute Type"]}}</div>-->
            </div>
            <div flex="10" class="paddingLR10">
                {{college.district}}
            </div>
            <div flex="10" class="paddingLR10">
                {{college.state}}
            </div>
            <div flex="10" class="paddingLR10" www.exambazaar.com>
                <a ng-href="{{college.website}}" target="_blank" id="linkFont">{{college.website}}</a>
            </div>
        </div>

        <div layout="row" layout-align="center center" class="width100 min50vh" ng-if="!colleges">
            <img src="images/loader/30.gif"/>
            
        </div>
    </div>
    <div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="center start" class="marginTB40 paddingTB10 height100 width100 min80vh font16 danger" ng-if="disabled">
        You are not allowed to access this page!
    </div>
</div>

<div layout="row" layout-align="start center" class="bottomBar">
    <div layout="row" layout-align="start center" flex ="70" class="">
        <div ng-if="colleges" class="marginR10">
         {{colleges.length}} colleges:
        </div>
        <div ng-if="colleges && !assigned && canAssign" flex layout="row" layout-align="start center" class="marginL10">
            <md-select flex ng-model="assignedTo" placeholder="Intern" class="margin0">
                <md-option ng-value="intern._id" ng-repeat="intern in interns" class="margin0" ng-click="updateAssignedTo(intern)">
                  {{intern.basic.name}}
                </md-option>
            </md-select>
            
            <md-datepicker ng-model="deadline" md-placeholder="Deadline" flex></md-datepicker>
            
            <md-button class="md-danger md-small font10" ng-click="assignAll()">
                Assign All
            </md-button>
        </div>
        
    </div>
    <div layout="row" layout-align="end center" flex>
        <div class="paddingLR20 bold">
            Page {{collegesForm.skip/collegesForm.limit + 1}}
        </div>
        <md-button class="md-next md-small font10" ng-click="prevPage()" ng-if="collegesForm.skip >= collegesForm.limit">
            Previous
        </md-button>
        <md-button class="md-next md-small font10" ng-click="nextPage()">
            Next
        </md-button>
    </div>

</div>
