<style>
    .top-buffer { margin-top:20px; }
    #addRow{
        color: blue;
    }
    a{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited:hover{
        color: #20C39A;
        text-decoration: none;
    }
    #locations{
        margin-bottom:20px;
    }
    #suggestedEmails{
        margin: 10px;
    }
</style>
<div class="container">
    <div id="spacer">
    </div>
    <div class="column">
        <div class="row" ng-if="!provider.location">
            <md-button class="md-raised md-primary" ng-click="getLocations()" ng-show="showButton">Assign Location</md-button>
            <md-button type="submit" class="md-raised md-primary" ng-click="saveCoaching()">Save</md-button>
            <div id="locations">
            <span ng-repeat="location in locations | orderBy:'area'">
            <span class="badge"  ng-click="setLocation(location)">
                {{location.area}}
            </span>&nbsp;
            </span>
            </div>
        </div>
        <div class="row" >
            <div class="row text-center" id="suggestedEmails">
                <span ng-repeat="suggestedEmail in suggestedEmails">
                <span class="badge"  ng-click="setEmail(suggestedEmail)">
                    {{suggestedEmail}}
                </span>&nbsp;
                </span>
            </div>
            <table style="width:100%">
                <tr id="addRow" >
                    <td>email</td>
                    <td><input ng-model="provider.email" size="100"></td>
                </tr>
                <tr ng-repeat="(key, value) in provider" ng-if="key!='_id' && key != '__v' && key != '_created' && key != 'targetStudyWebsite'">
                    <td> {{key}} </td> 
                    <td> 
                    <input ng-model="provider[key]" size="100">
                    </td>
                </tr>
                
                 <tr id="addRow">
                    <td>tgt study</td>
                    <td><a ng-href="{{provider.targetStudyWebsite}}" target="_blank">TS URL
                        </a>
                        </td>
                </tr>
            </table>
            
        </div>
        <div class="row top-buffer">
            <md-button type="submit" class="md-raised md-primary" ng-click="saveCoaching()">Save</md-button>
        </div>
        
    </div>
    <div>
        
    </div>
    
</div>