<style>
    input[type="text"],input[type="email"]
    {
        font-size: 14px;
        color: #333333;
        padding: 2px;
        border: solid 1px #ccc;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover,input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus{
        border: solid 1px #333333;
        box-shadow: 0 0 5px 1px #969696;
    }
    #profileSection{
        min-height: 20vh;
    }
    .profileBar{
        background-color: #161616;
        color: white;
    }
    .profileBar a{
        color: white;
        text-decoration: none;
        
    }
    
    .academicRow{
        min-height: 25vh;
        width: 100%;
        margin-top: 20px;
        
    }
    .fieldRow{
        min-height: 5vh;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fieldRow div.col1{
        color: gray;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .fieldRow div.col2{
        color: black;
    }
    
    #link{
        color: #20C39A;
    }
    #link:hover{
        color: #20C39A;
    }
    .active{
        color: white;
        font-weight: bold;
        border-bottom: 2px solid white;
    }
    #topBar{
        color: white;
    }
    #topBar.active{
        color: white;
    }
    #topBar:hover{
        font-weight: bold;
    }
    .leftBar{
        border-right: 2px solid whitesmoke;
    }
    #leftBarButton{
        border-bottom: 2px solid whitesmoke;
    }
    #leftBarButton:hover{
        border-bottom: 2px solid #20C39A;
    }
    #leftBarButton.sideactive{
        /*border: 2px solid #20C39A;
        color: #20C39A;
        font-weight: bold;*/
        background: whitesmoke;
        
    }
    .emptyTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: #333333;
        background: gainsboro;
        border: 1px solid gainsboro;
        box-shadow: 0 0 5px whitesmoke;
    }
    .emptyTag:hover{
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        box-shadow: 0 0 5px whitesmoke;
    }
    .filledTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        box-shadow: 0 0 5px whitesmoke;
    }
    
    .edLevelTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: #333333;
        background: gainsboro;
        border: 1px solid gainsboro;
        border-radius: 5px;
        box-shadow: 0 0 5px whitesmoke;
    }
    .edLevelTag:hover{
        color: white;
        background: black;
        border: 1px solid black;
        box-shadow: 0 0 5px whitesmoke;
    }
    .filledEdLevelTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: white;
        background: black;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 5px whitesmoke;
    }
    .badge{
        font-size: 14px;
        white-space: normal;
        margin-top: 0px;
    }
    .subSectionHeader{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .academicSubSection{
        border-bottom: 1px solid #20C39A;
        
    }
    .academicSubHeader{
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nextButton{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #profilePicSection{
        margin-bottom: 20px;
    }
    #upload2{
        background: white;
        color: black;
        border: 1px solid #000;
        padding: 5px;
    }
    #upload2:hover {
        background: #FF5A5F;
        color: white;
        border: 1px solid #FF5A5F;
    }
    .badge{
        background: #FF5A5F;
    }
    
    textarea{
        width:100%;
        padding: 5px 5px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    textarea:hover {
        border: 1px solid #FF5A5F;
    }
    textarea:focus {
        border: 1px solid #FF5A5F;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>

<div class="textBlack whiteBackground secondFont font14 width100" ng-if="!disabled">
    <div layout="row" layout-align="center start" class="width100">
        <div layout="column" layout-align="center center" flex-xs="100" flex-gt-xs="90" class="marginT20 paddingB10 headingBottomBorder2">
            <div class="font18 bold">{{college.inst_name}}</div>
            <div layout="row" layout-align="start center">
                <a ng-href="{{college.website}}" target="_blank">{{college.website}}</a>
                <div class="font10 danger marginL20" ng-if="!college.websitenotworking" ng-click="flipwebsitenotworking()">
                (website not working?)
                </div>
                <div class="font10 bold marginL20" ng-if="college.websitenotworking" ng-click="addwebsite2()">
                (add new website)
                </div>
                <div class="font10 text-primary marginL20" ng-if="college.websitenotworking" ng-click="flipwebsitenotworking()">
                (website working?)
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center start" class="width100">
    <div flex-xs="100" flex-gt-xs="90" layout="row" layout-align="center start" class="marginTB10">
        <div layout="column" layout-align="start center" flex="30" class="height100 paddingL20R40 leftBar">
            <div layout="row" layout-align="center center" ng-repeat="subcategory in subcategories" class="paddingTB2 paddingLR20 min3vh  width100 spacedLetter09" ng-click="setActiveSubcategory(subcategory)" id="leftBarButton">
                <div>
                    {{subcategory.displayname}}
                </div>
                <span class="badge marginL10" ng-if="college.studentbody[subcategory.name].length > 0">{{college.studentbody[subcategory.name].length}}
                </span>
            </div>
        </div>
        <div flex layout="row" layout-align="center center">
            <div flex-xs="100" flex-gt-xs="90" layout="row" layout-align="start start">
            <div layout="column" layout-align="start start" class="width100 min100vh" flex>
                <div layout="column" layout-align="center start" class="width100 blogFont bold  marginB10">
                    {{activeSubcategory.displayname}}
                </div>
                <div layout="column" layout-align="center start" class="width100">
                     
                    <div layout="column" layout-align="center start" class="width100 font14">
                        <div layout="column" layout-align="start start" class="fieldRow paddingLR20 paddingTB10 width100 lightGreyBackground greyBorder" ng-repeat="contact in activeSubcategoryObj track by $index" ng-init="outerIndex = $index" ng-if="activeSubcategory.name != 'ebNote'">
                            <div layout="row" layout-align="start center" class="width100 marginTB10">
                                <input type="text" placeholder="Name" class="text-center width100 marginR10" ng-model="activeSubcategoryObj[outerIndex].name">
                                <input type="text" class="text-center width100 marginL10" placeholder="Title" ng-model="activeSubcategoryObj[outerIndex].title">
                                
                            </div>
                            <div layout="row" layout-align="start center" class="width100" layout-wrap>
                                <div flex="15" class="marginTB10">Email</div>
                                <div layout="row" layout-align="start center" flex="40" ng-repeat="email in activeSubcategoryObj[outerIndex].email track by $index" class="paddingLR10 marginTB10" ng-init="firstIndex = $index">
                                    <div flex>
                                        <input type="text" placeholder="Email" class="text-center width100" ng-model="activeSubcategoryObj[outerIndex].email[firstIndex]">
                                    </div>
                                    <div class="paddingLR5">
                                        <i class="fa fa-trash danger" aria-hidden="true" ng-click="deleteEmail(contact, firstIndex)"></i>
                                    </div>
                                </div>
                                <div flex="20" class="paddingLR10 marginTB10">
                                <span ng-click="addEmail(contact)">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Email
                                </span>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center" class="width100" layout-wrap>
                                <div flex="15" class="marginTB10">Mobile</div>
                                <div layout="row" layout-align="start center" flex="40" ng-repeat="mobile in activeSubcategoryObj[outerIndex].mobile track by $index" class="paddingLR10 marginTB10" ng-init="firstIndex = $index">
                                    <div flex>
                                        <input type="text" placeholder="Mobile" class="text-center width100" ng-model="activeSubcategoryObj[outerIndex].mobile[firstIndex]">
                                    </div>
                                    <div class="paddingLR5">
                                        <i class="fa fa-trash danger" aria-hidden="true" ng-click="deleteMobile(contact, firstIndex)"></i>
                                    </div>
                                </div>
                                <div flex="20" class="paddingLR10 marginTB10">
                                <span ng-click="addMobile(contact)">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Mobile
                                </span>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center" class="width100" layout-wrap>
                                <div flex="15" class="marginTB10">Landline</div>
                                <div layout="row" layout-align="start center" flex="40" ng-repeat="landline in activeSubcategoryObj[outerIndex].landline track by $index" class="paddingLR10 marginTB10" ng-init="firstIndex = $index">
                                    <div flex>
                                        <input type="text" placeholder="Landline" class="text-center width100" ng-model="activeSubcategoryObj[outerIndex].landline[firstIndex]">
                                    </div>
                                    <div class="paddingLR5">
                                        <i class="fa fa-trash danger" aria-hidden="true" ng-click="deleteLandline(contact, firstIndex)"></i>
                                    </div>
                                </div>
                                <div flex="20" class="paddingLR10 marginTB10">
                                <span ng-click="addLandline(contact)">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Landline
                                </span>
                                </div>
                            </div>
                            <div layout="row" layout-align="end center" class="width100 marginT10">
                                <div class="font12 danger" ng-click="deleteContact(contact, outerIndex)">
                                Delete Contact
                                </div>
                            </div>
                        </div>
                        
                        <div layout="column" layout-align="start start" class="fieldRow padding10 width100 lightGreyBackground greyBorder" ng-repeat="contact in activeSubcategoryObj track by $index" ng-init="outerIndex = $index" ng-if="activeSubcategory.name == 'ebNote'">
                            <div layout="row" layout-align="start center" class="width100">
                                
                                <textarea class="font11 width100" ng-model="activeSubcategoryObj[outerIndex].note" placeholder="Add internal notes for EB team" rows="4"></textarea>
                            </div>
                            <div layout="row" layout-align="end center" class="width100 marginT10">
                                <div class="font12 danger" ng-click="deleteContact(contact, outerIndex)">
                                Delete Contact
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center" id="upload2" ng-click="addContact(activeSubcategory)" class="marginB10 secondFont textLightGrey width100">
                            <span class="">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add
                            </span>
                        </div>
                    </div>
                    
                    
                   </div>    
            </div>
        
            </div>
        </div>
    </div>
    </div>
</div>


<div class="bottomBar" ng-if="!disabled">
    <div layout="row" layout-align="start center">
        <div layout="row" layout-align="start center" flex ="70">
            <div>
            Save changes to this college? 
            </div>
            <div ng-if="tofilluser" class="marginL20">
                Assigned to you with deadline {{tofilluser._deadline | date:'MMM d, y'}}
            </div>
            
        </div>
        <div layout="row" layout-align="end center" flex>
            <md-button class="md-danger md-small font10" ng-click="markDoneConfirm()" ng-if="tofilluser.active">
                Mark Done
            </md-button>
            <md-button class="md-green2 md-small font10" ng-click="markNotDoneConfirm()" ng-if="!tofilluser.active">
                Mark Not Done
            </md-button>
            <md-button class="md-next md-small font10" ng-click="saveCollege()">
                Save
            </md-button>
            <!--
            <md-button class="md-default md-cancel md-small font10 width8" ng-click="dontsaveChanges()">
                Cancel
            </md-button>
            -->
        </div>
        
    </div>
</div>

<div layout="row" layout-align="center center" class="min80vh textBlack whiteBackground blogFont font18 width100" ng-if="disabled">
    You do not have adequate permission to access this page. Please check with Team Exambazaar
</div>


<div style="visibility: hidden">    
    <div class="md-dialog-container" id="website2Dialog">
      <md-dialog class="blog-dialog">
        <div layout="column" layout-align="center center" class="width100 min50vh">
            <div class="width80 blogFont text-center">
                Add the new website of {{college.inst_name}}:
            </div>
            <div layout="column" layout-align="center center" class="width80 marginTB10">
                <input type="text" placeholder="Website" class="text-center width100" ng-model="college.website2">
            </div>
            <div layout="column" layout-align="center center" class="width80 marginTB10">
                <md-button class="md-next md-small font10" ng-click="closeDialog()">
                    Close
                </md-button>
            </div>
        </div>
      </md-dialog>
</div>    
</div>