
<style>
    a{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited:hover{
        color: #20C39A;
        text-decoration: none;
    }
    #tagHolder{
        padding: 10px;
        background: white;
        border: 1px solid #000;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        text-align: center;
    }
    #existingTagHolder{
        color: white;
        padding: 10px;
        background: #FF5A5F;
        border: 1px solid #fff;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        text-align: center;
    }
    #tagHolder:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
        
    }
    md-slider .md-track-ticks canvas {
      height: 10px;
    }
    md-slider .md-track canvas {
      height: 5px;
    }
    md-slider[md-discrete] .md-sign,
    md-slider[md-discrete] .md-sign:after {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1);
    }
    #questionDiv{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }
    #buttonDiv{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    #logo{
        width: 80px;
    }
    #examBox{
        min-height: 20vh;
        background-color: white;
        box-shadow: 0 0 10px lightgray;
    }
    #lineHeight2{
        line-height: 100%;
    }
    #lineHeight{
        line-height: 150%;
    }
    #streamBox{
        background-color: whitesmoke;
        
    }
    .streamBoxBorder{
        border-right: 1px solid lightgray;
    }
</style>
<div class="container">
    <div id="spacer">
    </div>
    
    
    <div layout="column" layout-padding ng-if="!elgVerified">
        <form name="eligibilityForm" >
            <div layout="column" id="questionDiv" layout-align="start start">
                <div layout="row">1. Please select your category</div>
                <div layout="row" layout-padding>
                    <div ng-repeat="cateogryOption in categoryOptions">
                    <div class="editFont" id="tagHolder" ng-click="setCategory(cateogryOption)" ng-if="elgInput.category[cateogryOption] != true">{{cateogryOption | uppercase}}
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="setCategory(cateogryOption)" ng-if="elgInput.category[cateogryOption] == true">{{cateogryOption | uppercase}}
                    </div>
                    </div>
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start">
                <div layout="row">2. Are you a person with disability?</div>
                <div layout="row" layout-padding class="width100">
                    <div class="editFont" id="tagHolder" ng-click="setPWD(false)" ng-if="elgInput.category.pwd">No
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="setPWD(false)" ng-if="!elgInput.category.pwd">No
                    </div>
                    <div class="editFont" id="tagHolder" ng-click="setPWD(true)" ng-if="!elgInput.category.pwd">Yes
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="setPWD(true)" ng-if="elgInput.category.pwd">Yes
                    </div>
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start">
                <div layout="row" >3. What is your current age?</div>
                <div layout="row" layout-align="start center" layout-padding class="width50">
                    
                  <!--<div flex="10" layout layout-align="center center">
                    <span class="md-body-1">Age</span>
                  </div>-->
                  <md-slider flex md-discrete ng-model="elgInput.age" step="1" min="14" max="35" aria-label="Age">
                  </md-slider>
                    
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start">
                <div layout="row">4. Please select your current education level</div>
                <div layout="row" layout-padding>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" ng-repeat="educationLevel in educationLevels">
                    
                    <div class="editFont" id="tagHolder" ng-click="setEducationLevel(educationLevel)" ng-if="elgInput.educationLevel.name != educationLevel.name">{{educationLevel.name | uppercase}}
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="setEducationLevel(educationLevel)" ng-if="elgInput.educationLevel.name == educationLevel.name">{{educationLevel.name | uppercase}}
                    </div>
                        
                    </div>
                    </div>
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start" ng-if="elgInput.educationLevel.level >=1">
                <div layout="row" ng-if="elgInput.educationLevel.level <=1">5. Please tell us the subjects you will appear for in Class XII</div>
                <div layout="row" ng-if="elgInput.educationLevel.level >1">5. Please tell us the subjects you have studied in Class XII</div>
                <div layout="row" layout-padding class="width100">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" ng-repeat="class12Subject in class12Subjects">
                    <div class="editFont" id="tagHolder" ng-click="setClass12Subjects(class12Subject.name)" ng-if="!elgInput.class12Subjects[class12Subject.name]">{{class12Subject.displayname | uppercase}}
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="unsetClass12Subjects(class12Subject.name)" ng-if="elgInput.class12Subjects[class12Subject.name]">{{class12Subject.displayname | uppercase}}
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start" ng-if="elgInput.educationLevel.level >=2 ">
                <div layout="row">6. Please tell us your percentage score (or expected score) in Class XII</div>
                
                <div layout="row" layout-align="start center" layout-padding class="width50">
                  <md-slider flex md-discrete ng-model="elgInput.class12Percentage" step="1" min="40" max="100" aria-label="Class 12th Percentage">
                  </md-slider>

                </div>
                
            </div>
            <div layout="column" id="questionDiv" layout-align="start start" ng-if="elgInput.educationLevel.level >=3 ">
                <div layout="row">7. Please tell us your major in Undergraduate</div>
                <div layout="row" layout-padding>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" ng-repeat="undergradMajor in undergradMajors">
                    <div class="editFont" id="tagHolder" ng-click="setUndergradMajor(undergradMajor.name)" ng-if="!elgInput.undergradMajor[undergradMajor.name]">{{undergradMajor.displayname | uppercase}}
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="setUndergradMajor(undergradMajor.name)" ng-if="elgInput.undergradMajor[undergradMajor.name]">{{undergradMajor.displayname | uppercase}}
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start" ng-if="elgInput.educationLevel.level >=4">
                <div layout="row">8. Please tell us your percentage score (or equivalent) in Undergraduate</div>
                
                <div layout="row" layout-align="start center" layout-padding class="width50">
                  <md-slider flex md-discrete ng-model="elgInput.undergradPercentage" step="1" min="40" max="100" aria-label="Undergraduate Percentage">
                  </md-slider>

                </div>
                
            </div>
            <div layout="column" id="questionDiv" layout-align="start start" ng-if="elgInput.educationLevel.level >=5 ">
                <div layout="row">9. Please tell us your major in Postgraduate</div>
                <div layout="row" layout-padding>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2" ng-repeat="postgradMajor in postgradMajors">
                    <div class="editFont" id="tagHolder" ng-click="setPostgradMajor(postgradMajor.name)" ng-if="!elgInput.postgradMajor[postgradMajor.name]">{{postgradMajor.displayname | uppercase}}
                    </div>
                    <div class="editFont" id="existingTagHolder" ng-click="setPostgradMajor(postgradMajor.name)" ng-if="elgInput.postgradMajor[postgradMajor.name]">{{postgradMajor.displayname | uppercase}}
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            <div layout="column" id="questionDiv" layout-align="start start" ng-if="elgInput.educationLevel.level >=5 ">
                <div layout="row">10. Please tell us your percentage score (or equivalent) in Postgraduate</div>
                
                <div layout="row" layout-align="start center" layout-padding class="width50">
                  <md-slider flex md-discrete ng-model="elgInput.postgradPercentage" step="1" min="40" max="100" aria-label="Postgraduate Percentage">
                  </md-slider>

                </div>
                
            </div>
            <div layout="row" id="buttonDiv" layout-align="start center">
                <div layout="column" layout-align="start center">
                <md-button class="md-raised md-primary" ng-click="checkEligibility()">Check Eligibility</md-button>
                </div>
                <div layout="column" layout-align="start center" ng-if="error" class="danger">

                    <div ng-repeat="errorMessage in errorMessages">
                        {{$index + 1}}.&nbsp;{{errorMessage}}
                    </div>
                </div>
                
            </div>
            
        </form>
    </div>
    
    <div layout="column" ng-if="elgVerified">
    
    <div layout="column" id="questionDiv" layout-align="start start" class="darkGreyBackground " >
        <div layout="row" layout-align="start center" class="text-white secondFont marginB10">
            <span>
                Your Qualifications&nbsp;&nbsp;
            </span>
            
            <span ng-click="editQualifications()" class="badge font8">
                Edit
            </span>
        </div>
        <div flex layout="row" layout-align="start start" class="width100 text-white paddingTB10">
            <div flex="30" layout="column" layout-align="start start" ng-if="elgInput.educationLevel.level >=1" class="width100">
                <div layout="column">
                XII or Equivalent
                </div>
                <div layout="row" layout-align="start center" class="width100 textLightGrey">
                    <div ng-repeat="class12Subject in class12Subjects" ng-if="elgInput.class12Subjects[class12Subject.name]">
                        {{class12Subject.displayname}}&nbsp;
                    </div>
                    <div ng-if="elgInput.class12Percentage">
                        |&nbsp;{{elgInput.class12Percentage}}%
                    </div>
                </div>

            </div>
            <div flex="30" layout="column" layout-align="start start" ng-if="elgInput.educationLevel.level >=3" class="width100">
                <div layout="column">
                Undergraduate
                </div>
                <div layout="row" layout-align="start center" class="width100 textLightGrey">
                    <div ng-repeat="undergradMajor in undergradMajors" ng-if="elgInput.undergradMajor[undergradMajor.name]">
                        {{undergradMajor.displayname}}&nbsp;
                    </div>
                    <div ng-if="elgInput.undergradPercentage && elgInput.undergradPercentage > 0">
                        |&nbsp;{{elgInput.undergradPercentage}}%
                    </div>
                </div>
            </div>
            <div flex="30" layout="column" layout-align="start start" ng-if="elgInput.educationLevel.level >=5" class="width100">
                <div layout="column">
                Postgraduate
                </div>
                <div layout="row" layout-align="start center" class="width100 textLightGrey">
                    <div ng-repeat="postgradMajor in postgradMajors" ng-if="elgInput.postgradMajor[postgradMajor.name]">
                        {{postgradMajor.displayname}}&nbsp;
                    </div>
                    <div ng-if="elgInput.postgradPercentage && elgInput.postgradPercentage > 0">
                        |&nbsp;{{elgInput.postgradPercentage}}%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div flex layout="row" class="padding10" ng-repeat="streamExam in validStreamExams | orderBy:'-stream.rank'">

    <div flex="10" class="secondFont ">
        <div class="width100 streamBoxBorder">
        {{streamExam.stream.displayname}}
        </div>

    </div>
    <div flex="90" class="paddingL10" id="streamBox">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 marginB20" ng-repeat="examElig in streamExam.examEligs | orderBy:'-exam.rank'">
        <div flex layout="row" id="examBox" class="paddingTB10">
            <div flex ="30" layout="column" layout-align="start center" class="paddingT5">
                <img ng-src="{{examElig.exam.logo}}" id="logo"/>
            </div>
            <div flex ="70" layout="column" class="">
                <div layout="column" layout-align="start start" class="editFont">
                    <div class="fifthFont textBlack marginB5" id="lineHeight2">
                    {{examElig.exam.displayname}}
                    </div>

                    <div id="lineHeight" class="">
                    <span ng-repeat="eligibility in examElig.eligibilitys">

                    <span ng-if="eligibility.courseLevel">
                        {{eligibility.courseLevel}}
                        <span ng-if="!$last">
                            &nbsp;|&nbsp;
                        </span>
                    </span> 
                    </span>
                    </div>
                    <div id="lineHeight">
                    <span class="editFont ">
                    <span class="">
                        Recommended for:</span>&nbsp;{{examElig.eligibilitys[0].recommendedFor}}

                    </span> 
                    </div>
                </div>


                <div class="editFont danger marginT10">
                    <span ng-click="showExamEligibility(examElig)">
                    Read More
                    </span>

                </div>
            </div>
        </div>


        </div>
    </div>

    </div>
    </div>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="examEligDialog">
    <md-dialog class="halfscreen-dialog">

    <div layout="column" layout-align="start center" layout-fill>
        <div flex layout="row" id="examBox" class="width100 paddingTB10">
            <div flex ="30" layout="column" layout-align="start center" class="paddingT5">
                <img ng-src="{{activeExamEligibility.exam.logo}}" id="logo"/>
            </div>
            <div flex ="70" layout="column" class="">
                <div layout="column" layout-align="start start" class="editFont">
                    <div class="fifthFont textBlack marginB5" id="lineHeight2">
                    {{activeExamEligibility.exam.displayname}}
                    </div>

                    <div id="lineHeight" class="">
                    <span ng-repeat="eligibility in activeExamEligibility.eligibilitys">

                    <span ng-if="eligibility.courseLevel">
                        {{eligibility.courseLevel}}
                        <span ng-if="!$last">
                            &nbsp;|&nbsp;
                        </span>
                    </span> 
                    </span>
                    </div>
                    <div id="lineHeight">
                    <span class="editFont ">
                    <span class="">
                        Recommended for:</span>&nbsp;{{activeExamEligibility.eligibilitys[0].recommendedFor}}

                    </span> 
                    </div>
                    <div id="lineHeight">
                        <span class="font12">
                            {{activeExamEligibility.exam.briefDescription}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div layout="column" layout-align="start center" class="width100 height100 paddingTB20 editFont" >
            <div ng-repeat="eligibility in  activeExamEligibility.eligibilitys" class="width100">
                <div flex layout="row" class="padding10 greyBottomBorder width100">
                    <div flex="40" layout="column" class="textDarkGrey">
                        <span>
                            {{eligibility.courseLevel}}
                        </span>
                        <span>
                            Recommended for: {{eligibility.recommendedFor}}
                        </span>
                        
                    </div>
                    <div flex="60" layout="column">
                        <span>
                            <div ng-if="eligibility.qualifications && eligibility.qualifications !=''" class="textDarkGrey">
                                Other qualifications required
                            </div>
                            {{eligibility.qualifications}}
                        </span>
                        <span>
                            <div ng-if="eligibility.notes && eligibility.notes !=''" class="textDarkGrey">
                                Please Note
                            </div>
                            {{eligibility.notes}}
                        </span>
                        
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    </md-dialog>
    </div>    
</div>

