<style>
    .md-block{
        padding: 10px;
        border: 1px solid #eaeaea; 
    }
    
    
    #upload3{
        background-color: #F5F5F5;
        color: #333333;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #upload3:hover {
        background: #FF5A5F;
        color: white;
    }
    #pageLogoHolder{
        min-height: 150px;
        width: 150px;
        border: 1px solid #eaeaea;
        border-radius: 2px;
    }
    #pageLogoHolder2{
        min-height: 150px;
        width: 150px;
    }
    .pageLogo{
        max-height: 120px;
    }
    #badge{
        background: #20C39A;
    }
    .notExistingBage{
        padding:5px;
        font-size: 14px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    .notExistingBage:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    .existingBadge{
        padding:5px;
        color: white;
        font-size: 14px;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #examTagHolder{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #removebadge{
        background: #FF5A5F;
    }
    textarea{
        font-size: 13px;
        color: #333333;
        width:100%;
        padding: 5px 5px;
        display: inline-block;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
    }
    textarea:hover {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    textarea:focus {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    .sectionBorder{
        border: 1px solid #eaeaea;
    }
    .subsectionBorder2{
        border: 1px dashed #D1DEDE;
    }
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
        padding: 2px;
        border: solid 1px #eaeaea;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 1px 1px white;
    }
    input[type="text"]:hover {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    input[type="text"]:focus {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    #addText{
        color: #FF5A5F;
    }
    #saveLink{
        color: #20C39A;
    }
    #cancelLink{
        color: #FF5A5F;
    }
    .section{
        border-bottom: 2px solid #20C39A;
        
        padding-bottom: 30px;
        margin-top: 10px;
    }
    .editBox{
        padding: 5px;
        color: white;
        background: #FF5A5F;
    }
    
    a, a:visited{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
</style>
<div id="spacer3">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground" id="fullHeightPage">
    
    
<div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="start start" class="width100 marginB80 secondFont font14" ng-if="exam">
    <div layout="row" layout-align="start center" class="width100 headingBottomBorder2" >
        <div layout="row" layout-align="center center" class="width100 thirdFont font32 bold">
            {{exam.displayname}} Exam
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-align="start start" class="width100 marginTB10" >
        <div layout="column" layout-align="center center" class="padding10" id="pageLogoHolder2"  flex-gt-xs="15" flex-xs="100">
            <img  ng-src="{{exam.logo}}" class="pageLogo" ng-if="exam.logo !=''"/>
        </div>
        <div layout="column" layout-align="start start"  class="padding10" flex flex-xs="100">
            <div layout="row" layout-align="start start" class="width100">
                <div flex="20">Website</div>
                <div flex><a ng-href="{{exam.website}}" target="_blank" class="bold">Official Website</a></div>
            </div>
            <div layout="row" layout-align="start start" class="width100 ">
                <div flex="20">Description</div>
                <div flex>{{exam.briefDescription}}</div>
            </div>
            <div layout="row" layout-align="start start" class="width100">
                <div flex="20">Frequency</div>
                <div flex>{{exam.frequency}}</div>
            </div>
            <div layout="row" layout-align="start start" class="width100">
                <div flex="20">Mode</div>
                <div flex>
                    <div ng-if="activeExamCylce.examMode">
                        Online Only
                    </div>
                    <div ng-if="!activeExamCylce.examMode">
                        Online & Offline
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!--<div layout="row" layout-align="start start" class="width100 marginTB20">
        <div flex>Dates</div>
        <div flex>Syllabus</div>
        <div flex>Previous Papers</div>
    </div>-->
    <div layout="row" layout-xs="column" layout-align="start start" class="width100 paddingLR20 font20 bold">
        Exam Dates
    </div>
    <div layout="row" layout-align="start start" class="width100 marginTB10">
        
        <timeline class="width100 padding20">
            <timeline-event ng-repeat="event in events" class="">
              <timeline-badge class="{{event.badgeClass}}">
                  <!--glyphicon {{event.badgeIconClass}}-->
                <i class=""></i>
              </timeline-badge>
              <timeline-panel class="{{event.badgeClass}}">
                <timeline-heading>
                    <div class="basicFont font16 paddingLR10 text-primary bold">
                      {{event.title}}
                    </div>
                </timeline-heading>
                    <div class="marginTB10 paddingLR10">
                        {{event.content}}
                    </div>
              </timeline-panel>
            </timeline-event>
          </timeline>
        
    </div>
    </div>

</div>
