<style>
    .md-block{
        padding: 10px;
        border: 1px solid #eaeaea; 
    }
    
    
    #upload3{
        background-color: #F5F5F5;
        color: #333333;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #upload3:hover {
        background: #FF5A5F;
        color: white;
    }
    #pageLogoHolder{
        min-height: 150px;
        width: 150px;
        border: 1px solid #eaeaea;
        border-radius: 2px;
    }
    #pageLogoHolder2{
        min-height: 150px;
        width: 150px;
    }
    #pageLogoHolder3{
        max-height: 100px;
        max-width: 100px;
    }
    .pageLogo{
        max-height: 100%;
        max-width: 80%;
    }
    #badge{
        background: #20C39A;
    }
    .notExistingBage{
        padding:5px;
        font-size: 14px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    .notExistingBage:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    .existingBadge{
        padding:5px;
        color: white;
        font-size: 14px;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #examTagHolder{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #tagHolder{
        padding:5px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #removebadge{
        background: #FF5A5F;
    }
    textarea{
        font-size: 13px;
        color: #333333;
        width:100%;
        padding: 5px 5px;
        display: inline-block;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
    }
    textarea:hover {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    textarea:focus {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    .sectionBorder{
        border: 1px solid #eaeaea;
    }
    .subsectionBorder2{
        border: 1px dashed #D1DEDE;
    }
    input[type="text"]
    {
        font-size: 13px;
        color: #333333;
        margin-bottom: 5px;
        padding: 2px;
        border: solid 1px #eaeaea;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 1px 1px white;
    }
    input[type="text"]:hover {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    input[type="text"]:focus {
        border: solid 1px #A3A3A3;
        box-shadow: 0 0 1px 1px #eaeaea;
    }
    #addText{
        color: #FF5A5F;
    }
    #saveLink{
        color: #20C39A;
    }
    #cancelLink{
        color: #FF5A5F;
    }
    .section{
        border-bottom: 2px solid #20C39A;
        
        padding-bottom: 30px;
        margin-top: 10px;
    }
    .editBox{
        padding: 5px;
        color: white;
        background: #FF5A5F;
    }
    
    a, a:visited, a:link{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    
    
    h1,h2,h3{
        text-align: left;
        line-height: 140%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    table{
        border: 0px;
        width: 100%;
        vertical-align: middle;
    }
    td,th {
        font-size: 14px;
        text-align: center;
        padding: 5px;
        border: 1px solid #dddddd;
        vertical-align: middle;
    }
    tr:first-child{
        background-color: #c6c6c6;
        color: black;
        padding: 0px;
    }
    p, span{
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    blockquote{
        margin-bottom: 20px;
    }
    td p{
        margin: 0px;
    }
    #examTagHolder{
        padding:5px;
        font-size: 16px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    #examTagHolder:hover{
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #distanceBadge{
        border: 1px solid #6A6968;
        background: transparent;
        color: #6A6968;
    }
    img{
        max-width: 100%;
    }
</style>
<div id="spacer1">
</div>
<div layout="row" layout-xs="column" layout-align="center center" class="width100 thirdFont font14" id="examinfo2">
    <div layout="row" layout-xs="column" layout-align="center center" class="width100 darkTranslucentBackground min50vh">
    <div layout="row" layout-xs="column" layout-align="start start" class="width100 textWhite" flex-xs="100" flex-gt-xs="90" >
    <div layout="column" layout-align="start start" flex-gt-xs="15" flex-xs="100" class="min40vh paddingLR10 " hide-xs  ng-if="exam.logo && exam.logo != ''">
        <div class="min8vh"></div>
        <img  ng-src="{{exam.logo}}" class="pageLogo" ng-if="exam.logo !=''"/>
    </div>
    <div layout="column" layout-align="start start" flex class="paddingLR20 min40vh">
        <div class="min8vh"></div>
        <div class="width100 font36 bold narrowLine marginB10">
            {{exam.seoname}} Exam
        </div>
        <div layout="column" layout-align="start start" flex flex-xs="100">
            <div layout="row" layout-align="start start" class="width100">
                <a ng-href="{{exam.website}}" target="_blank" class="bold">{{exam.website}}</a>
            </div>
            <div layout="row" layout-align="start start" class="width100">
                {{exam.briefDescription}}
            </div>
        </div>
    </div>
    <div layout="column" layout-align="start start" flex-gt-xs="25" flex-xs="100" class="paddingLR20 width100" ng-class="{ min40vh: !mobileDevice }">
        <div class="min8vh"></div>
        <div layout="column" layout-align="start start" class="width100 padding10 paddingL40 lightBorder text-white">
            <div layout="row" layout-align="center start" class="width100">
                <div flex>Frequency</div>
                <div flex class="text-white">
                    {{exam.frequency}}
                </div>
            </div>
            <div layout="row" layout-align="center start" class="width100">
                <div flex>Mode</div>
                <div flex class="text-white">
                    <div ng-if="activeExamCycle.examMode">
                        Online Only
                    </div>
                    <div ng-if="!activeExamCycle.examMode">
                        Online & Offline
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
    
<!--<div layout="column" layout-align="start start" class="whiteBackground mainContent" ng-cloak>
    
    <div bs-affix data-offset-top="200" data-offset-bottom="300" hide-xs layout="row" class="affixBar whiteBackground bottomBorder width100" layout-align="center center" id="affixBar"> 
        <a ng-repeat="component in components" href="#{{component}}" du-smooth-scroll du-scrollspy offset="200" class="component secondFont textDarkGrey" >
            <span>
                {{component}}
            </span>        
        </a>
    </div>
</div>-->
<div flex layout="row" layout-align="center start" class="whiteBackground blogFont" id="fullHeightPage">
<div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="start start" class="width100 marginT40 marginB120 secondFont font14">
     <!--id="examinfo2"-->
    
    <div layout="row" layout-xs="column" layout-align="start start" class="width100">
        <div layout="column" layout-align="start start" flex-xs="100" flex-gt-xs="70" class="paddingLR20">
            <div layout="column" layout-align="start start" class="  textBlack width100 marginTB10 subhheadingBottomBorder2 font20 bold">
                {{exam.seoname}} Registration
            </div>
            <div layout="column" layout-align="start start" class="width100  marginTB10">
                <div layout="row" layout-align="start start" class="width100" ng-if="exam.registration.website">
                    <div flex="40">Website</div>
                    <div flex>
                        <a ng-href="{{exam.registration.website}}" target="_blank">{{exam.registration.website}}</a>
                        
                    </div>
                </div>
                <div layout="row" layout-align="start start" class="width100">
                    <div flex="40">Registration Mode</div>
                    <div flex>{{exam.registration.mode}}</div>
                </div>
                <div layout="row" layout-align="start start" class="width100">
                    <div flex="40">Payment Modes</div>
                    <div flex layout="row" layout-align="start start" layout-wrap>
                        <div class="marginR5" ng-repeat="paymentMode in exam.registration.fee.paymentModes">
                        {{paymentMode}}
                        </div>    
                        
                    </div>
                </div>
                <div layout="row" layout-align="start start" class="width100" ng-if="exam.registration.fee">
                    <div flex="40">Fee</div>
                    <div flex layout="row" layout-align="start start" layout-wrap>
                        <div layout="column" layout-align="center center" flex>
                            <div class="width100">General / OBC</div>
                            <div class="width100">{{exam.registration.fee.general_obc}}</div>
                        </div>
                        <div layout="column" layout-align="center center" flex>
                            <div class="width100">SC / ST / PH</div>
                            <div class="width100">{{exam.registration.fee.sc_st_ph}}</div>
                        </div>
                        <div layout="column" layout-align="center center" flex>
                            <div class="width100">Female</div>
                            <div class="width100">{{exam.registration.fee.females}}</div>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="start start" class="width100" ng-if="exam.registration.otherInformation && exam.registration.otherInformation != ''">
                    <div flex="40">Note</div>
                    <div flex>{{exam.registration.otherInformation}}</div>
                </div>
                
            </div>
            
            
            <div layout="row" layout-align="start start" class="width100 marginT40">
                <div class="badge marginR10" id="examTagHolder" ng-repeat="thisCycle in exam.cycle" ng-click="setCycle(thisCycle)">
                    {{thisCycle.name}}
                </div>
            </div>
            <div layout="column" layout-align="start start" class="width100" ng-if="activeExamCycle">
            
            <div layout="column" layout-align="start start" class="  textBlack width100 marginTB10 subhheadingBottomBorder2 font20 bold" ng-if="activeExamCycle && (activeExamCycle.syllabus && activeExamCycle.syllabus.length > 0 || activeExamCycle.brochure && activeExamCycle.brochure.length > 0)">
                {{activeExamCycle.name}} Syllabus & Brochure
            </div>
            <div layout="row" layout-align="start center" class="width100  marginTB10">
                <div layout="column" layout-align="center center" flex ng-if="activeExamCycle.syllabus && activeExamCycle.syllabus.length > 0">
                    <div class="font16 bold">Syllabus</div>
                    <div class="marginTB10"><img src="icons/syllabus.png"/></div>
                    <md-button class="md-danger md-small tolowercase font12 margin0" ng-href="{{activeExamCycle.syllabus[0].url}}" target="_blank" ng-if="user && user.userId"> 
                        Download <i class="fa fa-download font14" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-danger md-small tolowercase font12 margin0" ng-click="noUserDownload()" ng-if="!user || !user.userId"> 
                        Download <i class="fa fa-download font14" aria-hidden="true"></i>
                    </md-button>
                </div>
                <div layout="column" layout-align="center center" flex ng-if="activeExamCycle.brochure && activeExamCycle.brochure.length > 0">
                    <div class="font16 bold">Brochure</div>
                    <div class="marginTB10"><img src="icons/brochure.png"/></div>
                    <md-button class="md-danger md-small tolowercase font12 margin0" ng-href="{{activeExamCycle.brochure[0].url}}" target="_blank"  ng-if="user && user.userId"> 
                        Download <i class="fa fa-download font14" aria-hidden="true"></i>
                    </md-button>
                    <md-button class="md-danger md-small tolowercase font12 margin0" ng-click="noUserDownload()" ng-if="!user || !user.userId"> 
                        Download <i class="fa fa-download font14" aria-hidden="true"></i>
                    </md-button>
                </div>
                
            </div>
            <div layout="column" layout-align="start start" class="  textBlack width100 marginTB10 subhheadingBottomBorder2 font20 bold">
                {{activeExamCycle.name}} Dates
            </div>
            <div layout="row" layout-align="start start" class="width100 marginTB10">

                <timeline class="width100 padding20">
                    <timeline-event ng-repeat="event in events" class="">
                      <timeline-badge class="{{event.badgeClass}}">
                          <!--glyphicon {{event.badgeIconClass}}-->
                        <i class="{{event.badgeIconClass}}"></i>
                      </timeline-badge>
                      <timeline-panel class="{{event.badgeClass}}">
                        <timeline-heading>
                            <div class="basicFont font16 paddingLR10 textBlack bold">
                              {{event.title}}
                            </div>
                        </timeline-heading>
                            <div class="marginTB10 paddingLR10">
                                {{event.dateString}}
                            </div>
                            <div class="marginTB10 paddingLR10">
                                {{event.timeString}}
                            </div>
                      </timeline-panel>
                    </timeline-event>
                  </timeline>

            </div>
            </div>
            <div layout="column" layout-align="start start" class="  textBlack width100 subhheadingBottomBorder2 font20 bold" ng-if="exam.pattern && exam.pattern._id">
                {{exam.seoname}} Pattern
            </div>
            <div layout="column" layout-align="start start" ng-if="exam.pattern">
                <div class="width100  marginT40" ng-if="exam.pattern.coverPhoto">
                    <img ng-src="{{exam.pattern.coverPhoto}}" class="width100"/>
                </div>
                <div ng-if="exam.pattern && exam.pattern._id" ng-bind-html="exam.pattern.content" class="marginTB20 ">
                </div>
            </div>
            
            <div layout="column" layout-align="start start" class="  textBlack width100 subhheadingBottomBorder2 font20 bold marginB20" ng-if="exam.examdegrees && exam.examdegrees.length > 0">
                {{exam.seoname}} Related Degrees
            </div>
            
            
            <div layout="column" layout-align="start start" ng-if="exam.examdegrees && exam.examdegrees.length > 0" class="width100 marginB10">
                <ui-carousel slides="exam.examdegrees" slides-to-show="1" slides-to-scroll="1"  autoplay="true" autoplay-speed="2000" dots="true" class="width100 marginTB10">
                  <carousel-item>
                    <div class="width100 padding10" ui-sref="showblog({ blogpostSlug:{{'item.urlslug'}} })" target="_blank">
                    <div layout="column" layout-align="center start" class="width100 boxShadow">
                        <div layout="column" layout-align="center center" class="edBitesImage min50vh width100 rounderBorderTop" ng-style="{'background-image':'url({{item.coverPhoto}})'}">
                        <div layout="row" layout-align="start center" id="blogPostRead" class="width100 padding20">
                            <div flex layout="row" layout-align="start center">
                                {{item.readingTime.text}}
                            </div>
                        </div>
                        </div>

                        <div layout="column" layout-align="start start" class="min10vh  paddingTB10 paddingLR20 width100 blogpostBorder rounderBorderBottom marginTB10">
                            <a ui-sref="showblog({ blogpostSlug:{{'item.urlslug'}} })" target="_blank" class="textBlack font20 bold wideLine2" id="linkFont">
                                {{item.title}}
                            </a>
                            <div class="font14 textLightGrey marginT20">
                                {{item.seoDescription}}
                            </div>
                        </div>    
                    </div>  
                    </div>
                  </carousel-item>
                </ui-carousel>
                
            </div>
            
            <div layout="column" layout-align="start start" ng-if="exam.books" class="width100">
                <div layout="column" layout-align="start start" class="  textBlack width100 marginTB10 subhheadingBottomBorder2 font20 bold" ng-if="exam.books && exam.books._id">
                    Recommended {{exam.stream.displayname}} Preparation Books
                </div>

                <div class="width100 marginT20">
                    <img ng-src="{{exam.books.coverPhoto}}" class="width100"/>
                </div>
                <div ng-if="exam.pattern && exam.pattern._id" ng-bind-html="exam.books.content" class="width100 marginTB20 ">
                </div>
            </div>
            
            <div layout="column" layout-align="start start" class="  textBlack width100 subhheadingBottomBorder2 font20 bold">
                {{exam.seoname}} Recommended Reading
            </div>
            <div class="width100 marginT20 ">
                <ui-carousel slides="suggestedblogs" slides-to-show="slideCount" slides-to-scroll="slideCount"  autoplay="true" autoplay-speed="5000" dots="true">
                  <carousel-item>
                    <div class="width100 padding10">
                    <div layout="column" layout-align="center start" class="width100 boxShadow" id="blogpost" >
                        <div layout="column" layout-align="center center" class="edBitesImage width100 rounderBorderTop" ng-style="{'background-image':'url({{item.coverPhoto}})'}">
                        <div layout="row" layout-align="start center" id="blogPostRead" class="width100 padding20">
                            <div flex layout="row" layout-align="start center">
                                {{item.readingTime.text}}
                            </div>
                        </div>
                        </div>

                        <div layout="column" layout-align="start center" class="min15vh  padding10 width100 blogpostBorder rounderBorderBottom">
                            <div layout="row" layout-xs="column" layout-align="start start" class="width100 marginB10">
                                <div flex layout="column" layout-align="start start" flex class="font14 wideLine2 marginR10">
                                    <a ui-sref="showblog({ blogpostSlug:{{'item.urlslug'}} })" target="_blank">
                                        {{item.title}}
                                    </a>

                                </div>
                            </div>
                            <div flex layout="row" layout-align="start center" class="width100 font12 textLightGrey">
                                <div flex layout="column" layout-align="start start" class="">
                                    <div class="narrowLine">
                                        By {{item.user.basic.name}}
                                    </div>
                                </div>
                                <div layout="column" layout-align="center start" class="">
                                    {{item._created | date: "MMMM dd"}}
                                </div>
                            </div>

                        </div>    
                    </div>  
                    </div>
                      
                      
                    <!--<div layout="column" layout-align="center center" class="width100 min20vh font12 ">
                        <a ui-sref="showblog({ blogpostSlug:{{'item.urlslug'}} })" target="_blank">
                            {{item.title}}
                        </a>
                    </div>-->
                  </carousel-item>
                </ui-carousel>
            </div>
            
            <div layout="column" layout-align="start start" ng-if="exam.tests && exam.tests.length > 0" class="width100">
                <div layout="column" layout-align="start start" class="  textBlack width100 paddingB10 marginTB10 subhheadingBottomBorder2">
                    <div class=" font20 bold">
                        {{exam.seoname}} Previous Papers
                    </div>
                    <div class="font14">
                        Download from {{exam.tests.length}} {{exam.seoname}} papers brought to you by Exambazaar.com&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i>
                    </div>
                </div>
                <div layout="row" layout-xs="column" layout-align="start start" class="width100  editFont marginTB20" layout-wrap>
                    <div flex="50" flex-xs="100" class="paddingR10 paddingTB5" ng-repeat="test in exam.tests | orderBy:'-year'">
                        <div layout="row" layout-align="start center" class="width100 paddingTB10 paddingLR20 boxShadow min20vh width100">
                            <div flex="25" class="">
                                <img src="icons/download.png" class="width100"/>
                            </div>
                            <div flex layout="column" layout-align="center center" class="width100 padding20">
                                <div layout="row" layout-align="start center" class="width100 font14 textBlack">
                                    {{test.name}}
                                </div>
                                <div layout="row" layout-align="start center" class="width100 text-center font10 textDarkGrey">
                                    {{test.description}}
                                </div>
                                <div layout="row" layout-align="start center" class="width100 marginT20">
                                    <md-button class="md-danger md-small tolowercase font12 margin0" ng-href="{{test.url.question}}" target="_blank"  ng-if="user && user.userId">
                                        Download <i class="fa fa-download font14" aria-hidden="true"></i>
                                    </md-button>
                                    <md-button class="md-danger md-small tolowercase font12 margin0" ng-click="noUserDownload()" ng-if="!user || !user.userId">
                                        Download <i class="fa fa-download font14" aria-hidden="true"></i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        <div layout="row" layout-align="start start" hide-xs flex-gt-xs="5">
        </div>
        <div layout="column" layout-align="start start" flex-gt-xs="25" class="min50vh paddingLR10" ng-if="suggestedcoachings.length > 0">
            <h3 class="marginTB10 font20 bold textBlack subhheadingBottomBorder2 width100">
            {{exam.seoname}} Coaching<!-- around you-->
            </h3>
            <div layout="column" layout-align="center center" ng-repeat="coachingGroup in suggestedcoachings | orderBy:'distance'" class="min10vh fourthFont width100 marginB20 padding10" ng-click="goToCoaching(coachingGroup)">
                
                <div layout="column" layout-align="center center" class="width100 padding20 boxShadow">
                    
                    <div layout="row" layout-align="center center" id="pageLogoHolder3">
                        <img ng-src="{{coachingGroup.logo}}" class="pageLogo" ng-if="coachingGroup.logo"/>
                        <img ng-src="{{defaultCoachingLogo}}" class="pageLogo" ng-if="!coachingGroup.logo"/>
                    </div>
                    <div layout="column" layout-align="center center" class="width100 marginT20">
                        <h2 class=" text-primary thirdFont font18 bold text-center margin0">
                        <a id="coachingHeader">
                            {{coachingGroup.groupName}}
                        </a>
                        </h2>

                        <div class="width100 font10 marginT10 text-center">
                            {{coachingGroup.address}}, {{coachingGroup.city}}
                        </div>
                    </div>
                    <div layout="row" layout-align="center center" class="width100 marginT10">
                        <span class="badge font12" id="distanceBadge">
                            {{coachingGroup.distance}} km
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    
    
    
    </div>
   
    
</div>
