<style>
    a{
        color: black;
    }
    
</style>
<div layout="row" layout-align="center center" class="font12 width100 footer">
    <div flex="90" layout="column" layout-align="start start" class="paddingT10 paddingB5 textWhite">
        <div layout="row" layout-align="start center" class=" width100">
            <div flex layout="row" layout-align="start center" class="footer-brand narrowLine font22 height100">
                <a href="https://www.exambazaar.com/" class="" id="headerLogo">
                    EXAMBAZAAR
                </a>
            </div>
            
            <div layout="row" layout-align="end center" class="">
                <div layout="row" layout-align="start center" class="marginL10">
                    <a href="https://www.facebook.com/exambazaar/" target="_blank">
                        <img src="icons/footer-facebook.png" class="footerIcon"/>
                    </a>
                </div>
                <div layout="row" layout-align="start center" class="marginL10">
                    <a href="https://twitter.com/exambazaar" target="_blank">
                        <img src="icons/footer-twitter.png" class="footerIcon"/>
                    </a>
                </div>
                <div layout="row" layout-align="start center" class="marginL10">
                    <a href="https://www.pinterest.com/exambazaar/" target="_blank">
                        <img src="icons/footer-pinterest.png" class="footerIcon"/>
                    </a>
                </div>
                <!--<div layout="row" layout-align="start center" class="">
                    <a href="https://www.exambazaar.com/blog">
                        <img src="icons/eb.png" class="footerIcon"/>
                    </a>
                </div>-->
            </div>
                
        </div>
        <div layout="row" layout-align="start center" class="marginT5 width100">
            <div flex layout="row" layout-align="start center" class="" id="footerLink">
                <div layout="row" layout-align="start start" class="marginR10">
                    &#169; 2017
                </div>
                <div layout="row" layout-align="start start" class="marginR10">
                    |
                </div>
                <div layout="row" layout-align="start start" class="marginR10">
                    <a href="https://www.exambazaar.com/about" id="footerLink">
                        About Us
                    </a>
                </div>
                <div layout="row" layout-align="start start" class="marginR10">
                    |
                </div>
                <div layout="row" layout-align="start start" class="marginR10">
                    <!--href="https://www.exambazaar.com/contact"-->
                    <a ui-sref="contact" id="footerLink">
                        Contact
                    </a>
                </div>
            </div>
            <div layout="row" layout-align="end center">
                <div layout="row" layout-align="end start" class="marginL10">
                    <a href="https://www.exambazaar.com/privacy" id="footerLink">
                        Privacy
                    </a>
                </div>
                <div layout="row" layout-align="start start" class="marginL10">
                    |
                </div>
                <div layout="row" layout-align="end start" class="marginL10">
                    <a href="https://www.exambazaar.com/privacy" id="footerLink">
                        Terms of Use
                    </a>
                </div>
            </div>
        </div>
        
        
    </div>
    
    
</div>