<style>
    #container-fluid{
        padding-top: 50px;
    }

</style>
<div class="container-fluid">
    <br/>
    <br/>
    <md-divider></md-divider>
    <footer id="footer-container">
        <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
        <p class="pull-right">&copy; <a href='http://www.exambazaar.com'>Exambazaar</a>
            {{today | date}}
        </p>

        <!--<span class="pull-right"><a ui-sref="calendar">Calendar</a>
        </span> -->
        

    </footer>
</div>