<style>
    a{
        color: black;
    }
    
</style>
<div layout="row" layout-align="center center" class="font12 width100 footer">
    <div flex="90" layout="column" layout-align="start start" class="paddingT20 paddingB10  textWhite">
        <div layout="row" layout-align="start center" class=" width100">
            <div flex layout="row" layout-align="start center" class="footer-brand narrowLine font22  height100">
                <a href="https://www.exambazaar.com/" class="" id="headerLogo">
                    EXAMBAZAAR
                </a>
            </div>
            
            <div layout="row" layout-align="end center" class=" height100">
                <div layout="row" layout-align="start center" class="marginL10">
                    <a href="https://www.facebook.com/exambazaar/" target="_blank">
                        <img src="icons/footer-facebook.png" class="footerIcon"/>
                    </a>
                </div>
                <div layout="row" layout-align="start center" class="marginL10">
                    <a href="https://twitter.com/exambazaar" target="_blank">
                        <img src="icons/footer-twitter.png" class="footerIcon"/>
                    </a>
                </div>
                <div layout="row" layout-align="start center" class="marginL10">
                    <a href="https://www.pinterest.com/exambazaar/" target="_blank">
                        <img src="icons/footer-pinterest.png" class="footerIcon"/>
                    </a>
                </div>
                <!--<div layout="row" layout-align="start center" class="">
                    <a href="https://www.exambazaar.com/blog">
                        <img src="icons/eb.png" class="footerIcon"/>
                    </a>
                </div>-->
            </div>
                
        </div>
        <div layout="row" layout-align="start center" class=" width100 marginT5">
            <div flex layout="row" layout-align="start center" class="" id="footerLink">
                &#169; 2017
            </div>
            <div layout="row" layout-align="end center">
                <div layout="row" layout-align="end start" class="marginL10">
                    <a href="https://www.exambazaar.com/privacy" id="footerLink">
                        Privacy
                    </a>
                </div>
                <div layout="row" layout-align="start start" class="marginL10">
                    |
                </div>
                <div layout="row" layout-align="end start" class="marginL10">
                    <a href="https://www.exambazaar.com/privacy" id="footerLink">
                        Terms of Use
                    </a>
                </div>
            </div>
        </div>
        
        
    </div>
    
    <!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"p-Jg80xeSVjZEtj"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-Jg80xeSVjZEtj.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->
</div>