<style>
    .headerLogo{
        color:black;
    }
    .headerLogo:hover{
        color:#20C39A;
    }
    .headerLogoGreen{
        color:black;
    }
    .headerLogoGreen:hover{
        color:white;
    }
    .headerLogoTransparent{
        color:white;
    }
    .headerLogoTransparent:hover{
        color:#20C39A;
    }
    .headerWhite{
        background-color: white;
    }
    .headerGreen{
        background-color: #20C39A;
    }
    .headerTransparent{
        border-width: 0px;
        -webkit-box-shadow: 0px 0px;
        box-shadow: 0px 0px;
        background-color: rgba(0,0,0,0.0);
        background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
        background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
        background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
        color: white;
    }
    
    a, a:hover, a:active, a:visited, a:focus, a:visited, a:visited:hover, a:link, a:link:hover{
        color: #696969;
        text-decoration:none;
    }
    
    .headerWhite.navbar-default .navbar-nav > li > a, .headerWhite.navbar-default .navbar-nav > li > a:hover, .headerWhite.navbar-default .navbar-nav > li > a:focus {
        color: black;
    }
    .headerGreen.navbar-default .navbar-nav > li > a, .headerGreen.navbar-default .navbar-nav > li > a:hover, .headerGreen.navbar-default .navbar-nav > li > a:focus {
        color: black;
    }
    .headerTransparent.navbar-default .navbar-nav > li > a, .headerTransparent.navbar-default .navbar-nav > li > a:hover, .headerTransparent.navbar-default .navbar-nav > li > a:focus {
        color: white;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top nav-justified secondFont font14 spacedLetter09" role="navigation" id="mainNav" ng-class="headerBackgroundCSS()">
    
</nav>

