<style>
    #logo{
        color:black;
        
    }
    #logo:hover{
        color:#20C39A;
    }
    #headerBar{
        margin-left: 25px;
        margin-right: 25px;
    }
    .navbar.transparent {
        border-width: 0px;
        -webkit-box-shadow: 0px 0px;
        box-shadow: 0px 0px;
        background-color: rgba(0,0,0,0.0);
        background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
        background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
        background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    }
    .navbar-brand{
        font-family: "Avenir";
        letter-spacing: 4px;
        font-weight: 900;
        
    }
    
    button{
        background-color: #20C39A;
        font-family: "Open Sans";
        color:white;
    }
    #headerInput{
        background-color : white;
        font-size:12px;
        font-family: "Open Sans";
    }
    
</style>

<!--<div class="alert alert-danger alert-dismissible" role="alert" ng-if="message !=''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>{{message}}</strong>
</div>-->
<!--transparent-->
<nav class="navbar navbar-default navbar-fixed-top nav-justified" role="navigation" id="mainNav">
    
<div class="row" id="headerBar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#">
            <span class="" id="logo">
                EXAMBAZAAR
            </span>
        </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        
        <!--<div class="navbar-left">
            <form class="navbar-form ">
            <div class="form-group" ng-controller="autocompleteController as ctrl">
                <md-autocomplete flex 
                md-selected-item="ctrl.selectedItem"
                md-selected-item-change= "ctrl.selectedItemChange(item)"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.name"
                md-delay="300"
                md-min-length="1"
                md-menu-class="autocomplete"
                md-clear-button="true"
                placeholder="Search"
                class="width100">
                    <md-item-template >
                        <span class="item-title font12">
                        <span class="font14"><strong>{{item.name}}</strong></span>&nbsp;&nbsp;
                        <img ng-if="item.logo" ng-src="{{item.logo}}" id="autocompleteLogo"/>
                        </span>
                        <span class="item-metadata">
                        <span class="item-metastat font10">
                        {{item.city}}:
                        </span>&nbsp;
                        <span class="item-metastat font10">
                        {{item.address}}
                        </span>
                        </span>
                    </md-item-template>
                </md-autocomplete>
            </div>
            </form>
        </div>-->
        
        
        
        <div class="navbar-right">
        <form class="navbar-form animated fadeIn" ng-submit="login()" ng-show="!sessionuser && showLogin" name="loginForm">
        <div class="form-group">
        <input type="text" placeholder="Mobile" class="form-control text-center" ng-model="login.mobile" size="15" id="headerInput" focus-me="showLogin" only-digits limit-to="10" ng-minlength="10" ng-maxlength="10">
        </div>
        <div class="form-group">
        <input type="password" placeholder="Password" class="form-control text-center" ng-model="login.password" size="15" id="headerInput">
        </div>
        <button type="submit" class="btn" ng-disabled="loginForm.$invalid">Log in</button>
        <button type="submit" class="btn btn-primary" ui-sref="signup">Sign up</button>
        </form>
        <form class="navbar-form" ng-show="!showLogin">
            <button type="submit" class="btn" ng-click = "showLoginForm()" ng-show="!showLogin && !sessionuser">Log in</button>
        </form>
            
        </div>
        <ul class="nav navbar-nav navbar-right" ng-show="sessionuser">
            
        <li><a href="#/" ng-click="logout()">Logout</a></li>
        </ul>
        
        <ul class="nav navbar-nav" ng-if="sessionuser.userType=='Partner'">
            <li><a ui-sref="partner-dashboard({ userId:{{'sessionuser.userId'}} })">Home</a></li>
            <li><a ui-sref="claim({ coachingId:{{'sessionuser.partner[0]'}} })">Edit Listing</a></li>
        </ul>
        <ul class="nav navbar-nav" ng-if="sessionuser.userType=='Master'">
        <li><a ui-sref="master-dashboard({ masterId:{{'sessionuser.userId'}} })">Home</a></li>
        <li><a ui-sref="sandbox({ masterId:{{'sessionuser.userId'}} })">Sandbox</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Global<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="sendEmail({ userId:{{'sessionuser.userId'}} })">Send Email</a></li>
            <li><a ui-sref="addMaster({ masterId:{{'sessionuser.userId'}} })">Add Master User</a></li>
            <li><a ui-sref="addIntern({ masterId:{{'sessionuser.userId'}} })">Add Intern User</a></li>
            <li><a ui-sref="group({ userId:{{'sessionuser.userId'}} })">Group</a></li>
            <li><a ui-sref="addExam">Add Exam</a></li>
            <li><a ui-sref="addStream">Add Stream</a></li>
            <li><a ui-sref="addLocation">Add Location</a></li>
            <li><a ui-sref="addMediaTag">Add Media Tag</a></li>
            <li><a ui-sref="addAwsCredential({ masterId:{{'sessionuser.userId'}} })">Add AWS Credential</a></li>
            <li><a ui-sref="addSendGridCredential({ masterId:{{'sessionuser.userId'}} })">Add SendGrid Credential</a></li>
            <li><a ui-sref="providersWithAreas">Provider Name Change</a></li>
            <li><a ui-sref="sitemap">Generate Sitemap</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Providers<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="targetStudyProviders({ city:'Jaipur' })">Default Dataset</a></li>
            <li><a ui-sref="providers({ city:'Jaipur' })">Second Dataset</a></li>
            <li><a ui-sref="addInstitute({ userId:{{'sessionuser.userId'}} })">Add Coaching</a></li>  
          </ul>
        </li>
        
        </ul>
        
        
        
        <ul class="nav navbar-nav" ng-if="sessionuser.userType=='Intern - Business Development'">
        <li><a ui-sref="targetStudyProviders({ city:'Jaipur' })">Home</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Global<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="group({ userId:{{'sessionuser.userId'}} })">Group</a></li>
            <li><a ui-sref="addExam">Add Exam</a></li>
            <li><a ui-sref="addStream">Add Stream</a></li>
            <li><a ui-sref="addLocation">Add Location</a></li>
            <li><a ui-sref="addMediaTag">Add Media Tag</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Providers<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="targetStudyProviders({ city:'Jaipur' })">Default Dataset</a></li>
            <!--<li><a ui-sref="providers({ city:'Jaipur' })">Second Dataset</a></li>-->
          </ul>
        </li>
        
        </ul>
        
        
        
        
        
        <ul class="nav navbar-nav navbar-right">
        <li>
            <span ng-if="sessionuser.image">
                <img ng-src="{{sessionuser.image}}" id="userPic"/>
            </span>
        </li>   
            
        <li class="dropdown" ng-if="sessionuser">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span ng-if="sessionuser.basic.name">{{sessionuser.basic.name}}</span>
            <span ng-if="!sessionuser.basic.name">Get Started</span>
            <span class="badge">
            {{notification.unread.length}}
            </span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" >
            <li>
            <a ui-sref="profile({ userId:{{'sessionuser.userId'}} })">Profile</a>
            </li>
            <li>
            <a ng-if="sessionuser.userType != 'Partner'" ui-sref="shortlisted({ userId:{{'sessionuser.userId'}} })">Your Shortlisted Institutes</a>
            </li>
            <li>
            <a ng-if="sessionuser.userType != 'Partner'" ui-sref="viewed({ userId:{{'sessionuser.userId'}} })">Your Viewed Institutes</a>
            </li>
            <li ng-if="sessionuser.userType=='Intern - Business Development' || sessionuser.userType=='Master'">
                <a ui-sref="assigned({ userId:{{'sessionuser.userId'}} })">Assigned Institutes</a>
            </li>
            <li ng-if="sessionuser.userType=='Intern - Business Development'">
                <a ui-sref="filled({ userId:{{'sessionuser.userId'}} })">Your Filled Institutes</a>
            </li>
            <li ng-if="sessionuser.userType=='Master'">
                <a ui-sref="filledAll({ userId:{{'sessionuser.userId'}} })">Filled Institutes</a>
            </li>
          </ul>
        </li>    
        
        </ul>
        
        
        
    </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>