<style>
    
    #categories{
        margin-top: 30px;
    }
    #category{
        text-align: center;
        min-height: 10vh;
        padding: 0px;
        border: white;
        
    }
    #categoryFont{
        color: white;
        min-width: 175px;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        background-color: rgba(0,0,0,0.5);
        margin-top: 7px;
        margin-bottom: 7px;
        
        
        margin-right: 0px;
        padding: 5px;
        letter-spacing: 2px;
        box-shadow: 1px 1px 1px #6A6968;
        font-family: "Avenir";
        
    }
    #categoryFont:hover{
        background-color: #20C39A;
        font-weight: 900;
    }
    a{
        color: white;
        text-decoration: none;
        
    }
    a:hover{
        color: white;
    }
    #categoryLink a:hover{
      padding: 0px;
      color: white;
      text-decoration: none;
        
    }
    #pageHeader{
        color: rgba(0,0,0,0.8);
        letter-spacing: 4px;
        font-family: "Avenir";
        
    }
    #pageHeaderFont{
        letter-spacing: 4px;
        font-family: "Avenir";
        /*border-bottom: solid 3px;
        border-color: #20C39A;*/
        color: white;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    }
    #subheading{
        letter-spacing: 2px;
        margin-top: 40px;
        font-family: "Avenir";
        color: white;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
    }
    a:hover{
        text-decoration: none;
    }
    #leftSection{
        min-height: 80vh;
        /*border-right: solid 3px;
        border-color: #20C39A;*/
    }
    #rightSection{
        min-height: 90vh;
        padding-top:20px;
    }
    #landingPage{
        padding-top: 25px;
        min-height: 90vh;
    }
    #fullPage{
        min-height: 90vh;
        margin: 0px;
        padding: 0px;
        background-image: url("images/background/background-min.jpg");
        background-size:     cover;
        background-position: center center;
    }
    .landingButton{
        color: #20C39A;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #rightLogo{
        max-height: 50px;
        max-width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    #logoContainer{
        min-height: 12vh;
        margin-bottom: 5px;
    }
    
</style>
<div>
<div class="container-fluid" id="fullPage">
    <div class="column col-xs-12 col-sm-12 col-md-12 col-lg-12" id="spacer1">
    </div>
    <div>
    <div class="column col-xs-12 col-sm-12 col-md-12 col-lg-12" id="landingPage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
        <div layout="column" layout-align="center center" id="leftSection" class="">
            <span class="text md-display-3 animated bounce" id="pageHeaderFont"><strong>SEARCH <span class="hidden-xs">&#8226;</span> COMPARE <span class="hidden-xs">&#8226;</span> APPLY</strong>
            </span>
            <span class="md-title animated fadeIn" id="subheading">
                BROWSE THROUGH THOUSANDS OF <span class="text-primary">EXAM PREPARATION INSTITUTES</span> OFFERING <span class="text-primary">AMAZING DISCOUNTS</span> AND FIND THE ONE RIGHT FOR <span class="text-primary">YOU</span>
            </span>
            <a class="animated pulse landingButton " ui-sref="main">
            <span class="text-primary md-display-4 landingButton"><!--<strong>START</strong>-->
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>    
            </span>
            </a>
            
        </div>
        </div>
        <!--<div class="hidden-xs hidden-sm col-md-6 col-lg-6 text-center" id="rightSection">
        <div layout="row" layout-align ="center" >
        
        <div class="row">
            <div ng-repeat="i in getNumber(number) track by $index" class="col-md-3 col-lg-3" id="logoContainer">
                <img ng-src="images/coachinglogo/{{$index+1}}.jpg" id="rightLogo"/>
                
            </div>
        </div>
        </div>
        </div>-->
    </div>
    </div>
</div>