<style>
    .top-buffer{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #landingPage{
        min-height: 80vh;
    }
    #category{
        text-align: center;
        min-height: 15vh;
        padding: 10px;
    }
    #pageHeader{
        
    }
    

    
</style>
<div class="container">
    <div class="column" id="landingPage">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animated bounce text-center top-buffer" id="pageHeader">
            <h4 class="text md-display-3">Start your test prep today, <span class="text-primary">what are you looking to study?</span>
            </h4>
        </div>
        <div ng-repeat="category in categories">
            <div  class="panel col-xs-12 col-sm-12 col-md-3 col-lg-3 " id="category" ng-click="goToCategory(category)">
                <div class="panel-body">
                    <div class="hvr-underline-from-left">
                        <strong>
                            <h6 class="text-center md-title">{{category.displayname}}</h6>
                        </strong>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
    
    
</div>