<style>
    
    md-autocomplete{
        background-color: #F5F5F5;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
        color: white;
    }
    #profileSection{
        min-height: 20vh;
    }
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
</style>

<div layout="row" layout-align="center center" class="whiteBackground">
<div layout="column" layout-align="center center" flex-xs="100" flex-gt-xs="80"  class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    <div layout="column" layout-align="center center" class="marginB20">
        <a class="editFont" ng-click="properNames()">
        Set Proper Names
        </a>
    </div>
    <div layout="column" ng-controller="userAutocompleteController as ctrl" class="width100">
        <md-autocomplete flex 
        md-selected-item="ctrl.selectedItem"
        md-selected-item-change= "ctrl.selectedItemChange(item)"
        md-search-text="ctrl.searchText"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.basic.name"
        md-delay="300"
        md-menu-class="autocomplete"
        placeholder="Search for Users"
        class="width100 min20vh">
            <md-item-template >
              <span class="item-title font12">
                  <span class="font14"><strong>{{item.name}}</strong></span>&nbsp;&nbsp;
                  <img ng-if="item.image" ng-src="{{item.image}}" id="autocompleteLogo"/>
                  {{item.basic.name}}
              </span>
            </md-item-template>
          
        </md-autocomplete>
    </div>
    <div layout="column" layout-xs="column" layout-align="start start" class="width100" >
        <div flex="100" layout="column" layout-align="start start" class="padding20 secondFont gainsboroBorder width100" id="profileSection">
            <div layout="row" layout-align="start center" ng-if="thisuser.basic" class="width100">
                <div layout="column" layout-align="start center">
                    <div layout="column" layout-align="center center" ng-if="thisuser.image">
                        <img id="userPic" ng-src="{{thisuser.image}}" class="img-circle" />
                    </div>
                    <div>
                        {{thisuser.basic.name}}
                    </div>
                    <div layout="row" layout-align="start center" layout-wrap>
                        <div class="margin5">
                            {{thisuser.userType}}
                        </div>
                        <div ng-repeat="partnerId in thisuser.partner" class="font12 margin5">
                            <a ui-sref="claim({ coachingId:{{'partnerId'}} })" target="_blank">
                            {{partnerId}}
                            </a>
                        </div>
                    </div>
                    
                    <div layout="row" layout-align="start center" class="font10">
                        <div class="marginR10">{{thisuser._id}}</div>
                        <div class="marginR10" ng-if="thisuser.mobile">{{thisuser.mobile}}</div>
                        <div class="marginR10" ng-if="thisuser.email">{{thisuser.email}}</div>
                        <div class="marginR10" ng-if="thisuser.facebook.link">
                            <a ng-href="{{thisuser.facebook.link}}" target="_blank">FB Profile</a>
                            
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="start start" class="paddingL20 editFont" layout-wrap>
                    <div layout="column" layout-align="start start" ng-if="thisuser.blogger" class="paddingLR10">
                        <md-button class="md-green2 md-small  editFont" ng-click="activateBlogger(thisuser)" ng-if="!thisuser.blogger.active">
                        Activate Blogging
                        </md-button>
                        <md-button class="md-danger md-small editFont" ng-click="deactivateBlogger(thisuser)" ng-if="thisuser.blogger.active">
                        Deactivate Blogging
                        </md-button>
                    </div>
                    <div layout="column" layout-align="start start" ng-if="thisuser.blogger" class="paddingLR10">
                        <md-button class="md-green2 md-small  editFont" ng-click="activateIntern(thisuser)" ng-if="thisuser.userType=='Student'">
                        Activate Intern
                        </md-button>
                        <md-button class="md-danger md-small editFont" ng-click="deactivateIntern(thisuser)" ng-if="thisuser.userType=='Intern - Business Development'">
                        Deactivate Intern
                        </md-button>
                    </div>
                    <div layout="column" layout-align="start start" ng-if="thisuser.userType=='Intern - Business Development'" class="paddingLR10">
                        <md-button class="md-danger md-small editFont" ng-click="closeInternship(thisuser)">
                        Close Internship
                        </md-button>
                    </div>
                    <div layout="column" layout-align="start start" ng-if="thisuser.userType == 'Student'">
                        <md-button class="md-danger md-small editFont" ng-click="makePartnerDialog()">
                        Convert to Partner
                        </md-button>
                    </div>
                    <div layout="column" layout-align="start start" ng-if="thisuser.userType == 'Partner'">
                        <md-button class="md-danger md-small editFont" ng-click="unmakePartner()">
                        Convert to Student
                        </md-button>
                    </div>
                    
                    <div layout="column" layout-align="start start">
                        <md-button class="md-signup md-small editFont" ng-click="hundredblogEmail(thisuser._id)" ng-if="thisuser.userType == 'Master'">
                        Send 100 Blog Email
                        </md-button>
                    </div>
                </div>
                
                
                
                
            </div>
            <div layout="row" layout-align="start center" layout-wrap ng-if="thisuserBlogViewed.length > 0" class="width100 marginT20">
                <div layout="row" layout-align="start center" ng-repeat="blog in thisuserBlogViewed" class="font10 margin5">
                    <div class="badge" id="badge">
                        <a ng-href="{{blog}}" target="_blank">{{blog}}</a>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="start center" layout-wrap ng-if="thisuserViewed.length > 0" class="width100 marginT20">
                <div layout="column" layout-align="center center" ng-repeat="view in thisuserViewed | orderBy:'-_date'" flex-gt-xs="33" flex-xs="100" class="width100 padding10">
                    <div layout="column" layout-align="start start" class="width100 gainsboroBorder padding10">
                    <div layout="row" layout-align="start start" class="width100 gainsboroBottomBorder">
                        <div layout="row" layout-align="start start" id="logoHolder">
                            <img ng-src="{{view.logo}}" id="logo"/>
                        </div>
                        <div layout="column" layout-align="start start" class="paddingL20">
                        <div layout="column" layout-align="start start" class="secondFont bold">
                            <div>{{view.groupName}}</div>

                        </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="start start" layout-wrap class="width100 paddingT10 editFont">
                        <div class="paddingR10">
                            Cities:
                        </div>
                        <div layout="column" layout-aling="center center" ng-repeat="cityView in view.viewSummary | orderBy:'-_date'" class="paddingR10">
                        <div layout="row" layout-align="center center">
                            <a ui-sref="showGroup({ categoryName:{{'cityView.stream'}}, subCategoryName:{{'cityView.exam'}}, cityName:{{'cityView.city'}}, groupName:{{'view.groupName'}} })" target="_blank">{{cityView.city}}</a>
                        </div>    
                        <div layout="row" layout-align="center center" class="font8">   
                            {{cityView._date | date:'dd MMM yy'}}
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    
</div>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="parnterDialog">
      <md-dialog>
          <div layout="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20">
                <span class="danger md-headline">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    <input type="text" class="" ng-model="partnerInstituteId"  placeholder="Partner Id">
                </span>
              </div>
              <div class="padding10">
                  
                  <md-button class="md-green2 md-small" ng-click="makePartner()">
                    Mark Partner!
                  </md-button>
              </div>
          </div>
      </md-dialog>
    </div>    
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="savedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Changes Saved!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="errorDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                    <i class="fa fa-exclamation-triangle danger" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Something went wrong!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>