
<div class="container">
    <div id="spacer1">
    </div>
    <div class="row">
        <!--<h6 class="text-primary">Dashboard</h6>-->
        <div layout="row" layout-xs="column" layout-margin  layout-align="center" >
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Users</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <div>
                            <font size="10" class="text-primary" >{{usersCount}}</font>
                        </div>
                        <div>
                            <strong>Verfied:</strong><br/>
                            <font size="10" class="text-primary" >{{verifiedUsersCount}}</font>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Coaching Institutes</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <font size="10" class="text-primary" >{{coachingCount}}</font>
                    </div>
                    
                </div>
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Students</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <font size="10" class="text-primary" >{{studentsCount}}</font>
                    </div>
                </div>
            </div>
            
        </div>
        <md-divider></md-divider>
    </div>
</div>



