<style>
    #instituteInput{
        background-color : #f7f7f7;
        font-weight: 100;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    #assignTask{
        margin-bottom: 40px;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    #badge{
        background: #20C39A;
    }
</style>
<div class="container">
    <div id="spacer1">
    </div>
    <div class="row">
        <!--<h6 class="text-primary">Dashboard</h6>-->
        <div layout="row" layout-xs="column" layout-margin  layout-align="center" >
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Users</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <div>
                            <font size="10" class="text-primary" >{{usersCount}}</font>
                        </div>
                        <div>
                            <strong>Verfied:</strong><br/>
                            <font size="10" class="text-primary" >{{verifiedUsersCount}}</font>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Coaching Institutes</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <font size="10" class="text-primary" >{{coachingCount}}</font>
                    </div>
                    
                    <div layout="column" layout-align="center">
                        <span>Saved: {{coachingSavedCount}}</span>
                        <span>Filled by Interns: {{filledCount}}</span>
                    </div>
                </div>
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Students</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <font size="10" class="text-primary" >{{studentCount}}</font>
                    </div>
                </div>
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Interns</strong>
                </div>
                <div class="panel-body">
                    <div layout-align="center">
                        <font size="10" class="text-primary" >{{internList.length}}</font>
                    </div>
                    <div layout-align="center">
                        <strong>Due Tasks:</strong><br/>
                        <font size="10" class="text-primary" >{{fillsDue}}</font>
                    </div>
                </div>
            </div>
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <strong>Views (GMT)</strong>
                </div>
                <div class="panel-body">
                    <div layout="column" layout-align="start start" class="font12">
                        <span>
                            Today:  {{masterViewSummary.today}}
                        </span>
                        <span>
                            Yesterday:  {{masterViewSummary.yesterday}}
                        </span>
                        <span>
                            Last 7 days:  {{masterViewSummary.week}}
                        </span>
                        <span>
                            Total:  {{masterViewSummary.total}}
                        </span>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        
    </div>
    
    <div class="row whiteBackground greyBorder" id="assignTask">
        <div layout="row" layout-xs="column" layout-margin  layout-align="center" class="font20">
            Assign CI Claim Task
        </div>
        <div layout="row" layout-xs="column"  layout-align="center" layout-padding>
            <div flex="40" layout="row" layout-align="start center">
                <input type="text" placeholder="Paste Link or Institute Id" class="form-control text-center width100 text-left" ng-model="instituteInput" id="instituteInput" ng-change="updateUserPassword(userPassword)">
            </div>
            <div flex="20" layout="row" layout-align="start center">
                <md-datepicker ng-model="ciDeadline" md-placeholder="Set Deadline"></md-datepicker>
            </div>
            <div flex="40" layout="row" layout-align="start center">
                <md-input-container class="width75 text-primary">
                  <md-select ng-model="ciIntern"  placeholder="Select Intern">

                    <md-option ng-value="intern._id" ng-repeat="intern in internList" class="text-primary" ng-click="update(intern)">
                      {{intern.basic.name}}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-button  class="md-green md-small font10" ng-click="assignCIFill()" class="width25">Assign</md-button>
            </div>
            
            
            
        </div>
    </div>
    <div class="row whiteBackground greyBorder" id="assignTask">
        <div layout="column"   layout-align="center center" class="font10">
            <span class="top-buffer">
                <span class="font20">Assigned Tasks</span>&nbsp;<span class="badge" id="badge">{{fillsDue}}</span>
            </span>
            <div flex layout="row" class="width100">
                <div flex="50" layout="column" class="font12 padded2">
                    <span class="secondFont bold">
                    Intern Roaster
                    </span>
                <div layout="column">
                    <div flex layout="row" class="width100">
                        <div flex="50">
                            Name
                        </div>
                        <div flex="25">
                            Due Tasks
                        </div>
                        <div flex="25">
                            Done Tasks
                        </div>
                    </div>
                    
                    <div ng-repeat="due in internDueList | orderBy: '-due'" ng-if="due.intern.active" flex layout="row" class="width100">
                        <div flex="50">
                            {{due.intern.basic.name}}
                        </div>
                        <div flex="25">
                            {{due.due}}
                        </div>
                        <div flex="25">
                            {{due.done}}
                        </div>
                    </div>
                    
                    </div>
                </div>
                <div flex="50" layout="column"  class="font12 padded2">
                    <span class="secondFont bold">
                    Marked as Done Yesterday (after {{yesterday | date: "dd-MMM-yy HH:mm"}})<span class="badge" id="badge">{{yesterdayTasks.length}}</span>
                    </span>
                    <div ng-repeat="yesterdayTask in yesterdayTasks">
                        <a ui-sref="claim({ coachingId:{{'yesterdayTask.institute._id'}} })" target="_blank" id="link">
                        <strong>{{yesterdayTask.institute.name}}</strong>
                        </a>
                         by 
                        {{yesterdayTask.user.name}}
                    </div>
                </div>
            </div>
            
            
            <div flex layout="row" class="width100 greyDashedBottomBorder bold">
                <div layout="column" layout="center center" flex="5">S. No.</div>
                <div layout="column" layout="center center" flex="10">Created on</div>
                <div layout="column" layout="center center" flex="10">Deadline</div>
                <div layout="column" layout="center center" flex="10">Finished?</div>
                <div layout="column" layout="center center" flex="10">Finished on</div>
                <div layout="column" layout="center center" flex="15">Name</div>
                <div layout="column" layout="center center" flex="25">Institute</div>
                <div layout="column" layout="center center" flex="5">Id</div>
            </div>
            <div layout="row" ng-repeat="tofillci in tofillciList | orderBy:['-active','-_finished','_deadline','_created']" class="width100 greyDashedBottomBorder" ng-class="{ pending: tofillci.active }">
                <div layout="column" layout="center center" flex="5">{{$index + 1}}</div>
                <div layout="column" layout="center center" flex="10">{{tofillci._created | date: "dd-MMM-yy HH:mm"}}</div>
                <div layout="column" layout="center center" flex="10">{{tofillci._deadline | date: "dd-MMM-yy HH:mm"}}</div>
                <div layout="column" layout="center center" flex="10" ng-class="{ pending2: tofillci.active }">{{!tofillci.active}}</div>
                <div layout="column" layout="center center" flex="10">{{tofillci._finished | date: "dd-MMM-yy HH:mm"}}</div>
                <div layout="column" layout="center center" flex="15">{{tofillci.user.name}}</div>
                <div layout="column" layout="center center" flex="25">
                    <a ui-sref="claim({ coachingId:{{'tofillci.institute._id'}} })" target="_blank" id="link">
                    <strong>{{tofillci.institute.name}}</strong>
                    </a>
                </div>
                <div layout="column" layout="center center" flex="5">{{tofillci.institute._id}}</div>
                
            </div>
        </div>
    </div>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="savedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Changes Saved!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>


