<style>
    #heroHeader{
        margin-top: 0px;
        background-color: rgba(0,0,0,0.8);
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pageLogo{
        max-height: 80px;
        max-width: 80px;
    }
    #pageLogoHolder{
        border-radius: 4px;*/
        background: white;
        height: 90px;
        width: 90px;
    }
    .sectionHeader{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .subSection{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #showmore{
        font-weight: bold;
        background: #EEEEEE;
        color: #9C9C9C;
        border: 1px solid #EEEEEE;
        padding: 5px;
    }
    #showmore:hover {
        background: #FF5A5F;
        color: white;
        border: 1px solid #FF5A5F;
    }
    .badge{
        font-family: 'Fira Sans', sans-serif;
        color: #333333;
        font-size: 11px;   
    }
    .demo-gallery > ul {
        margin-bottom: 0;
        padding-left: 15px;
    }

    .demo-gallery > ul > li {
    margin-bottom: 15px;
    width: 180px;
    display: inline-block;
    margin-right: 15px;
    list-style: outside none none;
    }

    .demo-gallery > ul > li a {
    border: 3px solid #FFF;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
    }

    .demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
    }

    .demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }

    .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
    }

    .demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
    }

    .demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    }

    .demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
    }

    .demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
    }

    .demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    }

    .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
    }

    .demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
    }

    .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    }

    .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
    }

    .demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
    }

    .demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
    }
    
    
    .videos img {
      width:100%;
      height:auto;
    }
    a.video {
      float: left;
      position: relative;
    }
    a.video span {
      width: 100%;
      height: 100%;
      position: absolute;
      background: url("images/icons/youtube.png") no-repeat;
      background-position: 50% 50%;
      background-size: 25%;
    }
    @media screen and (max-width: 480px) {
      a.video span {
        background-size: 400%;
      }
    }
    .active{
        background: #20C39A;
        color: white;
        font-weight: bold;
    }
</style>

<div id="spacer3" class="hide-xs whiteBackground">
</div>
<div id="spacerXS" class="hide-gt-xs whiteBackground">
</div>
<!--<div layout="row" layout-align="start end" id="heroHeader">
    <div hide-xs flex="5">
    </div>
    <div layout="column" layout-align="end end" class="paddingB10">
        <div layout="column" layout-align="center center" class="padding10 whiteBackground" id="pageLogoHolder">
            <img  ng-if="coachingGroup.logo" ng-src="{{coachingGroup.logo}}" class="pageLogo" alt="{{coachingGroup.name}} Logo" />
            <img  ng-if="!coachingGroup.logo || coachingGroup.logo==''" ng-src="{{defaultCoachingLogo}}" class="pageLogo" alt="{{coachingGroup.name}} Logo" />


        </div>
    </div>
</div>-->

<div class="width100 baseFont paddingB40 marginB40">
<div layout="row" layout-align="start start" class="width100 paddingTB20">
    <div hide-xs flex="15">
        
    </div>
    <div layout="column" layout-align="start start" flex class="width100">
        <h1 flex class="bold pageTitleFont textBlack margin0 ">
            {{coachingGroup.name}}
        </h1>
    </div>
</div>

<div layout="row" layout-align="start start" class="width100">
    <div hide-xs flex="10">
        <ul class="nav nav-list affix paddingTB10 smallFont">
            <li><a du-smooth-scroll="overview" offset="200" du-smooth-scroll du-scrollspy du-active-class="active">Overview</a></li>
            <li><a du-smooth-scroll="coursesresults" offset="200" du-smooth-scroll du-scrollspy du-active-class="active">Courses & Results</a></li>
            <li><a du-smooth-scroll="photos" offset="200" du-scrollspy du-active-class="active">Photos</a></li>
            <li><a du-smooth-scroll="videos" offset="200" du-scrollspy du-active-class="active">Videos</a></li>
            <li><a du-smooth-scroll="faculties" offset="200" du-scrollspy du-active-class="active">Faculty</a></li>
        </ul>
        
        
    </div>
    <div hide-xs flex="5">
    </div>
    <div layout="column" layout-align="start start" flex class="width100">
        
        <div layout="column" layout-align="start start" class="width100" id="overview">
        <h2 layout="row" layout-align="start start" class="width100 h2Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
            Overview
        </h2>
        <div layout="column" layout-align="start start" class="width100 subSection">
            <div class="width100">CENTRE INFORMATION</div>
            <div layout="row" layout-align="start start" class="width100" layout-wrap>
                <div  layout="column" layout-align="start start" flex="50" class="paddingTB5" ng-if="coachingGroup.phone[0]">
                    <div layout="row" layout-align="start center" class="width100">
                        <div flex="10"><img src="images/icons/n5/general/phone.png" class="n5Icon" />
                        </div>
                        <div flex class="width100 bold">Phone</div>
                    </div>
                    <div layout="row" layout-align="start center" class="width100">
                        <div flex="10">
                        </div>
                        <div flex class="narrowLine">{{coachingGroup.phone[0]}}</div>
                        
                    </div>
                </div>
                <div  layout="column" layout-align="start start" flex="50" class="paddingTB5" ng-if="coachingGroup.mobile[0]">
                    <div layout="row" layout-align="start center" class="width100">
                        <div flex="10"><img src="images/icons/n5/general/mobile.png" class="n5Icon" />
                        </div>
                        <div flex class="width100 bold">Mobile</div>
                    </div>
                    <div layout="row" layout-align="start center" class="width100">
                        <div flex="10">
                        </div>
                        <div flex class="narrowLine">{{coachingGroup.mobile[0]}}</div>
                        
                    </div>
                </div>
                <div  layout="column" layout-align="start start" flex="50" class="paddingTB5" ng-if="coachingGroup.email[0]">
                    <div layout="row" layout-align="start center" class="width100">
                        <div flex="10"><img src="images/icons/n5/general/email.png" class="n5Icon" />
                        </div>
                        <div flex class="width100 bold">Email</div>
                    </div>
                    <div layout="row" layout-align="start center" class="width100">
                        <div flex="10">
                        </div>
                        <div flex class="narrowLine">{{coachingGroup.email[0]}}</div>
                        
                    </div>
                </div>
            </div>
        </div>
            
        <div  layout="column" layout-align="start start" class="paddingTB5 width100 subSection">
            <div layout="row" layout-align="start center" class="width100">
                <div flex="5"><img src="images/icons/n5/general/location.png" class="n5IconLg" />
                </div>
                <div flex class="width100 bold"><h3 class="width100 h3Font margin0 bold">{{coachingGroup.name}},<span ng-if="coachingGroup.location">
                    {{coachingGroup.location.area}},
                </span>&nbsp;{{coachingGroup.city}}
                </h3></div>
            </div>
            <div layout="row" layout-align="start center" class="width100">
                <div flex="5">
                </div>
                <div flex class="narrowLine">
                    {{coachingGroup.address}}, {{coachingGroup.city}}<span ng-if="coachingGroup.pincode">, {{coachingGroup.pincode}}</span>
                </div>

            </div>
        </div>    
        
        <div class="width100 min20vh subSection" ng-if="coachingGroup.mapAddress && coachingGroup.mapAddress!=''">
            <ng-map default-style="false" zoom-to-include-markers=true  scrollwheel="false" minimum-zoom="12"  maximum-zoom="14">
            <marker position="{{coachingGroup.mapAddress}}"
                  title="{{coachingGroup.name}}"
                  animation="Animation.DROP"
                  centered="true"></marker>
            </ng-map>

        </div>
        <div layout="column" layout-align="start start" class="width100 subSection">
            <div class="width100">AMENITIES</div>
            
        </div>    
           
        </div>
        <div layout="column" layout-align="start start" class="width100" id="coursesresults">
        <h3 layout="row" layout-align="start start" class="width100 h2Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
            Courses & Results at {{coachingGroup.name}}
        </h3>
        <md-content class="width100 subSection whiteBackground">
        <md-tabs md-selected="streamIndex" md-border-bottom md-autoselect md-dynamic-height>
            <md-tab ng-repeat="stream in coachingGroup.streamExams" label="{{stream.displayname}}">
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height>
                <md-tab ng-repeat="exam in coachingGroup.streamExams[streamIndex].exams" label="{{exam.exam_page_name}}">
                    <h3 layout="row" layout-align="start start" class="width100 h3Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
                        {{exam.exam_page_name}} Courses at {{coachingGroup.name}}
                    </h3>

                    <div ng-if="coachingGroup.cityPosition[exam._id] && coachingGroup.cityPosition[exam._id] <= 5" class="marginT10 marginB20">
                    {{coachingGroup.name}} is EB Rank #{{coachingGroup.cityPosition[exam._id]}} for {{exam.exam_page_name}} in {{coachingGroup.city}}
                    </div>

                    <div layout="column" layout-align="start start" class="width100 paddingLR5">
                    <div layout="column" layout-align="start start" class="boxShadow padding10 marginB10 width100" ng-repeat="course in exam.course" ng-show="$index < loaded.courses">
                        <div layout="row" layout-align="start start" class="width100">
                            <div flex>{{course.name}}</div>
                            <div>₹ {{course.fees}}</div>
                        </div>
                        <div layout="row" layout-align="start start" class="width100">
                            {{course.idealFor}}
                        </div>
                        <div layout="row" layout-align="start start" class="width100">
                            <div flex>
                                {{course.mode}}
                            </div>
                            <div flex>
                                {{course.duration}}
                            </div>
                        </div>
                    </div>
                    <div class="width100 padding10">
                        <div layout="row" layout-align="center center" id="showmore" ng-click="loadMoreCourses(exam)" class="width100 spacedLetter1" ng-show="exam.course.length > loaded.courses">
                            SHOW MORE
                        </div>
                    </div>
                    <div layout="column" layout-align="center center" class="min20vh boxShadow padding10 marginB10 width100" ng-if="!exam.course || exam.course.length == 0">
                        Sorry no courses are yet listed for {{exam.exam_page_name}} at {{coachingGroup.name}} 

                    </div>
                </div>
                <h3 layout="row" layout-align="start start" class="width100 h3Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
                    {{exam.exam_page_name}} Results at {{coachingGroup.name}}
                </h3>
                <div layout="column" layout-align="start start" class="width100 paddingLR5">
                    <div layout="row" layout-align="start start" class="width100" layout-wrap>
                        <div layout="column" layout-align="start start" flex="20" ng-repeat="result in exam.results" ng-if="$index< loaded.results" class="padding10">
                            
                            <a  ng-href="{{result.image}}" class="strip width100" data-strip-caption="{{result.name}} AIR {{result.rank}} | {{result.year}}" data-strip-options="overlap: false" data-strip-group="groupResults" title="{{result.name}}">
                            <div ng-hide="$index >= loaded.results - 1" title="{{result.name}} AIR {{result.rank}} | {{result.year}}" id="thumbnailImage" ng-style="{'background-image':'url({{result.image}})'}">
                            </div>
                            <div layout="column" layout-align="center center" class="smallFont width100 padding5" ng-hide="$index >= loaded.results - 1">
                                <div layout="row" layout-align="center center" class="width100 text-center wideLine">
                                    {{result.name}}
                                </div>
                                <div layout="row" layout-align="center center" class="width100 text-center wideLine" layout-wrap ng-if="result.rank && result.year">
                                    AIR {{result.rank}} | {{result.year}}
                                </div>
                            </div>

                            </a>
                            
                            

                            
                            <div ng-if="$index == loaded.results - 1" id="thumbnailImage" ng-style="{'background-image':'url({{result.image}})'}">
                                <div layout="row" layout-align="center center" class="width100 text-white text-center" ng-click="loadMoreResults()" id="thumbnailText">
                                    +{{exam.results.length - loaded.results}} more results
                                </div>
                                
                            </div>
                            <div ng-if="$index == loaded.results - 1" layout="column" layout-align="center center" class="smallFont width100 padding5">
                                <div layout="row" layout-align="center center" class="width100 text-center wideLine">
                                    {{result.name}}
                                </div>
                                <div layout="row" layout-align="center center" class="width100 text-center wideLine" layout-wrap ng-if="result.rank && result.year">
                                    AIR {{result.rank}} | {{result.year}}
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="width100 padding10">
                        <div layout="row" layout-align="center center" id="showmore" ng-click="loadMoreResults(exam)" class="width100 spacedLetter1" ng-show="exam.results.length > loaded.results">
                            SHOW MORE
                        </div>
                    </div>

                    <div layout="column" layout-align="center center" class="min20vh boxShadow padding10 marginB10 width100" ng-if="!exam.results || exam.results.length == 0">
                        Sorry no results are yet available for {{exam.exam_page_name}} at {{coachingGroup.name}} 

                    </div>
                </div>    
                    
                <h3 layout="row" layout-align="start start" class="width100 h3Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
                    {{exam.exam_page_name}} Student Reviews at {{coachingGroup.name}}
                </h3>
                <div layout="column" layout-align="start start" class="width100 paddingLR5">
                    <!--<div layout="column" layout-align="start start" class="width100 padding5" ng-repeat="review in exam.reviews" ng-if="$index< loaded.reviews" layout-wrap>
                        <div layout="column" layout-align="start start" flex="20"  class="padding10 boxShadow width100">
                            {{review.user.basic.name}}
                        </div>


                    </div>-->
                    
                    <div layout="column" layout-align="center start" ng-repeat="otherReview in exam.reviews" ng-if="$index< loaded.reviews" class="padding10 gainsboroBorder marginB5">
                    <div layout="column" layout-align="start start" class="marginB10 width100">
                        <div layout="row" layout-align="start center">
                            <div ng-if="otherReview.user.image" class="marginR10">
                            <img ng-src="{{otherReview.user.image}}" id="userPic" class="img-circle"/>
                            </div>
                            <div layout="column" layout-align="center start" class="width100">
                            <div layout="row" layout-align="start center" class="width100">
                                {{otherReview.user.basic.name}}
                                <!--<span class="font12 textLightGrey marginL5">
                                reviewed 
                                <span>
                                    {{otherReview.institute.name}} Centre
                                    <span ng-if="thisGroup.location.area">
                                    , {{otherReview.institute.location.area}}
                                    </span>
                                    <md-tooltip>{{otherReview.institute.address}}</md-tooltip>
                                </span>
                                <span>
                                    on {{otherReview._created | date:'longDate'}}
                                </span>    
                                </span>-->
                            </div>
                            <div layout="row" layout-align="start center" class="width100 smallFont wideLine2">
                                {{otherReview._created | date:'longDate'}}
                                <!--{{otherReview.institute.address}}-->
                            </div>    
                                
                            </div>
                        </div>
                        
                    </div>
                    <div layout="row" layout-align="start start" class="marginB5 width100">
                        
                        
                        <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 font12" ng-repeat="reviewParam in reviewParams">
                            <div layout="row" layout-align="start start">
                            <div flex class="textBlack  text-left">
                                {{reviewParam.displayname}}
                            </div>
                            <div layout="row" layout-align="start center" >
                                {{otherReview[reviewParam.name] | number:1}}
                            </div>
                            </div>
                        </div>

                    </div>
                        
                    </div>
                    <div layout="row" layout-align="start start" class="marginT10 wideLine">
                        {{otherReview.text}}
                    </div>
                    <div layout="row" layout-xs="column" layout-align="start center" class="width100 font12 marginT10 paddingTB10 gainsboroBorder" ng-if="otherReview.user._id == user.userId">
                        <div flex layout="row" layout-align="start center" class="bold paddingL10">
                            Thank you for reviewing {{otherReview.institute.name}}, unlock exclusive discounts brought to you by Exambazaar!
                        </div>
                        
                        
                        <div  layout="row" layout-align="end center" class="">
                        
                            <md-button class="md-danger md-small font10 width8" class="marginL10" ng-if="!otherReview.coupon && otherReview.active" ui-sref="availOffer({ userId:{{'user.userId'}}, reviewId:{{'otherReview._id'}} })">
                                Avail Discount
                            </md-button>

                            <md-button class="md-green2 md-small font10 width8"  class="marginL10" ng-if="otherReview.coupon && otherReview.active" ui-sref="availOffer({ userId:{{'user.userId'}}, reviewId:{{'otherReview._id'}} })">
                                Your Coupon
                            </md-button>

                            <div ng-if="!otherReview.active" class="danger bold">
                            Review Disabled by Admin
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="width100 padding10">
                        <div layout="row" layout-align="center center" id="showmore" ng-click="loadMoreReviews()" class="width100 spacedLetter1" ng-show="exam.reviews.length > loaded.reviews">
                            SHOW MORE
                        </div>
                    </div>

                    <div layout="column" layout-align="center center" class="min20vh boxShadow padding10 marginB10 width100" ng-if="!exam.reviews || exam.reviews.length == 0">
                        Sorry no student reviews are yet available for {{exam.exam_page_name}} courses at {{coachingGroup.name}} 

                    </div>
                </div>    

                </md-tab>


            </md-tabs>
            </md-tab>
        </md-tabs>
        </md-content>
        </div>
        
        <div layout="column" layout-align="start start" class="width100" id="photos">
        <h2 layout="row" layout-align="start start" class="width100 h2Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
            Photos
        </h2>
        <div layout="column" layout-align="start start" class="width100">
            <div layout="row" layout-align="start start" class="width100" layout-wrap>
                <div flex="20" class="padding10" ng-repeat="photo in coachingGroup.photo" ng-if="$index<loaded.photo">
                    <a  ng-href="{{photo.image}}" class="strip" data-strip-caption="{{photo.description}}" data-strip-options="overlap: false" data-strip-group="groupPhotos" title="{{photo.description}}">
                    <div ng-hide="$index >=loaded.photo - 1" id="thumbnailImage" ng-style="{'background-image':'url({{photo.image}})'}">
                    </div>

                    </a>
                    <div ng-show="$index == loaded.photo - 1" id="thumbnailImage" ng-style="{'background-image':'url({{photo.image}})'}" ng-click="loadMorePhotos()">
                        <div layout="row" layout-align="center center" class="width100 text-white text-center" id="thumbnailText">
                            +{{coachingGroup.photo.length - loaded.photo + 1}} more photos
                        </div>
                    </div>
                </div>
            </div>
            <div class="width100 padding10">
                <div layout="row" layout-align="center center" id="showmore" ng-click="loadMorePhotos()" class="width100 spacedLetter1" ng-show="coachingGroup.photo.length > loaded.photo">
                    SHOW MORE
                </div>
            </div>
        </div>
        </div>
        
        <div layout="column" layout-align="start start" class="width100" id="videos">
        <h2 layout="row" layout-align="start start" class="width100 h2Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
            Videos
        </h2>
        <div layout="column" layout-align="start start" class="width100">
            
            <div layout="row" layout-align="start start" class="width100 videos" layout-wrap>
                <!--<div flex="50" ng-repeat="video in coachingGroup.video" class="padding10" ng-if="$index< loaded.video">
                    <div ng-if="$index < loaded.video" class="width100">
                        <div class="embed-responsive embed-responsive-16by9">
                        <youtube-video class="" video-url="video.link" class="embed-responsive-item" player-vars="playerVars"></youtube-video>
                        </div>
                        
                    </div>
                </div>-->
                <div flex="25" ng-repeat="video in coachingGroup.video" class="padding10" ng-if="$index< loaded.video">
                    
                    <a class="strip video" ng-href="{{video.link}}" data-strip-options="overlap: false" data-strip-group="groupVideos">
                        <span></span>
                        <img ng-src="{{video.thumbnail}}" class="width100"/>
                    </a>
                </div>
                
            </div>
            
            <div class="width100 padding10">
                <div layout="row" layout-align="center center" id="showmore" ng-click="loadMoreVideos()" class="width100 spacedLetter1" ng-show="coachingGroup.video.length > loaded.video">
                    SHOW MORE
                </div>
            </div>
        </div>
        </div>
        
        <div layout="column" layout-align="start start" class="width100" id="faculties">
        <h2 layout="row" layout-align="start start" class="width100 h2Font sectionHeader brandBottomBorder paddingB5 bold" layout-wrap>
            Faculty at {{coachingGroup.name}}
        </h2>
        <div layout="column" layout-align="start start" class="width100">
            
            <div layout="row" layout-align="start start" class="width100" layout-wrap>
                <div flex="25" ng-repeat="faculty in coachingGroup.faculty" ng-if="$index < loaded.faculty" class="padding10">
                    <a  ng-href="{{faculty.image}}" class="strip" data-strip-caption="{{faculty.name}} {{faculty.description}}" data-strip-options="overlap: false" data-strip-group="groupFaculty" data-strip-options="overlap: false" data-strip-group-options="minWidth: 100">
                    <div ng-hide="$index >=loaded.faculty - 1" id="thumbnailImage" ng-style="{'background-image':'url({{faculty.image}})'}">
                    </div>
                    <div layout="column" layout-align="center center" class="smallFont width100" ng-hide="$index >= loaded.faculty - 1">
                    <div layout="row" layout-align="center center" class="text-center width100">
                        {{faculty.name}}
                    </div>
                    <!--<div layout="row" layout-align="center center" class=" text-center smallerFont width100" layout-wrap>
                        {{faculty.description}}
                    </div>-->
                </div>
                    </a>
                    <div ng-show="$index == loaded.faculty - 1" id="thumbnailImage" ng-style="{'background-image':'url({{faculty.image}})'}" ng-click="loadMoreFaculty()">
                        <div layout="row" layout-align="center center" class="width100 text-white text-center" id="thumbnailText">
                            +{{coachingGroup.faculty.length - loaded.faculty + 1}} more faculties
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div layout="row" layout-align="start start" class="width100" layout-wrap>
                <div layout="column" layout-align="start start" flex="25" ng-repeat="faculty in coachingGroup.faculty" ng-if="$index < loaded.faculty" class="padding10">
                    <div ng-hide="$index >= loaded.faculty - 1" id="thumbnailImage" title="{{faculty.name}}" ng-style="{'background-image':'url({{faculty.image}})'}">
                    </div>

                    <div layout="column" layout-align="center center" class="smallFont width100" ng-hide="$index >= loaded.faculty - 1">
                        <div layout="row" layout-align="center center" class="text-center width100">
                            {{faculty.name}}
                        </div>
                        <div layout="row" layout-align="center center" class=" text-center smallerFont width100" layout-wrap>
                            {{faculty.description}}
                        </div>
                    </div>
                    <div ng-if="$index == loaded.faculty - 1" id="thumbnailImage" ng-style="{'background-image':'url({{faculty.image}})'}">
                        <div layout="row" layout-align="center center" class="width100 text-white" id="thumbnailText">
                            +{{coachingGroup.faculty.length - loaded.faculty}} more results
                        </div>
                    </div>

                </div>
            </div>-->
            <div class="width100 padding10">
                <div layout="row" layout-align="center center" id="showmore" ng-click="loadMoreFaculty()" class="width100 spacedLetter1" ng-show="coachingGroup.faculty.length > loaded.faculty">
                    SHOW MORE
                </div>
            </div>
            <div layout="column" layout-align="center center" class="min20vh boxShadow padding10 marginB10 width100" ng-if="!coachingGroup.faculty || coachingGroup.faculty.length == 0">
                Sorry, Exambazaar has no faculty information for {{coachingGroup.name}}

            </div>
        </div>
        </div>
        
        
    </div>
    <div hide-xs flex="5">
    </div>
    <div flex="25" layout="column" layout-align="start start" class="width100" hide-xs>
        <div layout="column" layout-align="start start" class="width100 subSection">
            <div class="h2Font width100 bold brandBottomBorder">Other Centres</div>
            <div layout="column" layout-align="start start" class="width100 subSection">
                <div layout="column" layout-align="start start" class="width100 smallerFont" ng-repeat="centre in cityGroupCentres">
                    <div class="width100">{{centre.groupName}}<span ng-if="centre.location.area">, {{centre.location.area}}, {{centre.city}}</span></div>
                    <div ng-if="!centre.location.area" class="smallerFont width100">{{centre.address}}, {{centre.city}}<span ng-if="centre.pincode">, {{centre.pincode}}</span></div>
                </div>
            </div>
        </div>
        
        <div class="width100 subSection">Nearby Coachings</div>
    </div>
    <div hide-xs flex="5">
    </div>
</div>
</div>