<style>
.box {
  position: relative;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#3e476c 0%, #29335C 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #29335C;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #29335C;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #29335C;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #29335C;
}
    
    
    .profileBar{
        background-color: #29335C;
        color: white;
    }
    .profileBar a{
        color: white;
        text-decoration: none;
        
    }
    
    .academicRow{
        min-height: 25vh;
        width: 100%;
        margin-top: 20px;
        
    }
    .fieldRow{
        min-height: 5vh;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fieldRow div.col1{
        color: gray;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .fieldRow div.col2{
        color: black;
    }
    
    #link{
        color: #20C39A;
    }
    #link:hover{
        color: #20C39A;
    }
    .active{
        color: white;
        font-weight: bold;
        border-bottom: 2px solid white;
    }
    #topBar{
        color: white;
    }
    #topBar.active{
        color: white;
    }
    #topBar:hover{
        font-weight: bold;
    }
    .leftBar{
        border-right: 2px solid whitesmoke;
    }
    #leftBarButton{
        border-bottom: 2px solid whitesmoke;
    }
    #leftBarButton:hover{
        border-bottom: 2px solid #20C39A;
    }
    #leftBarButton.sideactive{
        /*border: 2px solid #20C39A;
        color: #20C39A;
        font-weight: bold;*/
        background: whitesmoke;
        
    }
    .emptyTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: #333333;
        background: gainsboro;
        border: 1px solid gainsboro;
        box-shadow: 0 0 5px whitesmoke;
    }
    .emptyTag:hover{
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        box-shadow: 0 0 5px whitesmoke;
    }
    .filledTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        box-shadow: 0 0 5px whitesmoke;
    }
    
    .edLevelTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: #333333;
        background: gainsboro;
        border: 1px solid gainsboro;
        border-radius: 5px;
        box-shadow: 0 0 5px whitesmoke;
    }
    .edLevelTag:hover{
        color: white;
        background: black;
        border: 1px solid black;
        box-shadow: 0 0 5px whitesmoke;
    }
    .filledEdLevelTag{
        padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;
        color: white;
        background: black;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 0 5px whitesmoke;
    }
    .badge{
        font-size: 14px;
        white-space: normal;
        margin-top: 0px;
    }
    .subSectionHeader{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .academicSubSection{
        border-bottom: 1px solid #20C39A;
        
    }
    .academicSubHeader{
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nextButton{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #profilePicSection{
        margin-bottom: 20px;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacer1" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>

<div class="whiteBackground baseFont width100">
    <div layout="row" layout-align="center center" hide-xs layout="row" class="affixBar profileBar width100 paddingTB10" layout-align="start start"> 
        <div layout="row" layout-align="start start" flex-xs="100" flex-gt-xs="90" class="width100">
            <a layout="row" layout-align="start center" ng-repeat="component in components" ui-sref="{{component.state}}" class="paddingLR20">
                <span id="topBar" ng-class="{ active: component.active }" >
                    
                </span>       
            </a>
        </div>
    </div>
    <div id="testHeader" class="width100">
    <div layout="column" layout-align="center center" class="width100 min30vh paddingTB10" >
        <h1 class="pageTitleFont bold padding5 text-center" hide-xs>
            {{exam.seoname | uppercase}} Previous Year Official Papers
        </h1>
        <h1 class="h1Font bold padding5 text-center" hide-gt-xs>
            {{exam.seoname | uppercase}} Previous Year Official Papers
        </h1>
        <h3 class=" h3Font text-center">
            Seal your {{exam.seoname | uppercase}} preparation by attempting the Official {{exam.seoname | uppercase}} Papers for years in a Live, Timed, Exam Environment for FREE
        </h3>
    </div>
    </div>
    <div layout="row" layout-align="center start" class="width100 textDarkGrey greyBottomBorder" layout-wrap>
        <div flex-gt-xs flex-xs="45" layout="column" layout-align="start start" class="testBenefits box1 ">
            <div layout="column" layout-align="center center " class="width100 boxTop"><i class="fa fa-desktop font36" aria-hidden="true"></i></div>
            <div layout="column" layout-align="start start" class="width100 text-center boxBottom">
                <div class="bold width100 baseFont benefitTitle">Accustom Yourself</div>
                <div class="smallFont wideLine width100">Get used to the online features like Online "Page Turn"</div>
            </div>
        </div>
        <div flex-gt-xs flex-xs="45" layout="column" layout-align="start start" class="testBenefits box2 ">
            <div layout="column" layout-align="center center " class="width100 boxTop"><i class="fa fa-hourglass-half font36" aria-hidden="true"></i></div>
            <div layout="column" layout-align="start start" class="width100 text-center boxBottom">
                <div class="bold width100 baseFont benefitTitle">Timer</div>
                <div class="smallFont wideLine width100">Simulate the pressure of the ticking clock</div>
            </div>
        </div>
        <div flex-gt-xs flex-xs="45" layout="column" layout-align="start start" class="testBenefits box3 ">
            <div layout="column" layout-align="center center " class="width100 boxTop"><i class="fa fa-star-o font36" aria-hidden="true"></i></div>
            <div layout="column" layout-align="start start" class="width100 text-center boxBottom">
                <div class="bold width100 baseFont benefitTitle">Mark for Review</div>
                <div class="smallFont wideLine width100">Mark questions to review later before submitting</div>
            </div>
        </div>
        <div flex-gt-xs flex-xs="45" layout="column" layout-align="start start" class="testBenefits box4 ">
            <div layout="column" layout-align="center center " class="width100 boxTop"><i class="fa fa-plus font36" aria-hidden="true"></i></div>
            <div layout="column" layout-align="start start" class="width100 text-center boxBottom">
                <div class="bold width100 baseFont benefitTitle">Marking Scheme</div>
                <div class="smallFont wideLine width100">Marking Scheme visible for each question individually</div>
            </div>
        </div>
        <div flex-gt-xs flex-xs="45" layout="column" layout-align="start start" class="testBenefits box5 ">
            <div layout="column" layout-align="center center " class="width100 boxTop"><i class="fa fa-braille font36" aria-hidden="true"></i></div>
            <div layout="column" layout-align="start start" class="width100 text-center boxBottom">
                <div class="bold width100 baseFont benefitTitle">Quick Summary</div>
                <div class="smallFont wideLine width100">See Attempted, Marked, Seen questions in one glance</div>
            </div>
        </div>
        <div flex-gt-xs flex-xs="45" layout="column" layout-align="start start" class="testBenefits box6 ">
            <div layout="column" layout-align="center center " class="width100 boxTop"><i class="fa fa-bar-chart font36" aria-hidden="true"></i></div>
            <div layout="column" layout-align="start start" class="width100 text-center boxBottom">
                <div class="bold width100 baseFont benefitTitle">Smart Analytics</div>
                <div class="smallFont wideLine width100">Analyse your performance with detailed review and solutions</div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center start" class="width100">
    <div flex-xs="100" flex-gt-xs="80"  layout="row" layout-align="center start" class="paddingTB40 width100">
        <div layout="row" layout-xs="column" layout-align="start start" class="width100 paddingL20R40 leftBar" hide-xs flex-gt-xs="20">
            <div layout="row" layout-align="center center" class=" sideactive width100 paddingTB10 paddingLR40 h3Font" id="leftBarButton">
            {{exam.seoname | uppercase}}
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-align="start start" class="width100" flex-xs="100" flex-gt-xs>
            <div layout="column" layout-align="start start" class="width100">
                <div layout="row" layout-align="start center" class="box width100 paddingLR40 boxShadow min20vh marginB20" ng-repeat="paper in officialPapers | orderBy: ['simulationrank', '-year', 'name']">
                    <div layout="column" layout-align="start start" flex="10">
                    </div>
                    <div layout="column" layout-align="start start" flex="70">
                        <div class="ribbon"><span>{{paper.year}}</span></div>
                        <div class="h2Font bold width100">{{paper.name}}</div>
                        <div class="baseFont width100">{{paper.description}}</div>
                        <div class="subBaseFont width100 textLightGrey marginT5">{{paper.nQuestions}} Questions | Time: {{paper.durationFormatted}}</div>
                    </div>
                    <div layout="column" layout-align="end end" class="paddingR20" flex>
                        <md-button class="md-saveNext md-small font16 margin0 " ui-sref="assessment({ testId:{{'paper._id'}} })" target="_blank">
                            Start
                        </md-button>
                        <div class="smallFont marginT5" ng-show="paper.downloadable">or <a ng-href="{{paper.url.question}}" target="_blank" ng-if="paper.url.question" id="reviewLink">Download PDF</a></div>
                    </div>


                </div>

            </div>
            
        </div>
    
    </div>
    </div>
    
    
    
</div>