<style>
    #categories{
        margin-top: 20px;
    }
    #categoryFont{
        min-height: 5vh;
        color: white;
        min-width: 175px;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        background-color: rgba(0,0,0,0.6);
        margin-top: 7px;
        margin-bottom: 7px;
        margin-right: 0px;
        padding: 5px;
        
        box-shadow: 2px 2px 2px #6A6968;
    }
    #categoryFont:hover{
        background-color: #20C39A;
        font-weight: 900;
    }
    #categoryLink a:hover{
      padding: 0px;
      color: white;
      text-decoration: none;
    }
    #pageHeader{
        color: rgba(0,0,0,0.8);
        letter-spacing: 4px;
    }
    #pageHeaderFont{
        letter-spacing: 2px;
    }
    a:hover{
        text-decoration: none;
    }
    #breadcrumb{
        color: #20C39A;
    }
    
    #coachingHeader{
        color: #20C39A;
        letter-spacing: 1px;
    }
    #coachingCourses{
        letter-spacing: 0px;
    }
    #knowmore{
        width:100%;
        background-color: #20C39A;
        margin-top: 10px;
    }
    #fullPageGradient1{
        
    }
    
    .nohighlight{
        border-bottom: solid;
        border-width: 1px;
        border-color: rgba(0,0,0,0.6);
        
    }
    .highlight{
        border-bottom: solid;
        border-width: 3px;
        border-color: #20C39A;
        color: #20C39A;
    }
    
    #normal{
        color: #20C39A;
        letter-spacing: 0px;
    }
    #normal a{
        color: #20C39A;
    }
    #leftTabs{
        
        margin-bottom: 20px;
    }
    
    #subcategory{
        height: 100%;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 15vh;
        
        /*border-style: solid;
        border-radius: 10px;*/
        
        /*border-width: 2px;
        border-color: whitesmoke;
        box-shadow: 1px 1px 1px #6A6968;
        border: 1px solid #ccc;
        */
        
        background-color: white;
        box-shadow: 0 0 7px gainsboro;
    }
    
    #rightTabs{
        background-color: rgba(0,0,0,0.6);
        color: whitesmoke;
        border: none;
        height: 100%;
        margin-bottom: 20px;
        
    }
    
    .label-eb{
        background: #20C39A;
    }
    .btn:active{
        background: #20C39A;
    }
    .btn:selected{
        background: #20C39A;
    }
    .pageLogo{
        max-height: 100px;
        max-width: 150px;
    }
    #pageLogoHolder{
        height: 100px;
        width: 150px;
    }
    #coachingList{
        /*min-height: 40vh;*/
    }
    a{
        color: #20C39A;
    }
    #reviewLink{
        color: #20C39A;
    }
    #reviewLink:hover{
        text-decoration: underline;
    }
    #distanceBadge{
        border: 1px solid #6A6968;
        background: transparent;
        color: #6A6968;
    }
    #subheading{
        letter-spacing: 4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: white;
        text-shadow: 0 0 10px #383838;
        max-width: 700px;
    }
</style>

<div flex layout="column" layout-align="center center" class="text-white mainContent" id="fullPage">
    <div id="spacer1" hide-xs>
    </div>
    <div id="spacerXS" hide-gt-xs>
    </div>
    <div layout="column" layout-align="center center" class="width100" id="landingPage">
        <h1 layout="row" layout-align="center center" hide-xs class="font48 bold text-white" id="pageHeaderFont" layout-wrap>
            <div class="marginR20">
                SEARCH
            </div>
            <div class="marginR20">
                &#8226;
            </div>
            <div class="marginR20">
                COMPARE
            </div>
            <div class="marginR20">
                &#8226;
            </div>
            <div>
                APPLY
            </div>
        </h1>
        <h1 layout="row" layout-align="center center" hide-gt-xs class="font22 bold text-white" id="pageHeaderFont">
            <div class="marginR10">
                SEARCH
            </div>
            <div class="marginR10">
                &#8226;
            </div>
            <div class="marginR10">
                COMPARE
            </div>
            <div class="marginR10">
                &#8226;
            </div>
            <div>
                APPLY
            </div>
        </h1>
        <div  layout="row" layout-align="center center" class=" marginTB10  text-center width100" id="subheading">
            <div flex="90" layout="column" layout-align="center center" class="" hide-xs>
                <div layout="column" layout-align="center center" class="font20 bold width100">
                    26,000+ COACHING INSTITUTES | 90+ CITIES
                </div>
                <div layout="column" layout-align="center center" class="font16 letterspacing2 marginT10 width100">Explore photos, videos, discounts, reviews and more</div>
                <!--Browse through thousands of Coaching Institutes offering Amazing Discounts and Find the one Right For You!-->
            </div>
            <div flex="90" layout="column" layout-align="center center" class="" hide-gt-xs>
                <div layout="column" layout-align="center center" class="font16 bold width100">26,000+ COACHING INSTITUTES | 90+ CITIES</div>
                <div layout="column" layout-align="center center" class="font14 letterspacing2 marginT10 width100">Explore photos, videos, discounts, reviews and more</div>
                <!--Thousands of Coaching Institutes offering Amazing Discounts. Find the one Right For You!-->
            </div>
        </div>
        <div class="marginT40">
            <md-button type="submit" class="md-large md-start width100 mainFont font20" ui-sref="main">Search Now</md-button>
        </div>
        <!--
        <div layout="row" layout-align="center center" class="marginT40 text-center width100">
            <div flex="90" layout="column" layout-align="center center">
                <div layout="column" layout-align="center center" class="font20 letterspacing2 bold width100">
                    All Exams in India
                </div>
                <div layout="row" layout-align="center center" class="font16 width100">
                    {{streamExams}}
                    <div layout="column" layout-align="center center" flex="25" ng-repeat="streamExam in streamExams">
                        <div>{{streamExam}}</div>
                    </div>
                </div>
            </div>
        </div>
    -->
        <div layout="row" layout-align="center center" class="width100 exact10h" ng-click="scrollPageDown()">
            <svg class="arrows">
                <!--<path class="a1" d="M0 0 L30 32 L60 0"></path>-->
                <path class="a2" d="M0 20 L30 52 L60 20"></path>
                <path class="a3" d="M0 40 L30 72 L60 40"></path>
                
            </svg>
        </div>
    </div>
    
</div>


<div layout="column" layout-align="center center" class="width100 exact100h paddingLR80" id="page2">
    
    <div layout="row" layout-align="start start" class="width100 exact30vh" >
        <div layout="column" layout-align="center start" class="min30vh width100">
            <div layout="row" layout-align="start start" class="width100">
                <a ui-sref="questionpapers({ examName:'JEE Main' })" class="text-primary" id="reviewLink">
                    <h1 class="h1Font bold">
                        Official Previous Year Question Papers&nbsp;&nbsp;<i class="fa fa-chevron-right font24" aria-hidden="true"></i>
                    </h1>
                </a>
            </div>
            <h3 class=" h3Font">
                Seal your Exam Preparation by attempting the Last 10 Year Question Papers for all exams in a Live, Timed, Exam Environment for FREE
            </h3>
        </div>
        
    </div>
    
    
    
    <div layout="column" layout-align="center center" hide-xs class="width100 whiteBackground exact60vh" ui-sref="questionpapers({ examName:'GATE' })">
        <div layout="row" layout-align="center center" class="width100 textDarkGrey ">
            <div flex layout="column" layout-align="start start" class="testBenefits2 exact30h box1 ">
                <div layout="column" layout-align="center center " class="width100 padding5 exact10h "><i class="fa fa-desktop font48" aria-hidden="true"></i></div>
                <div layout="column" layout-align="start start" class="width100 text-center exact20h ">
                    <div class="bold width100 h3Font benefitTitle">Accustom Yourself</div>
                    <div class="baseFont wideLine width100">Get used to the online features like Online "Page Turn"</div>
                </div>
            </div>
            <div flex layout="column" layout-align="start start" class="testBenefits2 exact30h box2 ">
                <div layout="column" layout-align="center center " class="width100 padding5 exact10h "><i class="fa fa-hourglass-half font48 " aria-hidden="true"></i></div>
                <div layout="column" layout-align="start start" class="width100 text-center exact20h ">
                    <div class="bold width100 h3Font benefitTitle ">Timer</div>
                    <div class="baseFont wideLine width100 ">Simulate the pressure of the ticking clock</div>
                </div>
            </div>
            <div flex layout="column" layout-align="start start" class="testBenefits2 exact30h box3 ">
                <div layout="column" layout-align="center center " class="width100 padding5 exact10h"><i class="fa fa-star-o font48" aria-hidden="true"></i></div>
                <div layout="column" layout-align="start start" class="width100 text-center exact20h">
                    <div class="bold width100 h3Font benefitTitle">Mark for Review</div>
                    <div class="baseFont wideLine width100">Mark questions to review later before submitting</div>
                </div>
            </div>
</div>
        <div layout="row" layout-align="center start" class="width100 textDarkGrey ">
            <div flex layout="column" layout-align="start start" class="testBenefits2 exact30h box4 ">
                <div layout="column" layout-align="center center " class="width100 padding5 exact10h "><i class="fa fa-plus font48" aria-hidden="true"></i></div>
                <div layout="column" layout-align="start start" class="width100 text-center exact20h">
                    <div class="bold width100 h3Font benefitTitle ">Marking Scheme</div>
                    <div class="baseFont wideLine width100 ">Marking Scheme visible for each question individually</div>
                </div>
            </div>
            <div flex layout="column" layout-align="start start" class="testBenefits2 exact30h box5 paddingLR80">
                <div layout="column" layout-align="center center " class="width100 padding5 exact10h"><i class="fa fa-braille font48" aria-hidden="true"></i></div>
                <div layout="column" layout-align="start start" class="width100 text-center exact20h">
                    <div class="bold width100 h3Font benefitTitle">Quick Summary</div>
                    <div class="baseFont wideLine width100">See Attempted, Marked, Seen questions in one glance</div>
                </div>
            </div>
            <div flex layout="column" layout-align="start start" class="testBenefits2 exact30h box6">
                <div layout="column" layout-align="center center " class="width100 padding5 exact10h"><i class="fa fa-bar-chart font48" aria-hidden="true"></i></div>
                <div layout="column" layout-align="start start" class="width100 text-center exact20h">
                    <div class="bold width100 h3Font benefitTitle">Smart Analytics</div>
                    <div class="baseFont wideLine width100">Analyse your performance with detailed review and solutions</div>
                </div>
            </div>
</div>
    </div>
    <div layout="column" layout-align="center start" class="width100 exact10h" >
    </div>
</div>