<style>
    a:hover{
        text-decoration: none;
        color: white;
    }
    #categoryLink:link, #categoryLink:hover, #categoryLink:visited{
      padding: 0px;
      color: white;
      text-decoration: none;
    }
    #pageHeader{
        
    }
    #pageHeaderFont{
        color: rgba(0,0,0,0.8);
        letter-spacing: 4px;
        font-family: "Avenir";
        border-bottom: solid 3px;
        border-color: #20C39A;
        letter-spacing: 4px;
    }
    #streamPage{
        min-height: 100vh;
    }
    #streamPageContent{
        min-height: 60vh;
    }
    #streamBox{
        max-width: 220px;
    }
    
    #categoryPage{
        min-height: 100vh;
    }
    #categoryPageContent{
        min-height: 75vh;
    }
     #otherCitiesFont{
        color: rgba(0,0,0,0.8);
        font-family: "Avenir";
        letter-spacing: 4px;
    }
    #otherCitiesContainer{
        padding-top: 40px;
    }
    #fixedbutton {
        position: fixed;
        bottom: 0px;
        left:50%;
        margin-left: -100px;
    }
    #otherCitiesButton{
        background-color: rgba(0,0,0,0.6);
        color: whitesmoke;
    }
    #otherCategoryLink{
        color: #20C39A;
        
    }
    #cityPageContent{
        min-height: 75vh;
    }
    
</style>

<div layout="row" layout-align="center center" class="text-white mainContent width100" id="fullPage">
    <div id="spacer2">
    </div>
    <div layout="column" layout-align="center center" flex-xs="90" flex-gt-xs="80" class="width100" id="landingPage" layout-wrap>
        <div id="breadcrumbContainer" hide-xs class="width100 text-center editFont">
            <div class="width100" id="breadcrumb">
            <span><a ui-sref="main">{{category.displayname | uppercase}}</a></span>
            <span class="inactiveBreadCrumb"> > <span class="activeSection">EXAM</span></span>
            <span class="inactiveBreadCrumb"> > CITY</span>
            </div>
        </div>
        
        <div layout="column" layout-align="start center" class="min50vh width100" id="landingContainer">
            
        <div class="text text-center md-title margin20" id="pageHeaderFont">
            SELECT YOUR EXAM
        </div>
        <div layout="row" layout-align="center center" layout-wrap class="width100">
            <div layout="row" layout-align="center center" class="width100" flex-xs="100" flex-gt-sm="80" layout-wrap>
                <div flex-xs="100" flex-sm="33" flex-gt-md="25" layout="row" layout-align="center center" layout-wrap ng-repeat="subcategory in exams | orderBy:'-rank'" ng-if="subcategory.active" class="paddingLR10">
                    <div layout="row" layout-align="center center" id="categoryFont" class="text-center categoryToolTip" ui-sref="city({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}} })" >
                    <!--tooltips tooltip-template="{{subcategory.briefDescription}}"-->
                        <a ui-sref="city({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}} })" id="categoryLink">{{subcategory.displayname | uppercase}}
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
        <div flex layout="row" layout-align="center end" id="steps" class="width100">
            <div id="stepActive">
            </div>
            <div id="stepActive">
            </div>
            <div id="step">
            </div>
        </div>
            
        </div>
        
    </div>
    
</div>

