<style>
    #categories{
        margin-top: 20px;
    }
    #categoryFont{
        min-height: 5vh;
        color: white;
        min-width: 175px;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        background-color: rgba(0,0,0,0.6);
        margin-top: 7px;
        margin-bottom: 7px;
        margin-right: 0px;
        padding: 5px;
        
        box-shadow: 2px 2px 2px #6A6968;
    }
    #categoryFont:hover{
        background-color: #20C39A;
        font-weight: 900;
    }
    #categoryLink a:hover{
      padding: 0px;
      color: white;
      text-decoration: none;
    }
    #pageHeader{
        color: rgba(0,0,0,0.8);
        letter-spacing: 4px;
    }
    #pageHeaderFont{
        letter-spacing: 2px;
    }
    a:hover{
        text-decoration: none;
    }
    #breadcrumb{
        color: #20C39A;
    }
    
    #coachingHeader{
        color: #20C39A;
        letter-spacing: 1px;
    }
    #coachingCourses{
        letter-spacing: 0px;
    }
    #knowmore{
        width:100%;
        background-color: #20C39A;
        margin-top: 10px;
    }
    #fullPageGradient1{
        
    }
    
    .nohighlight{
        border-bottom: solid;
        border-width: 1px;
        border-color: rgba(0,0,0,0.6);
        
    }
    .highlight{
        border-bottom: solid;
        border-width: 3px;
        border-color: #20C39A;
        color: #20C39A;
    }
    
    #normal{
        color: #20C39A;
        letter-spacing: 0px;
    }
    #normal a{
        color: #20C39A;
    }
    #leftTabs{
        
        margin-bottom: 20px;
    }
    
    #subcategory{
        height: 100%;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 15vh;
        
        /*border-style: solid;
        border-radius: 10px;*/
        
        /*border-width: 2px;
        border-color: whitesmoke;
        box-shadow: 1px 1px 1px #6A6968;
        border: 1px solid #ccc;
        */
        
        background-color: white;
        box-shadow: 0 0 7px gainsboro;
    }
    
    #rightTabs{
        background-color: rgba(0,0,0,0.6);
        color: whitesmoke;
        border: none;
        height: 100%;
        margin-bottom: 20px;
        
    }
    
    .label-eb{
        background: #20C39A;
    }
    .btn:active{
        background: #20C39A;
    }
    .btn:selected{
        background: #20C39A;
    }
    .pageLogo{
        max-height: 100px;
        max-width: 150px;
    }
    #pageLogoHolder{
        height: 100px;
        width: 150px;
    }
    #coachingList{
        /*min-height: 40vh;*/
    }
    a{
        color: #20C39A;
    }
    #reviewLink{
        color: #20C39A;
    }
    #reviewLink:hover{
        text-decoration: underline;
    }
    #distanceBadge{
        border: 1px solid #6A6968;
        background: transparent;
        color: #6A6968;
    }
</style>

<div class="whiteBackground mainContent" >
    <div id="spacer3">
    </div>
    <div layout="row" layout-align="start start" class="width100">
    
    <div layout="column" layout-align="start start" class="width100">
        <div layout="row" layout-align="start start"  hide-xs class="editFont text-primary font11 width100 min5vh" id="breadcrumb">
            <div hide-xs flex="5">
            </div>
            <div layout="row" layout-align="start start" flex class="paddingLR10">
            <div layout="row" layout-align="start start" class="marginR5">
                <a ui-sref="main">{{category.displayname | uppercase}}</a>
            </div>
            <div layout="row" layout-align="start start" class="marginR5">
            >
            </div>
            <div layout="row" layout-align="start start" class="marginR5">
                <a ui-sref="category({ categoryName:{{'category.name'}} })">{{subcategory.displayname | uppercase}}</a>
            </div>
            <div layout="row" layout-align="start start" class="marginR5">
            >
            </div>
            <div layout="row" layout-align="start start" class="marginR5">
                <a ui-sref="city({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}} })">{{city | uppercase}}</a>
            </div>
            </div>
        </div>
        <div layout="row" layout-align="start start" class="width100">
            <div hide-xs flex="5">
            </div>
            <div flex class="paddingLR10">
            <h1 class="width100 marginT10 marginB30 font26 narrowLine spacedLetter1">
                Best {{subcategory.seoname}} Coaching Classes  in {{city}}
            </h1>
            </div>
        </div>
        <div layout="row" layout-align="start start"  class="width100 marginB20 animated fadeIn font14 narrowLine spacedLetter1 textDarkGrey">
            <div hide-xs flex="5">
            </div>
            <div flex class="paddingLR10" ng-if="uniqueInstitutes.length > 0">
                Great! We found {{uniqueInstitutes.length}} coaching classes around you!
            </div>
            <div flex class="paddingLR10" ng-if="uniqueInstitutes.length == 0">
                Sorry! We found NO coaching classes in {{city}} for {{subcategory.displayname}}!
            </div>
            <div hide-xs layout="column" layout-align="start start" flex="25" class="paddingLR30">
                Recommended Reading
            </div>
        </div>
    </div>
    </div>
    <div layout="row" layout-align="start start" class="width100">
        <div hide-xs flex="5">
        
        </div>
        <div flex layout="column" layout-align="start start" class="width100 paddingLR10">
            <div layout="column" id="subcategory" ng-repeat="coachingGroup in uniqueInstitutes | orderBy:['-institutes.length'] " class="fourthFont width100 marginB20">

                <div layout="row" layout-align="start start" layout-xs="column">
                    <div layout="row" layout-align="center start" id="pageLogoHolder" class="marginL20" hide-xs ui-sref="showGroup({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}}, groupName:{{'coachingGroup.groupName'}} })">
                        <img ng-src="{{coachingGroup.logo}}" class="pageLogo" ng-if="coachingGroup.logo"/>
                        <img ng-src="{{defaultCoachingLogo}}" class="pageLogo" ng-if="!coachingGroup.logo"/>
                    </div>
                    <div flex layout="column" layout-align="center start" class="paddingL20">
                        <h2 class=" text-primary thirdFont font18 bold">
                        <a id="coachingHeader" ui-sref="showGroup({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}}, groupName:{{'coachingGroup.groupName'}} })">
                            {{coachingGroup.groupName}}
                        </a>
                        </h2>
                        <div layout="row" layout-align="start center" class="width100 marginT5 " layout-wrap>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;
                            <span>{{coachingGroup.institutes.length}} centre<span ng-if="coachingGroup.institutes.length > 1">s</span>&nbsp;in {{city}}
                            </span>
                            <span class="marginLR5">
                                <span ng-repeat="thisInstitute in coachingGroup.institutes | orderBy: 'distance.value'" ng-if="thisInstitute.distance" class="badge marginR5" id="distanceBadge">
                                    {{thisInstitute.distance.text}}
                                </span>
                            </span>

                            <!--<span>
                              <img src="images/icons/thinking.svg" alt="Kiwi standing on oval" class="width32px" >
                            </span>-->
                        </div>
                        <div class="width100 marginT5 paddingB5 gainsboroBottomBorder font14">
                            <a ui-sref="showGroup({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}}, groupName:{{'coachingGroup.groupName'}}, '#': 'Reviews' })" class="basicFont" id="reviewLink">Write a Review</a>
                        </div>
                        <div layout="column" layout-align="start start" id="coachingCourses" class="font14 marginT10 width100">
                            <div layout="row" layout-align="start center" class="bold narrowLine basicFont" ng-if="coachingGroup.examsOffered.length > 0">
                                Courses
                            </div>
                            <div layout="row" layout-align="start center" layout-wrap class="marginT5">
                                <div layout="row"  layout-align="start center" ng-repeat="exam in coachingGroup.examsOffered | orderBy:'-rank'">
                                    <div>{{exam.displayname}}</div>
                                    <div ng-if="!$last">
                                        &nbsp;|&nbsp;
                                    </div>
                                </div >
                                <!--<div ng-if="!$last">
                                    &nbsp;|&nbsp;
                                </div>-->
                            </div>
                        </div>

                        <div layout="row" class="font14 bold narrowLine marginT10 width100 basicFont" ng-if="coachingGroup.groupResults.length > 0">
                             {{subcategory.displayname}}&nbsp;Results

                        </div>
                        <div layout="row" class="width100 marginT5" ui-sref="showGroup({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}}, groupName:{{'coachingGroup.groupName'}} })" layout-wrap>

                        <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1" ng-repeat="result in coachingGroup.groupResults" ng-if="$index <= 11" id="imageContainer" ui-sref="showGroup({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}}, groupName:{{'coachingGroup.groupName'}} })">
                         <!--
                        ng-click="showResultDialog($event, $index, result)"
                        && result.image && result.image!=''-->
                        <div layout="row" layout-align="start center" ng-if="$index < 11 && result.image" id="thumbnailImage" ng-style="{'background-image':'url({{result.image}})'}">
                            <div layout="row" layout-align="center center" class="text-white font7" id="thumbnailResultText">
                                <div flex="60" layout="row"  layout-align="start center" class="paddingL5">
                                    <span ng-if="subcategory.resultFormat == 'Rank'">
                                        AIR {{result.rank}}
                                    </span>
                                    <span ng-if="subcategory.resultFormat == 'Marks'">
                                        {{result.marks}}
                                    </span>
                                </div>
                                <div flex="40" layout="row"  layout-align="end center" class="paddingR5">
                                    {{result.year}}
                                </div>
                            </div>
                            <!--<div layout="row" layout-align="center center" class="text-white font7" id="thumbnailResultTextTop">
                                {{result.name}}
                            </div>-->
                        </div>
                        <div ng-if="$index == 11 &&  coachingGroup.groupResults.length > 11" id="thumbnailImage" ng-style="{'background-image':'url({{result.image}})'}">
                            <div layout="row" layout-align="center center" class="md-headline text-white" id="thumbnailText">
                                +{{coachingGroup.groupResults.length - 12}}
                            </div>
                        </div>
                    </div>


                </div>

                    </div>

                </div>


            </div>
        </div>
        <div hide-xs  layout="column" layout-align="start start" flex="25" class="paddingLR30">
            
            <div layout="row" layout-align="start start" class="width100 marginB30 gainsboroBorder" ng-repeat="blogpost in suggestedblogs | orderBy: '-_created'" ng-click="goToBlog(blogpost)">
                <div layout="column" layout-align="center start" class="width100" id="blogpost" >
                <div layout="column" layout-align="center center" class="suggestedblogpostImage width100 rounderBorderTop" ng-style="{'background-image':'url({{blogpost.coverPhoto}})'}">
                <div layout="row" layout-align="start center" id="blogPostRead" class="width100 paddingLR20 paddingB20">
                    <div flex layout="row" layout-align="start center">
                        {{blogpost.readingTime.text}}
                    </div>
                </div>
                </div>

                <div layout="column" layout-align="start center" class="min10vh paddingLR15 paddingTB10 width100 blogpostBorder rounderBorderBottom">
                    <div layout="row" layout-align="start start" class="width100 marginB10">
                        <div flex layout="column" layout-align="start start" flex class="font14 wideLine2" >
                            {{blogpost.title}}
                        </div>

                    </div>
                    <div flex layout="row" layout-align="start center" class="width100 font12 textLightGrey">
                        <div flex layout="column" layout-align="start start" class="">
                            <div class="narrowLine">
                                By {{blogpost.user.basic.name}}
                            </div>
                        </div>
                        <div layout="column" layout-align="center start" class="">
                            {{blogpost._created | date: "MMMM dd"}}
                        </div>
                    </div>

                </div>    
                </div>
                        
            </div>
            
            
        </div>
    </div>
</div>