<style>
    input[type="text"],input[type="email"], input[type="password"]
    {
        font-size: 13px;
        color: #333333;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 5px;
        border: solid 1px gainsboro;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover,input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="password"]:hover, input[type="password"]:focus{
        border: solid 1px #333333;
        box-shadow: 0 0 5px 1px #969696;
    }
    .availText{
        color: white;
    }
    .availText:hover{
        color: #FF5A5F;
    }
    a.readLink{
        color: black;
    }
    a.readLink:hover{
        color: #20C39A;
    }
    .column1{
        padding: 2px;
    }
    .column2{
        padding: 2px;
    }
    .numberLogo{
        height: 75px;
    }
    
    .blogHeader{
        min-height: 50vh;
        width:100%;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .blogContent{
        text-align: left;
    }
    .facultyPhoto{
        height: 200px;
        border-radius: 10%;
    }
</style>



<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>

<div layout="column" layout-align="start start" class="textBlack whiteBackground p0baseFont width100">
    <div layout="row" layout-align="center center" class="width100 blogHeader" ng-style="{'background-image':'url(images/pbc/pbc-banner-1.jpg)'}">
        <!--<div layout="row" layout-align="center center" class="width100">
        <div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center center" class="padding20 text-white text-center ">
            <div layout="column" layout-align="center center" id="blogPostHeader" class="transaprentBackground padding20">
                
                <h2 class="text-white h2Font margin10 blogSubTitle">
                    Exambazaar brings upto 25% off on fees
                </h2>
                
            </div>
            
        </div>
        </div>-->
    </div>
    
    <div layout="row" layout-align="center center" class="width100">
    <div flex-xs="90" flex-gt-xs="90" layout="column" layout-align="start start" class="width100">
        
    <div layout="column" layout-align="start start" class="width100 marginT40 marginB20">    
        <h1 class="pageTitleFont marginTB5 bold">
            Pooja Bansal Classes Jaipur, Elite 30
        </h1>
        <h3 class="h3Font marginT10">
            Bull's Eye & Acme Courses (Class 10th to 11th moving students)
        </h3> 
    </div>
    <div layout="row" layout-xs="column" layout-align="start start" class="width100 whiteSmokeBorder whiteSmokeBackground paddingTB10 marginB20">
        <div flex layout="column" layout-align="center center" class="width100 greyRightBorder padding10">
            <div class=" subBaseFont">
                2018 Batch Dates
            </div>
            <div class="h3Font">22 Apr | 2 May | 6 Jun | 27 Jun</div>
        </div>
        <div flex layout="column" layout-align="center center" class="width100 greyRightBorder padding10">
            <div class=" subBaseFont">
                Fees
            </div>
            <div class="h3Font">
                Rs 95,000 per year + GST
            </div>
        </div>
        <div flex layout="column" layout-align="center center" class="width100 padding10">
            <div class="subBaseFont">
                EB Price (upto 25% off)
            </div>
            <div class="h3Font">
                Rs 71,250 per year + GST
            </div>
        </div>
        
        
    </div>
    
    <h2 class="width100 h2Font marginTB20 padding20 gainsboroBottomBorder">
        Admission Steps to Elite 30 through Exambazaar
    </h2>
    <div layout="row" layout-xs="column" layout-align="start start" class="width100 paddingTB20">
        <div flex-xs="100" flex-gt-xs="50" layout="column" layout-align="start start" flex class="">
            
            <div layout="row" layout-align="start start" class="width100 marginB10 paddingB10">
                <div class="paddingLR10">
                    <img src="icons/p0/s3/1-s.png" class="numberLogo"/>
                </div>
                <div flex layout="column" layout-align="start start" class="width100 paddingLR20">
                    <h2 class="margin0 h2Font">
                    Write the Scholarship Test
                    </h2>
                    <div class="marginT10">
                    The scholarship test consists of Physics, Chemistry & Maths question of Class X level.
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="start start" class="width100 marginTB10 paddingTB10">
                <div class="paddingLR10">
                    <img src="icons/p0/s3/2-s.png" class="numberLogo"/>
                </div>
                <div flex layout="column" layout-align="start start" class="width100 paddingLR20">
                    <h2 class="margin0 h2Font">
                    Receive the Discount
                    </h2>
                    <div class="marginT10">
                    Based on the result of the test, Exambazaar will provide you a discount (upto 25% of the fee)
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="start start" class="width100 marginTB10 paddingTB10">
                <div class="paddingLR10">
                    <img src="icons/p0/s3/3-s.png" class="numberLogo"/>
                </div>
                <div flex layout="column" layout-align="start start" class="width100 paddingLR20">
                    <h2 class="margin0 h2Font">
                    Fill the Admission Form
                    </h2>
                    <div class="marginT10">
                    Student needs to fill the admission form within 15 days to avail the discount!
                    </div>
                </div>
            </div>
        </div>
        <div hide-xs flex-gt-xs="10">
        
        </div>
        <div hide-xs flex-gt-xs="10" class="gainsboroLeftBorder min40vh">
        
        </div>
        <div flex-gt-xs="30" flex-xs="100" layout="column" layout-align="start start" class="width100 " ng-controller="headerController">
            <h2 class="width100 h2Font whiteSmokeBottomBorder paddingB20 marginB10">
                Attempt PBC 2018 Test Now
            </h2>
            <form  name="signupForm" class="width100" ng-if="!user">
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <div layout="column" layout-align="start start" class="width100">
                    <input type="text" placeholder="Name" class="width100 loginInput" ng-model="signup.name"  only-letters required>
                </div>
            </div>
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <div layout="column" layout-align="start start" class="width100 ">
                    <input type="email" placeholder="Email" class="width100 loginInput" ng-model="signup.email"  required>
                </div>
            </div>
             
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <div layout="row" layout-align="start center"  class="width100 ">
                <div layout="column" flex>
                    <input type="text" placeholder="Mobile" class="width100 loginInput" ng-model="signup.mobile" limit-to="10" ng-minlength="10" ng-maxlength="10" only-digits  required>

                </div>
                <div layout="row" layout-align="start center" flex ng-if="showVerifyOTP" class="paddingL10">
                    <md-button class="md-saveNext md-small font10 margin0 width100" ng-click="verifyPhone()" ng-if="!OTPsent">Verify by OTP</md-button>

                    <input ng-if="OTPsent && !OTPVerified" type="text" placeholder="4 digit OTP" class="width100 loginInput" ng-model="signup.otp" limit-to="4" ng-minlength="4" ng-maxlength="4" only-digits  required >


                    <div ng-if="OTPsent && OTPVerified" class="text-primary font24 bold">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                </div>
                </div>
                <div layout="column" layout-align="end end" flex ng-if="showVerifyOTP" class=" width100">
                <span ng-if="userExistMessage" class="danger font8 text-right">{{userExistMessage}}</span>
                <span ng-if="OTPmessage" class="danger font8 text-right">{{OTPmessage}}</span>
                <span ng-if="OTPsent && !OTPVerified" class="font8 text-right">Did not receive OTP? <a ng-click="verifyPhone()" id="dangerLink">Resend it</a></span>
                </div>
            </div>
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <div layout="column" layout-align="start start" class="width100 ">
                    <input type="password" placeholder="Password" class="width100 loginInput" ng-model="signup.password"  ng-minlength="6" required>
                </div>
                <div layout="row" layout-align="end center" ng-messages="signupForm.signup.password.$error" class="danger font8 text-right width100 ">
                    Password should be at least 6 characters long
                </div>
            </div>    
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <md-button ng-disabled="checkSignupForm()" ng-click="signupUser()" class="md-small md-saveNext width100 tolowercase" >
                    <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Start Now
                </md-button>
                
            </div>
            </form>
            
            
            <form  name="signupForm" class="width100" ng-if="user">
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <div layout="column" layout-align="start start" class="width100 ">
                    <input type="text" placeholder="Name" class="width100 loginInput" ng-model="user.basic.name"  only-letters required>
                </div>
            </div>
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                <div layout="column" layout-align="start start" class="width100 ">
                    <input type="email" placeholder="Email" class="width100 loginInput" ng-model="user.email"  required>
                </div>
            </div>
             
            <div layout="column" layout-align="start center" class="width100 marginTB10">
                
                <div layout="row" layout-align="start center"  class="width100 ">
                <div layout="column" flex>
                    <input type="text" placeholder="Mobile" class="width100 loginInput" ng-model="user.mobile" limit-to="10" ng-minlength="10" ng-maxlength="10" only-digits  required>

                </div>
                <div layout="row" layout-align="start center" flex ng-if="showVerifyOTP" class="paddingL10">
                    <md-button class="md-saveNext md-small font10 margin0" ng-click="verifyPhone()" ng-if="!OTPsent">Verify by OTP</md-button>

                    <input ng-if="OTPsent && !OTPVerified" type="text" placeholder="4 digit OTP" class="width100 loginInput" ng-model="user.otp" limit-to="4" ng-minlength="4" ng-maxlength="4" only-digits  required >


                    <div ng-if="OTPsent && OTPVerified" class="text-primary font24 bold">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                </div>
                </div>
                <div layout="column" layout-align="end end" flex ng-if="showVerifyOTP" class=" width100">
                <span ng-if="userExistMessage" class="danger font8 text-right">{{userExistMessage}}</span>
                <span ng-if="OTPmessage" class="danger font8 text-right">{{OTPmessage}}</span>
                <span ng-if="OTPsent && !OTPVerified" class="font8 text-right">Did not receive OTP? <a ng-click="verifyPhone()" id="dangerLink">Resend it</a></span>
                </div>
            </div>
              
            <div layout="column" layout-align="start center" class="width100 marginTB10 padding10">
                <md-button  ng-click="startPBCTest()" class="md-small md-saveNext width100 tolowercase" >
                    <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Start the Test
                </md-button>
                
            </div>
            </form>
            
        </div>
    </div>
        
    <div layout="column" layout-align="start start" class="width100 whiteSmokeBackground greyTopBorder greyBottomBorder">    
    <div layout="row" layout-align="center center" class="width100 paddingLR10 paddingB10 h2Font whiteSmokeBottomBorder marginT40 marginB20 ">
        Pooja Bansal Classes Faculty
    </div>
    <div layout="row" layout-xs="column" layout-align="start start" class="width100 paddingTB10">
        <div flex-xs="100" flex-gt-xs layout="column" layout-align="center center" class=" padding10">
            <img src="images/pbc/faculty/pooja-bansal.png" class="facultyPhoto"/>
            <div layout="column" layout-align="center center" class="narrowLine2 text-justify h2Font marginT10 paddingTB10">
                <div>Pooja Bansal</div>
                <div class="h3Font">Mathematics</div>
            </div>
            
            <div layout="row" layout-align="center center" class="smallFont narrowLine2 text-justify text-center width100">
                <div flex-xs="80" flex-gt-xs="70" layout="row" layout-align="center center">
                Pooja Bansal, the founder member of legendry Bansal Classes at Jaipur has illustrious track record of 23 years in mentoring students in Mathematics for IIT-JEE. She has personally trained more than 50 thousand many of whom have sucessfully cracked IIT-JEE with several AIRs in Top 100.
                </div>
            </div>
        </div>
        <div flex-xs="100" flex-gt-xs layout="column" layout-align="center center" class=" padding10">
            <img src="images/pbc/faculty/pawan-barthwal.png" class="facultyPhoto"/>
            <div layout="column" layout-align="center center" class="narrowLine2 text-justify h2Font marginT10 paddingTB10">
                <div>Pawan Barthwal</div>
                <div class="h3Font">Chemistry</div>
            </div>
            
            <div layout="row" layout-align="center center" class="smallFont narrowLine2 text-justify text-center width100">
                <div flex-xs="80" flex-gt-xs="70" layout="row" layout-align="center center">
                Pawan Barathwal is B.Tech with 12 years of teaching experience in Chemistry for IIT-JEE. He holds a great command on the subject and expertise in International Olympiads and KVPY. Many of his students won Medals in International Chemistry Olympiads. Many of his students secured Ranks in Top-100 in IIT-JEE
                </div>
            </div>
        </div>
        <div flex-xs="100" flex-gt-xs layout="column" layout-align="center center" class=" padding10">
            <img src="images/pbc/faculty/neeraj-sharma.png" class="facultyPhoto"/>
            <div layout="column" layout-align="center center" class="narrowLine2 text-justify h2Font marginT10 paddingTB10">
                <div>Neeraj Sharma</div>
                <div class="h3Font">Physics</div>
            </div>
            
            <div layout="row" layout-align="center center" class="smallFont narrowLine2 text-justify text-center width100">
                <div flex-xs="80" flex-gt-xs="70" layout="row" layout-align="center center">
                Neeraj Sharma is an IIT Delhi graduate with 16 years of teaching experience in Physics for IIT-JEE. He has helped thousands of students in Kota and Jaipur, who have sucessfully cleared IIT-JEE with Top all India Ranks like AIR-9, 10, 32, 34,48 and many more AIRs in Top 50. Many of his students have won medals in International Olympiads.
                </div>
            </div>
        </div>
        
        
    </div>
    </div>
    <div layout="column" layout-align="center center" class="width100 padding10 marginT40 gainsboroBottomBorder marginB20">
        <div class="h2Font">Centre Address</div>
        <div>C-39, Lajpat Marg, C-Scheme, Jaipur</div>
    </div>
    <div layout="row" layout-align="center start" class="width100 min60vh marginB40">
        <div class="width100">
        <ng-map default-style="false" zoom-to-include-markers=true  scrollwheel="false" minimum-zoom="13"  maximum-zoom="15" class="min60vh">
            <marker position="near St. Soldier School, C-39, Lajpat Marg, C-Scheme, Jaipur, Rajasthan 302001"
              title="Pooja Bansal Classes"
              animation="Animation.DROP"
              centered="true">
            </marker>
        </ng-map>
        </div>
    </div>
    </div>
    </div>
</div>