<style>
    input[type="text"],input[type="email"]
    {
        font-size: 14px;
        color: #333333;
        padding: 5px;
        border: solid 1px #ccc;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover,input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus{
        border: solid 1px #333333;
        box-shadow: 0 0 5px 1px #969696;
    }
    .availText{
        color: white;
    }
    .availText:hover{
        color: #FF5A5F;
    }
    a.readLink{
        color: black;
    }
    a.readLink:hover{
        color: #20C39A;
    }
    .column1{
        padding: 2px;
    }
    .column2{
        padding: 2px;
    }
</style>



<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>

<div layout="column" layout-align="start start" class="textBlack whiteBackground secondFont font14 width100">
    <div hide-gt-xs layout="row" layout-align="center center" class="marginTB10 width100">
        <img src="images/pbc/pbc-logo.jpg" class="p0Logo"/>
    </div>
    <div layout="row" layout-align="center start" class="width100">
    <div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center start" class="marginT20 marginB10">
        
        
        <div layout="row" layout-align="center start" class="width100">
            <div hide-xs layout="row" layout-align="end start">
                <img src="images/pbc/pooja-bansal-classes-jaipur.jpg"/>
            </div>
            <div flex class="paddingLR20">
                <h1 class="h1Font width100 marginB10 subhheadingBottomBorder2 paddingB10 text-center">
                    Admission Form - Pooja Bansal Classes, Jaipur
                </h1>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Name
                    </div>
                    <div flex class="column2">
                        <input type="text" class="width100" ng-model="admissionForm.name" placeholder="Full Name">
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Course
                    </div>
                    <div flex class="column2">
                        <input type="text" class="width100" ng-model="admissionForm.course" placeholder="Course Name" disabled>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Email
                    </div>
                    <div flex class="column2">
                        <input type="email" class="width100" ng-model="admissionForm.email" placeholder="Email Address">
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Mobile
                    </div>
                    <div flex class="column2">
                        <input type="text" class="width100" ng-model="admissionForm.mobile" placeholder="Mobile Number" only-digits>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Date of Birth
                    </div>
                    <div flex class="column2">
                        <md-datepicker ng-model="admissionForm.dob" md-placeholder="Date of Birth"></md-datepicker>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Gender
                    </div>
                    <div flex class="column2">
                        <md-select ng-model="admissionForm.gender" placeholder="Select Your Gender" class="margin0 font14">
                            <md-option ng-repeat="gender in userVariables.genders" ng-value="gender" class="font14">
                            {{gender}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Category
                    </div>
                    <div flex class="column2">
                        <md-select ng-model="admissionForm.category" placeholder="Select Your Category" class="margin0 font14">
                            <md-option ng-repeat="category in userVariables.categories" ng-value="category" class="font14">
                            {{category}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div layout="row" layout-align="start start" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        Address
                    </div>
                    <div layout="column" layout-align="start start" flex class="column2">
                        <input type="text" class="width100" ng-model="admissionForm.address.line" placeholder="Address">
                        <div layout="row" layout-align="start start" class="width100 paddingTB5">
                            <div flex class="paddingR5">
                                <input type="text" class="width100" ng-model="admissionForm.address.city" placeholder="City">
                            </div>
                            <div flex class="paddingL5">
                                <input type="text" class="width100 paddingL10" ng-model="admissionForm.address.state" placeholder="State">
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="start center" class="width100 ">
                    <div flex="{{col1}}" class="column1 baseFont">
                        School Name
                    </div>
                    <div flex class="column2">
                        <input type="text" class="width100" ng-model="admissionForm.school" placeholder="School Name">
                    </div>
                </div>
                
                <div layout="row" layout-align="start center" class="width100 marginT10">
                    <md-button class="md-next md-medium font16 tolowercase margin0 width100" ng-click="submitAdmissionHelper()">
                        Buy Now
                    </md-button>
                </div>
                <a ng-click="pbcAdmission()">Test</a>
                <!--<a href="https://www.instamojo.com/@exambazaar/la7288d286daa49b584bcde983570d6be/" rel="im-checkout" data-behaviour="remote" data-style="flat" data-text="Buy Admission Form">Buy Admission Form</a>-->

                
                
                <div layout="column" layout-align="start center" class="paddingL20 font12 danger width100 marginTB10">
                    <div layout="row" layout-align="start start" ng-repeat="startError in startErrors" class="width100">{{$index+1}}. {{startError}}
                    </div>
                </div>
                <div>
                    {{$scope.userAdmit.payment}}
                </div>
            </div>
        </div>
        <!--<div layout="row" layout-align="center start" class="width100 min60vh marginTB40">
            <div class="width60">
            <ng-map default-style="false" zoom-to-include-markers=true  scrollwheel="false" minimum-zoom="12"  maximum-zoom="13" class="min60vh">
                <marker position="near St. Soldier School, C-39, Lajpat Marg, C-Scheme, Jaipur, Rajasthan 302001"
                  title="Pooja Bansal Classes"
                  animation="Animation.DROP"
                  centered="true">
                </marker>
            </ng-map>
            </div>
        </div>-->
        
    </div>
    </div>
</div>