<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    img{
        max-width: 100%;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center center" class="whiteBackground">
<div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center center" class="paddingTB20 width100 blogFont" ng-if="user">
    <div layout="column" layout-align="center center" class="width100 paddingTB10 marginB10 ">
        <div layout="row" layout-align="center center" class="width100 font16">
            <div ng-if="user.image">
            <img ng-src="{{user.image}}" id="userPicSmall" class="img-circle"/>
            </div>
            <div class="marginL10">
                {{user.basic.name}}
            </div>
        </div>
    </div>
    <div layout="column" layout-align="center start" layout-wrap class="blogFont font14 width100 paddingTB20 paddingLR20 gainsboroBorder">
        <div layout="row" layout-align="start center" class="font20 bold marginB40">
            <div ng-if="user.userType == 'Master'">
                All Blogs
            </div>
            <div ng-if="user.userType != 'Master'">
                {{user.basic.name}}'s Blog Posts
            </div>
            
        </div>
        <div layout="row" layout-align="start center" class="width100 marginB10 bold gainsboroBottomBorder paddingTB5">
            <div layout="row" layout-align="start center" flex="5">
                S. No.
            </div>
            <div layout="row" layout-align="start center" flex="30">
                Blog Title
            </div>
            <div layout="row" layout-align="start center" flex="15">
                Author
            </div>
            <div layout="row" layout-align="start center" flex="15">
                Created on
            </div>
            <div layout="row" layout-align="start center" flex="10" >
                Edit
            </div> 
            <div layout="row" layout-align="start center" flex="10" >
                Preview
            </div>
            <div layout="row" layout-align="start center" flex="5" >
                Active
            </div>
        </div>
        <div layout="row" layout-align="start center" ng-repeat="thisblog in allBlogs" class="width100 greyDashedBottomBorder paddingTB5">
            <div layout="row" layout-align="start center" flex="5">
                {{$index + 1}}.
            </div>
            <div layout="row" layout-align="start center" flex="30">
                {{thisblog.title}}
            </div>
            <div layout="row" layout-align="start center" flex="15">
                {{thisblog.user.basic.name}}
            </div>
            <div layout="row" layout-align="start center" flex="15">
                {{thisblog._created | date: "dd MMMM yyyy" }}
            </div>
            <div layout="row" layout-align="start center" flex="10" >
                <a class="danger" ng-click="editBlogPost(thisblog)" id="copyLink">
                    Edit
                </a>
            </div> 
            <div layout="row" layout-align="start center" flex="10" >
                <a class="text-primary" ng-click="previewBlogPost(thisblog)" id="copyLink">
                    Preview
                </a>
            </div>
            <div layout="row" layout-align="start center" flex="5" >
                {{thisblog.active}}
            </div> 
        </div>
        
    </div>
    <div layout="row" layout-align="start center" class="width100 marginB10 paddingB10">
        <div layout="row" layout-align="end center" flex class="font12">
            Inspire others by writing amazing blog posts for the Exambazaar community
        </div>
        <div layout="row" layout-align="start center">
            <md-button class="md-danger md-small font10" ng-click="newBlogPost()">
                Write a new blog post
            </md-button>
        </div>

    </div>
    
    
</div>
    
<div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center center" class="paddingTB20 width100" ng-if="!user">
    <div layout="column" layout-align="center center" class="width100 paddingTB10 marginB10 gainsboroBottomBorder">
        <div layout="row" layout-align="center center" class="width100 font20 danger">
            You need to be logged in to be able to post!
        </div>
    </div>
    
</div>
</div>

<div style="visibility: hidden">    
<div class="md-dialog-container" id="copiedDialog">
  <md-dialog>
      <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
        <div layout="column" layout-align="center center" class="margin10 padding5">
            <div layout="row" layout-align="center center" class="margin10 padding5">    
                <span class="text-primary md-headline">
                <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                Copied!
                </span>
            </div>
            <div layout="row" layout-align="center center" class="editFont font10 danger margin10 padding5">
                {{copiedText}}
            </div>
        </div>
      </div>
  </md-dialog>
</div>
</div>
<div style="visibility: hidden">    
    <div class="md-dialog-container" id="savedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Changes Saved!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>