<style>
    input[type="text"],input[type="email"]
    {
        font-size: 14px;
        color: #333333;
        padding: 10px;
        border: solid 1px #ccc;
        transition: box-shadow 0.3s, border 0.3s;
        box-shadow: 0 0 5px 1px white;
    }
    
    input[type="text"]:hover,input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus{
        border: solid 1px #333333;
        box-shadow: 0 0 5px 1px #969696;
    }
    #profileSection{
        min-height: 20vh;
    }
    .profileBar{
        background-color: #161616;
        color: white;
    }
    .profileBar a{
        color: white;
        text-decoration: none;
        
    }
    
    .academicRow{
        min-height: 25vh;
        width: 100%;
        margin-top: 20px;
        
    }
    .fieldRow{
        min-height: 5vh;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .fieldRow div.col1{
        color: gray;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .fieldRow div.col2{
        color: black;
    }
    
    #link{
        color: #20C39A;
    }
    #link:hover{
        color: #20C39A;
    }
    .active{
        color: white;
        font-weight: bold;
        border-bottom: 2px solid white;
    }
    #topBar{
        color: white;
    }
    #topBar.active{
        color: white;
    }
    #topBar:hover{
        font-weight: bold;
    }
    .leftBar{
        border-right: 2px solid whitesmoke;
    }
    #leftBarButton{
        border-bottom: 2px solid whitesmoke;
    }
    #leftBarButton:hover{
        border-bottom: 2px solid #20C39A;
    }
    #leftBarButton.sideactive{
        /*border: 2px solid #20C39A;
        color: #20C39A;
        font-weight: bold;*/
        background: whitesmoke;
        
    }
    .emptyTag{
        padding:10px;
        color: gray;
        background: white;
        border: 1px solid gray;
    }
    .emptyTag:hover{
        color: white;
        background: black;
        border: 1px solid black;
    }
    .filledTag{
        padding:10px;
        color: white;
        background: black;
        border: 1px solid black;
    }
    
    .edLevelTag{
        padding-top:5px;
        padding-bottom:5px;
        padding-left:10px;
        padding-right:10px;
        color: gray;
        background: white;
        border: 1px solid gray;
        border-radius: 5px;
    }
    .edLevelTag:hover{
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
    }
    .filledEdLevelTag{
        padding-top:5px;
        padding-bottom:5px;
        padding-left:10px;
        padding-right:10px;
        color: white;
        background: #20C39A;
        border: 1px solid #20C39A;
        border-radius: 5px;
    }
    .badge{
        font-size: 14px;
        white-space: normal;
        margin-top: 0px;
    }
    .subSectionHeader{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .academicSubSection{
        border-bottom: 1px solid #20C39A;
        
    }
    .academicSubHeader{
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nextButton{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #profilePicSection{
        margin-bottom: 20px;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>

<div class="textBlack whiteBackground secondFont font14" ng-if="user">
    <!--bs-affix data-offset-top="200" data-offset-bottom="300" -->
    <div layout="row" layout-align="center center" hide-xs layout="row" class="affixBar profileBar width100 paddingTB10" layout-align="start start"> 
        <div layout="row" layout-align="start start" flex-xs="100" flex-gt-xs="90" class="width100">
            <a layout="row" layout-align="start center" ng-repeat="component in components" href="#{{component}}" du-smooth-scroll du-scrollspy offset="200" class="paddingLR20">
            <span id="topBar" ng-class="{ active: component.active }" >
                {{component.name}}
            </span>        
        </a>
        
        </div>
    </div>
    <div layout="row" layout-align="center start" class="width100">
    <div flex-xs="100" flex-gt-xs="90" layout="row" layout-align="center start" class="marginTB20">
        <div layout="column" layout-align="start center" flex="20" class="height100 paddingL20R40 leftBar">
            <div layout="column" layout-align="center center" ng-repeat="subcategory in currentSubcategories" class="paddingTB5 paddingLR20 min10vh  width100 spacedLetter09" ng-click="setActiveSubcategory(subcategory.name)" id="leftBarButton" ng-class="{ sideactive: subcategory.name == activeSubcategory.name }">
                {{subcategory.name}}
            </div>
        </div>
        <div flex layout="row" layout-align="center center">
            <div flex-xs="100" flex-gt-xs="90" layout="row" layout-align="start start">
            <div layout="column" layout-align="start start" class="width100 min100vh" flex>
                <div layout="column" layout-align="center start" class="min10vh width100 blogFont bold headingBottomBorder2 marginB20">
                    {{activeSubcategory.name}} Information
                </div>
                <div layout="column" layout-align="center start" class="width100">
                     
                    <div layout="column" layout-align="center start" class="width100 font14" ng-if="activeSubcategory.name =='Personal'">
                        <div layout="row" layout-align="start start" class="fieldRow academicSubSection paddingB20" id="profilePicSection">
                            <div flex="20" class="col1">
                                <div layout="column" layout-align="start start" class="editFont">
                                <div layout="column" layout-align="center center" ng-if="user.image">
                                    <img id="userPicProfile2" ng-src="{{user.image}}" class="img-circle" />
                                    <span ngf-select="uploadPic(newPic)" ng-model="newPic" ngf-accept="'image/*'" ngf-resize="{width: 200, height:200, quality: 0.8, centerCrop: true}">Change</span>
                                </div>
                                <div layout="column" layout-align="center center" ng-if="!user.image" ngf-select="uploadPic(newPic)" ng-model="newPic" ngf-accept="'image/*'" ngf-resize="{width: 200, height:200, quality: 0.7, centerCrop: true}">
                                    <div layout="column" layout-align="center center" class="lightGreyBackground width100"  id="picHolder" >
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                        <div class="font10 text-center width100">Add Image</div>
                                    </div>

                                </div>

                                </div>
                                
                            
                            
                            </div>
                            <div flex class="col2">
                                <input type="text" class="width100" ng-model="user.basic.name"  placeholder="Name" disabled>
                            </div>
                        </div>
                        <!--<div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Profile Picture</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingTB10">
                                
                            </div>
                        </div>-->
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Gender</div>
                            <div layout="row" layout-align="start center" flex class="col2">
                                <div ng-repeat="gender in userVariables.genders" class="marginR10">
                                    <span class="badge emptyTag" ng-class="{ filledTag: user.basic.gender=='{{gender}}' }" ng-click="setGender(gender)">
                                        {{gender}}
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Category</div>
                            <div layout="row" layout-align="start center" flex class="col2">
                                <div ng-repeat="caste in userVariables.categories" class="marginR10">
                                    <span class="badge emptyTag" ng-class="{ filledTag: user.basic.category=='{{caste}}' }" ng-click="setCategory(caste)">
                                        {{caste}}
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Person with Disability (PwD)</div>
                            <div layout="row" layout-align="start center" flex class="col2">
                                <span class="badge emptyTag marginR10" ng-class="{ filledTag: user.basic.PwD==true }" ng-click="setPwD(true)">
                                    Yes
                                </span>
                                <span class="badge emptyTag marginR10" ng-class="{ filledTag: user.basic.PwD==false }" ng-click="setPwD(false)">
                                    No
                                </span>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Date of Birth</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingTB10">
                                <md-datepicker ng-model="user.basic.dob" md-placeholder="Date of Birth" class="margin0"></md-datepicker>
                            </div>
                        </div>
                        
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">
                                <md-button class="md-danger md-large tolowercase margin0 nextButton" ng-click="setActiveSubcategory('Contact')">
                                    Next
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center start" class="width100 font14" ng-if="activeSubcategory.name =='Contact'">
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Mobile</div>
                            <div flex class="col2">
                                <input type="text" class="width100" ng-model="user.mobile"  placeholder="Mobile">
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">Email</div>
                            <div flex class="col2">
                                <input type="email" class="width100" ng-model="user.email"  placeholder="Email Address">
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div layout="column" layout-align="start start" flex="{{col1Width}}" class="col1">
                                <div>Location</div>
                                <div class="font10 textLightGrey">
                                    We use your location to improve your experience in the website.
                                </div>
                            
                            </div>
                            <div flex class="col2" >
                                <md-button class="md-black md-large tolowercase margin0" ng-click="locateUser()" ng-if="!user.location">
                                    Locate me
                                </md-button>
                                <div layout="column" layout-align="start start" ng-if="user.location && user.location.length == 1" class="width100">
                                    <div class="width100">
                                        {{user.location[0].sublocality}}, {{user.location[0].city}}, {{user.location[0].country}}
                                    </div>
                                    <div ng-click="locateUser()" class="text-primary font12 width100">
                                        Incorrect? Find new location!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">
                                <md-button class="md-danger md-large tolowercase margin0 nextButton" ng-click="setActiveSubcategory('Academic')">
                                    Next
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center start" class="width100 font14" ng-if="activeSubcategory.name =='Academic'">
                        <div layout="column" layout-align="start start" class="academicRow academicSubSection">
                        
                            <div layout="row" layout-align="center center" class="font16 marginB10 width100 academicSubHeader">
                                Choose your Education Level
                            </div>
                            <div layout="row" layout-align="start start" class="fieldRow" layout-wrap>
                                <div flex-xs="20" flex="20" ng-repeat="educationLevel in educationLevels" class="padding10">
                                    <span layout="row" layout-align="center center" class="wrap edLevelTag width100 min10vh text-center" ng-class="{ filledEdLevelTag: user.eligibility.educationLevel.name=='{{educationLevel.name}}' }" ng-click="setEducationLevel(educationLevel)">
                                        {{educationLevel.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="user.eligibility.educationLevel.level >= 1">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            School Class XII
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Subjects</div>
                            <div layout="row" layout-align="start center" flex class="col2" layout-wrap>
                                <div flex="20" ng-repeat="class12Subject in class12Subjects" class="padding10">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.class12Subjects[class12Subject.name] }" ng-click="setClass12Subjects(class12Subject.name)">
                                        {{class12Subject.displayname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Class XII Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.class12Percentage" step="1" min="40" max="100" aria-label="Class 12th Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        
                        
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="user.eligibility.educationLevel.level >= 3">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            Undergraduate
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Degree</div>
                            
                            <div flex layout="column" layout-align="start start" class="width100">
                            
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Engineering
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='engineering'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                                
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Medical
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='medical'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                                
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Law
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='law'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                            </div>
                            
                            <div flex layout="column" layout-align="start start" class="width100 marginB10">    
                            <div layout="row" layout-align="start start" class="width100 paddingL10">
                                Other
                            </div>    
                            <div layout="row" layout-align="start start" class="col2 width100" layout-wrap>
                                <div flex="25" ng-repeat="undergradMajor in undergradMajors" class="padding10" ng-if="undergradMajor.stream.name=='other'">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.undergradMajor[undergradMajor.name] }" ng-click="setUndergradMajor(undergradMajor.name)" layout-wrap>
                                        {{undergradMajor.displayname}}
                                    </span>
                                </div>
                            </div>     
                            </div>
                            </div>
                            
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Equivalent Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.undergradPercentage" step="1" min="40" max="100" aria-label="Undergrad Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        
                        
                        <div layout="column" layout-align="start start" class="academicRow" ng-if="user.eligibility.educationLevel.level >= 5">
                            
                        <div layout="row" layout-align="start center" class="marginT20 marginB10 width100 font16 subSectionHeader">
                            Postgraduate
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1WidthAcademic}}" class="col1">Degree</div>
                            <div layout="row" layout-align="start center" flex class="col2" layout-wrap>
                                <div flex="25" ng-repeat="postgradMajor in postgradMajors" class="padding10">
                                    <span class="badge emptyTag width100" ng-class="{ filledTag: user.eligibility.postgradMajor[postgradMajor.name] }" ng-click="setPostgradMajor(postgradMajor.name)" layout-wrap>
                                        {{postgradMajor.displayname}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-align="start center" class="fieldRow paddingB20">
                            <div flex="{{col1WidthAcademic}}" class="col1">Equivalent Percentage</div>
                            <div layout="row" layout-align="start center" flex class="col2 paddingLR20">
                                <span class="marginR10">40</span>
                                <md-slider class="width100" md-discrete ng-model="user.eligibility.postgradPercentage" step="1" min="40" max="100" aria-label="Postgrad Percentage">
                                </md-slider>
                                <span class="marginL10">100</span>
                            </div>
                        </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">
                                <md-button class="md-danger md-large tolowercase margin0 nextButton" ng-click="setActiveSubcategory('Social')">
                                    Next
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center start" class="width100 font14" ng-if="activeSubcategory.name =='Social'">
                        <span ng-if="!user.facebookId" class="editFont marginB20">
                            You can link Facebook to your existing account to enable seamless logging in.
                        </span>

                        <md-button ng-click="fblogin()" class="loginBtn loginBtn--facebook width100 tolowercase" ng-show="!user.facebookId">
                            <span class="font14" hide-xs>
                                Link with Facebook
                            </span>
                            <span class="font12" hide-gt-xs>
                                Link with Facebook
                            </span>
                        </md-button>


                        <div layout="column" ng-if="user.facebookId" class="marginT10">
                            <div>
                                Facebook Linked&nbsp;&nbsp;<i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                            <div layout="row" layout-align="start center" class="width100 marginTB20">
                                <div layout="row" layout-align="center center"  flex="20">
                                <i class="fa fa-check font32 text-primary bold" aria-hidden="true"></i>
                                </div>
                                    <!--(id: {{user.facebookId}})-->
                                <div layout="row" layout-align="start center"  class="editFont">
                                    You are already linked to your Facebook account. Enjoy seamless logging in with Facebook to your Exambazaar account.
                                </div>
                            </div>

                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">
                                <md-button class="md-danger md-large tolowercase margin0 nextButton" ng-click="setActiveSubcategory('Blogging')">
                                    Next
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center start" class="width100 font14" ng-if="activeSubcategory.name =='Blogging'">
                        <div layout="row" layout-align="start start" class="fieldRow" ng-if="user.blogger.active">
                            <div flex="{{col1Width}}" class="col1">
                                <div>
                                    Add profile credential
                                </div>
                                <div class="editFont font10 ">
                                    Credentials also appear on blogs you write
                                </div>
                            </div>
                            <div flex class="col2">
                                <input type="text" class="width100" ng-model="user.blogger.profileCredential"  placeholder="mechanical engineer, electric car enthusiast" >
                                
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow" ng-if="!user.blogger.active">
                            <div layout="column" layout-align="start start" class="width100 font14">
                                <div class="marginB20 font20">
                                Would you like to contribute to <a ui-sref="blog" target="_blank" id="link">Exambazaar Blog</a>?
                                </div>
                                
                                
                                <span>
                                    {{user.basic.name}}, blogging on Exambazaar has not been activated for you.<br/>
                                    <a href="mailto:team@exambazaar.com?Subject=Blogging%20Request" target="_top" id="link">
                                        Write to us at team@exambazaar.com
                                    </a>
                                    &nbsp;with your blogging experience and we will enable it for you!
                                </span>
                            
                            </div>
                        </div>
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div flex="{{col1Width}}" class="col1">
                                <md-button class="md-danger md-large tolowercase margin0 nextButton" ng-click="setActiveSubcategory('Preferences')">
                                    Next
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="column" layout-align="center start" class="width100 font14" ng-if="activeSubcategory.name =='Preferences'">
                        <div layout="row" layout-align="start start" class="fieldRow">
                            <div layout="column" layout-align="start start" class="width100 font14">
                                <div class="marginB20 font20">
                                This section is coming up soon!
                                </div>    
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    
                    
                   </div>    
            </div>
        
            </div>
        </div>
        <!--<div layout="column" layout-align="start start" class="width100 paddingLR20 min100vh" flex>
            <div layout="column" layout-align="start start" class="padding20 secondFont gainsboroBorder width100" id="profileSection">
                <div layout="row" layout-align="start center" ng-if="user.basic" class="width100">
                    <div>
                        Welcome, {{user.basic.name}}
                    </div>
                    <div layout="column" layout-align="start start" class="paddingL20 editFont">
                        <div layout="column" layout-align="center center" ng-if="user.image">
                            <img id="userPic" ng-src="{{user.image}}" class="img-circle" />
                            <span ngf-select="uploadPic(newPic)" ng-model="newPic" ngf-accept="'image/*'" ngf-resize="{width: 200, height:200, quality: 0.8, centerCrop: true}">Change</span>
                        </div>
                        <div layout="column" layout-align="center center" ng-if="!user.image" ngf-select="uploadPic(newPic)" ng-model="newPic" ngf-accept="'image/*'" ngf-resize="{width: 200, height:200, quality: 0.7, centerCrop: true}">
                            <div layout="row" layout-align="center center" class="lightGreyBackground"  id="picHolder" >
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Image
                            </div>

                        </div>

                    </div>

                </div>
                <span ng-if="!user.facebookId" class="editFont marginB20">
                    You can link Facebook to your existing account to enable seamless logging in.
                </span>

                <md-button ng-click="fblogin()" class="loginBtn loginBtn--facebook width100 tolowercase" ng-show="!user.facebookId">
                    <span class="font14" hide-xs>
                        Link with Facebook
                    </span>
                    <span class="font12" hide-gt-xs>
                        Link with Facebook
                    </span>
                </md-button>


                <div layout="column" ng-if="user.facebookId" class="marginT10">
                    <div>
                        Facebook Linked <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </div>
                    <div>
                    <span>
                    <i class="fa fa-check font20 text-primary bold" aria-hidden="true"></i>
                    </span>
                    <span class="editFont marginB20">
                        You are already linked to your Facebook account (id: {{user.facebookId}}). Enjoy seamless logging in with Facebook to your Exambazaar account.
                    </span>
                    </div>

                </div>
                <span ng-if="!user.basic">
                Name: 
                </span>


            </div>
            <div layout="column" layout-align="start start" class="padding20 secondFont gainsboroBorder width100 marginT20" id="profileSection" ng-if="user.blogger.active">

                <div layout="row" layout-align="start start" class="width100">
                    Credentials & Highlights
                </div>
                <div layout="row" layout-align="start center" class="width100 marginT20">
                    <div flex="25" layout="column" layout-align="start start">
                        <div>
                            Add profile credential
                        </div>
                        <div class="editFont font10 ">
                            Credentials also appear on blogs you write
                        </div>
                    </div>
                    <div flex>
                        <input type="text" class="font12 width100" ng-model="user.blogger.profileCredential"  placeholder="mechanical engineer, electric car enthusiast" >
                    </div>
                </div>
                <div layout="row" layout-align="end center" class="width100">
                    <md-button class="md-raised md-primary" ng-click="saveBlogger()">
                         Save
                    </md-button>
                </div>
            </div>

        </div>-->
    </div>
    </div>
</div>

<!--<div style="visibility: hidden">    
    <div class="md-dialog-container" id="savedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin20 padding10">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Changes Saved!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>-->

<div class="bottomBar">
    <div layout="row" layout-align="start center">
        <div flex ="80">
            <span>
            Do you want to save changes to your profile? 
            </span>
        </div>
        <div layout="row" layout-align="end center" flex = "20">
            <md-button class="md-danger md-small font10 width8" ng-click="saveUser()">
                Save
            </md-button>
            <!--
            <md-button class="md-default md-cancel md-small font10 width8" ng-click="dontsaveChanges()">
                Cancel
            </md-button>
            -->
        </div>
        
    </div>
</div>