<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #upload2{
        background: white;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #upload2:hover {
        background: #ccc;
        cursor: pointer;
    }
    #copyLink{
        cursor: pointer;
    }
    #fullHeightPage{
        min-height: 90vh;
    }
    #instituteSection{
        min-height: 30vh;
    }
    .min30vh{
        min-height: 30vh;
    }
    .min50vh{
        min-height: 50vh;
    }
    #partner{
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    }
    #loginInput{
        border: 0;
        outline: 0;
        background: transparent;
        padding: 5px;
        margin-bottom: 2px;
        text-align: left;
        font-family: "Open Sans";
        color: black;
        border: 1px solid gainsboro;
        font-size:12px;
    }
    
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground" id="fullHeightPage">
    
    
<div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="center center" class="paddingTB10 height100 width100">
        <div layout-wrap layout="row" layout-align="center center" class="secondFont font20 textBlack bold paddingB20">
            {{exam.displayname}} {{year}} <span class="badge font12 marginL5" id="badge">{{yearResults.length}}</span>
        </div>
        
        <div layout-wrap layout="row" layout-align="start start">
        
        <div flex="10" class="text-center padding10" ng-repeat="resultPair in yearResults "  >
        <!--| orderBy: 'result.rank'-->    
        <div class="gainsboroBorder min30vh">
            <div  id="thumbnailImage" ng-style="{'background-image':'url({{resultPair.result.image}})'}">
            <div layout="row" layout-align="end center" class="text-white" id="thumbnailResultText" ng-if="resultPair.result.rank && resultPair.result.year">
                <div flex="50" layout="row" layout-align="start center" class="font10 paddingLR2" ng-if="resultPair.result.rank">
                    
                    AIR {{resultPair.result.rank}}
                    

                </div>
                <div flex="50" layout="row" layout-align="end center" class="font8 paddingLR2">
                    {{resultPair.result.year}}
                    
                </div>
            </div>
            
            </div>
        
            <div layout="column" layout-align="center center" class="editFont font10" id="">
                <div class="textBlack marginTB5">{{resultPair.result.name}}</div>
                <div>{{resultPair.coaching}}</div>
                <!--{{resultPair.coaching}}-->
            </div>
            
            <div layout="column" layout-align="center center" ng-if="!resultPair.result.year" class="danger">
                Claim
            </div>
        </div>
        </div>
        </div>
        
        
        
    
    
    
</div>
</div>
