<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #upload2{
        background: white;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #upload2:hover {
        background: #ccc;
        cursor: pointer;
    }
    #copyLink{
        cursor: pointer;
    }
    #fullHeightPage{
        min-height: 90vh;
    }
    #instituteSection{
        min-height: 30vh;
    }
    .min30vh{
        min-height: 30vh;
    }
    .min50vh{
        min-height: 50vh;
    }
    #partner{
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    }
    #loginInput{
        border: 0;
        outline: 0;
        background: transparent;
        padding: 5px;
        margin-bottom: 2px;
        text-align: left;
        font-family: "Open Sans";
        color: black;
        border: 1px solid gainsboro;
        font-size:12px;
    }
    
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground" id="fullHeightPage">
<div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center center" class="paddingTB10 height100 width100">
    <!--<div layout="row" layout-align="start center" ng-repeat="resultPair in allResults | orderBy: 'result.rank'" ng-if="resultPair.result.year=='2017'">
    </div> -->   
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 text-center" ng-repeat="resultPair in allResults | orderBy: 'result.rank'" ng-if="resultPair.result.year=='2017'" id="imageContainer">
            
        <div  id="thumbnailImage" ng-style="{'background-image':'url({{resultPair.result.image}})'}">
            <div layout="row" layout-align="end center" class="text-white" id="thumbnailResultText">
                <div flex="50" layout="row" layout-padding layout-align="start center" class="font10">
                    <span>
                        AIR {{resultPair.result.rank}}
                    </span>

                </div>
                <div flex="50" layout="row" layout-padding layout-align="end center" class="font8">
                    <!--{{resultPair.result.year}}-->
                    {{resultPair.coaching}}
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center" class="text-white font10" id="thumbnailResultTextTop">
            {{resultPair.result.name}}
        </div>
        </div>
        </div>
        
        
        
    
    
    
</div>
</div>
