<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #upload2{
        background: white;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #upload2:hover {
        background: #ccc;
        cursor: pointer;
    }
    #copyLink{
        cursor: pointer;
    }
    #fullHeightPage{
        min-height: 90vh;
    }
    #instituteSection{
        min-height: 30vh;
    }
    .min8vh{
        min-height: 8vh;
    }
    .min20vh{
        min-height: 20vh;
    }
    .min30vh{
        min-height: 30vh;
    }
    .min50vh{
        min-height: 50vh;
    }
    #partner{
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    }
    #loginInput{
        border: 0;
        outline: 0;
        background: transparent;
        padding: 5px;
        margin-bottom: 2px;
        text-align: left;
        font-family: "Open Sans";
        color: black;
        border: 1px solid gainsboro;
        font-size:12px;
    }
    .numberCircle {
        border-radius: 50%;

        width: 36px;
        height: 36px;
        padding: 4px;

        background: #fff;
        border: 2px solid black;
        color: black;
        text-align: center;
        font-size: 16px;
    }
    
    .imgBorder {
/*      padding: 15px 15px 0;*/
        background-color: white;
        box-shadow: 0 0 10px darkgray;
        border-radius: 4px;
        border: 0px;
 /*     -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
      -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);*/
    }
 
    
    
</style>

<div id="rankersWallPage">
<div id="spacer1" class="hidden-xs">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg">
</div>
<div flex layout="row" layout-align="center start" class="" id="fullHeightPage">
    
    
<div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="center center" class="paddingTB10 height100 width100">
        <div layout-wrap layout="column" layout-align="center center" class="secondFont textWhite paddingTB20 textShadow">
            <div class="bold font36 narrowLine">RANKERS WALL</div>
            <div class="font20">{{exam.displayname}} {{year}}</div>
            
        </div>
        
        <div layout-wrap layout="row" layout-align="center start">
        
        <div flex="10" class="text-center padding10 marginB10" ng-repeat="resultPair in yearResults " >
        <!--| orderBy: 'result.rank'-->    
        <div class=" ">
            <div layout="column" layout-align="start center" class="editFont font20 textWhite marginB5 bold textShadow">
                AIR {{$index + 1}}
            </div>
            
            <div class="imgBorder">
                <div  id="thumbnailImage" ng-style="{'background-image':'url({{resultPair.result.image}})'}" ng-if="resultPair.result.name">
                </div>
                <div  id="thumbnailImage" ng-style="{'background-image':'url(icons/student.jpg)'}" ng-if="!resultPair.result.name">
                </div>
            </div>
            
            
            
            <div layout="column" layout-align="start center" class="editFont textWhite textShadow marginTB5 spacedLetter050 bold">
                <div class="font11 textGainsboro">
                    {{resultPair.result.name }}
                </div>
                <div class="font8 textGainsboro" ng-if="resultPair.coaching">
                    ({{resultPair.coaching}})
                </div>
            </div>
            
            <div layout="column" layout-align="center center" ng-if="!resultPair.result.year" class="danger">
        
            </div>
        
        </div>
        </div>
        </div>

</div>
</div>
</div>
