<style>
    #autocompleteLogo{
        max-height: 35px;
        max-width: 70px;
    }
    .autocomplete-custom-template li {
          border-bottom: 1px solid #ccc;
          height: auto;
          padding-top: 8px;
          padding-bottom: 8px;
          white-space: normal;
        }
        .autocomplete-custom-template li:last-child {
          border-bottom-width: 0;
        }
        .autocomplete-custom-template .item-title,
        .autocomplete-custom-template .item-metadata {
          display: block;
          line-height: 2;
        }
        .autocomplete-custom-template .item-title md-icon {
          height: 18px;
          width: 18px;
        }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #questionSection{
        min-height: 25vh;
    }
    #submitSection{
        min-height: 10vh;
    }
    
</style>


<div class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    
    <!--<div layout="column" layout-align="start center" id="Reviews" class="textBlack padding20 min40vh">
        <div layout="row" layout-align="center center" class="secondFont font36 bold textBlack text-center">
        Review a place you've been to
        </div>
        
        <div layout="row" layout-align="center center" class="secondFont textBlack text-center">
            <div>
            
            </div>
            
        </div>
        
    </div>-->
    
    <div layout="row" id="offerRow" ng-controller="offerController">

      <div layout="column" layout-align="center center" class=" width100 secondFont ">
          <!-- href="#userReview" du-smooth-scroll du-scrollspy offset="200"-->
        <div layout="column" layout-align="center center" class="translucentBackground width100 padding10">

        <div layout="column" layout-align="center center" class="secondFont marginTB10" style="display:inline-block" >
            <div layout="row" layout-align="center center" class="marginB10 offerFont spacedLetter1">
                <span hide-xs class="text-center font20">
                <!--
                Review your coaching institute at Exambazaar to unlock amazing discounts and offers from
                -->
                    You’d love our discounts on the most popular exam prep courses!
                </span>
                <span hide-gt-xs class="font12 text-center">
                    You’d love our discounts on the most popular exam prep courses!
                </span>
            </div>


            <div layout="row" layout-align="center center" class="translucentWhiteBackground textBlack spacedLetter1 paddingT10">
                <span hide-xs class="font14 text-center">
                    Unlock discounts from 20% - 50% on
                </span>
                <span hide-gt-xs class="font10 text-center">
                    Unlock discounts from 20% - 50% on
                </span>


            </div>
            <div layout="row" layout-align="center center" class="translucentWhiteBackground">

                <div hide-xs layout="column" layout-align="center center" ng-repeat="offer in offers" class="paddingLR10 paddingTB10">
                    <div>
                        <img ng-src="{{offer.image}}" id="offerImage"/>
                    </div>
                    <div class="font12 bold textBlack paddingT5">
                        {{offer.displayname}}
                    </div>
                </div>
                <div hide-gt-xs layout="column" layout-align="center center" ng-repeat="offer in offers" class="paddingLR5 paddingTB10">
                    <div layout="row" layout-align="center center" class="marginT5">
                        <img ng-src="{{offer.image}}" id="smallofferImage"/>
                    </div>
                    <div layout="row" layout-align="center center" class="font8 textBlack text-center narrowLine paddingT5" >
                        {{offer.displayname}}
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="center center" class=" marginB10 secondFont dangerBackground" ng-click="goToReview()">
                <span hide-xs class="text-center">
                    Review your Coaching Institute
                </span>
                <span hide-gt-xs class="font14 text-center">
                    Review your Coaching Institute
                </span>

            </div>
        </div>

        <!--<div hide-gt-xs layout="row" layout-align="center center" class="paddingB10 secondFont ">
        <md-button class="md-small md-green2  font12 tolowercase width50"  ng-click="">Review Now</md-button>
        </div>-->

        </div>

        </div>



    </div>
            
    
    
    <div layout="column" layout-align="start center" id="Reviews" class="greyBorder textBlack margin10 marginB80 padding10">
        <div layout="row" layout-align="center center" class="width100 secondFont bold">
            Find your Coaching Institute to review
        </div>
        
        <div layout="row" layout-align="center start" id="questionSection" ng-if="selectStream" class="width100">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 secondFont text-center marginTB10">
                    1. Select Stream
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 paddingLR10" ng-repeat="stream in streams | orderBy:'-rank'" ng-if="stream.name !='other'" ng-click="updateStream(stream)">
                    <div id="categoryFont" class="text-center">
                    {{stream.displayname}}
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center start" id="questionSection" ng-if="selectExam" class="width100">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 secondFont text-center marginTB10">
                    2. Select Exam
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 paddingLR10" ng-repeat="exam in exams | orderBy:'-rank'" ng-if="exam.stream._id == reviewStream._id" ng-click="updateExam(exam)">
                    <div id="categoryFont" class="text-center">
                    {{exam.displayname}}
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center start" id="questionSection" ng-if="selectCity" class="width100">
            <div class="row width100">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 secondFont text-center marginTB10">
                    3. Select City
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 width100" >
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 paddingLR10" ng-if="$index<11" ng-repeat="city in rankedCities" ng-click="updateCity(city)">
                    <div id="categoryFont" class="text-center">
                    {{city | uppercase}}
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 paddingLR10" ng-click="showOtherCityDialog()">
                    <div id="categoryFont" class="text-center">
                    OTHER
                    </div>
                </div>  
                    
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center start" id="questionSection" ng-if="searchCoaching" class="width100">
            <div class="row width100">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 secondFont text-center marginTB10">
                    4. Select Coaching Centre
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 width100" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 width100" ng-controller="cityGroupExamQueryController as ctrl" class="width100">

                    <md-autocomplete flex required 
                    md-selected-item="ctrl.selectedItem"
                    md-selected-item-change= "ctrl.selectedItemChange(item)"
                    md-search-text="ctrl.searchText"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.name"
                    md-delay="300"
                    md-require-match
                    placeholder="Search your coaching centre"
                    md-menu-class="autocomplete-custom-template"
                    class="width100">

                        <md-item-template >
                          <span class="item-title font12">
                              <span class="font14"><strong>{{item.name}}</strong></span>&nbsp;&nbsp;
                              <img ng-if="item.logo" ng-src="{{item.logo}}" id="autocompleteLogo"/>
                          </span>
                          <span class="item-metadata">
                            <span class="item-metastat font10">
                              {{item.city}}:
                            </span>&nbsp;
                            <span class="item-metastat font10">
                              {{item.address}}
                            </span>
                          </span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                    </md-autocomplete>
                    </div>
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 width100 font10 text-right" >
                     Can't search for your coaching institute? <a ui-sref="findCoaching({ categoryName:{{'reviewStream.name'}}, subCategoryName:{{'reviewExam.name'}}, cityName:{{'reviewCity'}} })" id="dangerLink" target="_blank">Browse here</a>
                </div>
                    
                </div>
            </div>
        </div>
        
        
        <div layout="row" layout-align="center center" class="width100 secondFont bold font10" id="submitSection">
            <div layout="column" layout-align="center center" ng-if="reviewStream" class="greyBorder marginLR10" ng-click="clearAll()">
                <div layout="row" layout-align="center center" class="primaryBackground textWhite width100 paddingLR5">
                    Stream
                </div>    
                <div layout="row" layout-align="center center" class="paddingLR5">
                    {{reviewStream.displayname}}
                </div>
            </div>
            <div layout="column" layout-align="center center" ng-if="reviewExam" class="greyBorder marginLR10" ng-click="examStep()">
                <div layout="row" layout-align="center center" class="primaryBackground textWhite width100 paddingLR5">
                    Exam
                </div>    
                <div layout="row" layout-align="center center" class="paddingLR5">
                    {{reviewExam.displayname}}
                </div>
            </div>
            <div layout="column" layout-align="center center" ng-if="reviewCity" class="greyBorder marginLR10" ng-click="cityStep()">
                <div layout="row" layout-align="center center" class="primaryBackground textWhite width100 paddingLR5">
                    City
                </div>    
                <div layout="row" layout-align="center center" class="paddingLR5">
                    {{reviewCity}}
                </div>
            </div>
            <div layout="column" layout-align="center center" ng-if="reviewInstitute" class="greyBorder marginLR10">
                <div layout="row" layout-align="center center" class="primaryBackground textWhite width100 paddingLR5">
                    Coaching Centre
                </div>    
                <div layout="row" layout-align="center center" class="paddingLR5">
                    {{reviewInstitute.name}}
                </div>
            </div>
        </div>
        
        <div layout="row" layout-align="end center" class="editFont " id="submitSection">
            <div ng-show="reviewStream"  class="editFont marginR10 font10">
                <a ng-click="clearAll()">
                    Clear All
                </a>
            </div>
            
            <md-button ng-show="reviewStream" class="md-raised md-primary font12 tolowercase"  id="doneButton" ng-disabled="checkReviewButton()" ng-click="goToReview()">
                Review {{reviewInstitute.name}}
            </md-button>
        </div>
        
    </div>
    
    
</div>

<div style="visibility: hidden">    
<div class="md-dialog-container" id="cityDialog">
  <md-dialog layout-padding>
    <p class="text-center md-title" id="pageHeaderFont">
      <span>SELECT YOUR CITY</span>
      <span class="pull-right" ng-click="cancelDialog()"><i class="fa fa-times" aria-hidden="true"></i></span>
    </p>

    <p class="text-center">
      <span  ng-repeat="city in rankedCities" ng-if="$index>=11">
          <span class="text md-subhead">
            <a ng-click="updateCity(city)"  id="otherCategoryLink">{{city | uppercase}}
            </a>
            <span ng-if="!$last">&nbsp;&#8226;&nbsp;</span>
          </span>

      </span>
    </p>
  </md-dialog>
</div>    
</div>