<style>
    #autocompleteLogo{
        max-height: 35px;
        max-width: 70px;
    }
    .autocomplete li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal; 
    }
    .autocomplete .item-title,  .autocomplete .item-metadata {
          display: block;
          line-height: 2; 
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    
     
    
</style>


<div class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    <div layout="column" ng-controller="autocompleteController as ctrl">
        <md-autocomplete flex 
        md-selected-item="ctrl.selectedItem"
        md-selected-item-change= "ctrl.selectedItemChange(item)"
        md-search-text="ctrl.searchText"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.name"
        md-delay="300"
        md-menu-class="autocomplete"
        class="width100">
            <md-item-template >
              <span class="item-title font12">
                  <span class="font14"><strong>{{item.name}}</strong></span>&nbsp;&nbsp;
                  <img ng-if="item.logo" ng-src="{{item.logo}}" id="autocompleteLogo"/>
              </span>
              <span class="item-metadata">
                <span class="item-metastat font10">
                  {{item.city}}:
                </span>&nbsp;
                <span class="item-metastat font10">
                  {{item.address}}
                </span>
              </span>
            </md-item-template>
          
        </md-autocomplete>
    </div>
    
    <!--<div layout="column" layout-padding class="width100">
        <input type="text" class="form-control text-center" ng-model="mapAddress" >
        
        <ng-map center="{{mapAddress}}" zoom="14" scrollwheel="true">
        <marker position="{{mapAddress}}"
              title="{{mapAddress}}"
              animation="Animation.BOUNCE"
              centered="true"></marker>
        </ng-map>
    </div>-->
    <div id="map"></div>
    
    <md-button class="md-raised md-primary md-small font12" ng-click="setData()" id="">Show</md-button>
    <md-button class="md-raised md-primary md-small font12" ng-click="saveData()" id="">Save</md-button>
    <div layout="column" class="padded">
    <div layout="row" ng-if="dataShow">
        {{unavailableLatLng}} unavailable latlng out of 20!
    </div>
    <div layout="row" ng-repeat ="thisProvider in providers" ng-if="dataShow">
        <div flex>
            {{$index}}
        </div>
        <div flex="50">
            {{thisProvider.address}}, {{thisProvider.city}}
        </div>
        <div flex>
            {{thisProvider.latlng.lat | number:2}}
        </div>
        <div flex>
            {{thisProvider.latlng.lng | number:2}}
        </div>
        <div flex>
            {{thisProvider.latlngna}}
        </div>
    </div>
    </div>
</div>