<style>
    #autocompleteLogo{
        max-height: 35px;
        max-width: 70px;
    }
    .autocomplete li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal; 
    }
    .autocomplete .item-title,  .autocomplete .item-metadata {
          display: block;
          line-height: 2; 
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #mapHolder1{
        min-height: 80vh;
    }
    #map{
        height:100%;
    } 
    #logo{
        max-width: 100px;
    }
</style>


<div class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    <div flex layout="row" class="padded2">
        <div flex="70" layout="column">
            <div layout="row" layout-align="start center" class="editFont">
            displaying {{providers.length}} coaching institues out of total {{cityProviderCount}} ({{cityProviderCount - providers.length}} are not marked on map)
            </div>
            <div class="width100" id="mapHolder">
                <ng-map center="{{city}}" scrollwheel="true" zoom="12" id="map">
                <!--<marker position="current-location"
                      title="current-location" class="map-icon map-icon-point-of-interest"icon="{path:'CIRCLE', scale: 10}" draggable="false"></marker>-->
                <marker position="{{city}}"
                      title="City" icon="{path:'CIRCLE', scale: 10}" draggable="false"></marker>
                <marker position="{{provider.mapLatLng}}"
                      title="{{provider.name}}"
                   ng-repeat="provider in providers" on-click="showProvider(event, provider)"></marker>
                </ng-map>
            </div>
            <div flex layout="row" class="greyBorder marginTB10 padding10" ng-if="activeProvider">
                <div flex="80" layout="column">
                    <div flex layout="column" layout-align="start start" class="editFont width100 font10" >
                        <span class="editFont">
                            <a ui-sref="claim({ coachingId:{{'activeProvider._id'}} })" target="_blank" id="link">
                            <strong>{{activeProvider.name}}</strong>
                            </a>
                        </span>
                        <span>{{activeProvider.address}}</span>
                        <span>
                        <span ng-repeat="phone in activeProvider.phone" >
                            {{phone}}&nbsp;
                        </span>
                        </span>
                        <span>
                        <span ng-repeat="mobile in activeProvider.mobile" >
                            {{mobile}}&nbsp;
                        </span>
                        </span>
                        <a ng-href="{{activeProvider.website}}" target="_blank" ng-if="activeProvider.website" id="link">
                        Url
                        </a>
                    </div>
                </div>
                <div flex="20" layout="column" layout-align="center center">
                    <img ng-if="activeProvider.logo && activeProvider.logo!=''" ng-src="{{activeProvider.logo}}" id="logo"/>
                </div>
            </div>
            
        </div>
        <div flex="30" layout="column" class="font10 padding10">
            <div ng-repeat="state in states | orderBy:'toString()'">
                <span class="bold">{{state}}:</span>
                <span ng-repeat="cityState in cityStates | orderBy: 'city'" ng-if="cityState.state == state">
                    &nbsp;<a ui-sref="sandbox2({ masterId:{{'masterId'}}, cityName:'{{cityState.city}}' } )" id="link" ng-class="{ secondFont: cityState.city == city }">{{cityState.city}}</a>
                </span>
                
            </div>
            
        </div>
        
    </div>
    
</div>