<style>
    .md-block{
        padding: 10px;
        border: 1px solid #ccc; 
    }
    a{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited:hover{
        color: #20C39A;
        text-decoration: none;
    }
</style>
<div class="container">
    <div id="spacer1">
    </div>
    <div layout="row" layout-margin layout-padding>
        <span class="md-subhead">
            Send Emails
        </span>
    </div>
    
    <md-divider></md-divider>
    
    <div layout="column" layout-margin layout-padding>
    <h4 class="text-primary md-title">Email Params</h4>
    <div class="col-md-12" id="addMasterForm">
        <md-content flex layout-padding>
            <form name="emailForm" >
            <div layout="column" >
                <div layout="column">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>To</label>
                        <input required ng-model="email.to">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input required ng-model="email.name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>From</label>
                        <input required ng-model="email.from">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Subject</label>
                        <input required ng-model="email.subject">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Content</label>
                        <input required ng-model="email.html">
                    </md-input-container>
                </div>   

                <md-button class="md-raised md-primary" ng-click="sendEmail()" ng-disabled="emailForm.$invalid">Send Email</md-button>

            </div>
        </form>
        </md-content>
        </div>
    </div>
</div>
<div>
    {{ServerResponse}}
</div>