<style>
    .md-block{
        padding: 10px;
        border: 1px solid #ccc; 
    }
    a{
        color:#20C39A;
    }
    a:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:link:hover{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited{
        color: #20C39A;
        text-decoration: none;
    }
    a:visited:hover{
        color: #20C39A;
        text-decoration: none;
    }
    .badge{
        background: black;
    }
</style>
<div class="container">
    <div id="spacer1">
    </div>
    <div layout="column" layout-margin layout-padding>
    <h4 class="text-primary md-title">Send Claim Email to Institutes</h4>
    <div class="col-md-12" id="addMasterForm" ng-if="showLevel > 5">
        <md-content flex layout-padding>
            <form name="emailForm" >
            <div layout="column" >
                <div layout="row">
                    <md-input-container class="width50 text-primary">
                      <md-select ng-model="email.templateName"  placeholder="Select Templated">

                        <md-option ng-value="templateName" ng-repeat="templateName in templateNames" class="text-primary" >
                            <!--ng-click="update(mobile)"-->
                          {{templateName}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    
                    
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>From</label>
                        <input required ng-model="email.from">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Sender</label>
                        <input ng-model="email.sender" disabled>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Institute Id</label>
                        <input required ng-model="email.instituteId" focus-me="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Institute Name</label>
                        <input required ng-model="email.instituteName" disabled>
                    </md-input-container>
                </div>
                <div layout="row" class="marginTB5">
                    <span ng-repeat="email in provider.email" >
                        <span class="badge">{{email}}</span>&nbsp;&nbsp;
                    </span>
                   
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>To</label>
                        <input required ng-model="email.to">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Subject</label>
                        <input required ng-model="email.subject">
                    </md-input-container>
                </div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Content</label>
                    <input ng-model="email.html">
                </md-input-container>
                 

                <md-button class="md-raised md-primary" ng-click="sendEmail()" ng-disabled="emailForm.$invalid">Send Email</md-button>

            </div>
        </form>
        </md-content>
        </div>
    </div>
</div>
<div>
    {{ServerResponse}}
</div>