<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    img{
        max-width: 100%;
        margin: auto;
        display: block;
    }
    .blogtitle{
        color: white;
    }
    .profileBox{
        /*border: solid 0.5px #ccc;
        border-radius: 20px;
        background: white;*/
    }
    .blogHeader{
        min-height: 60vh;
        /*background-image: url("images/background/blog-background2.jpg");*/
        background-size:     cover;
        background-position: center center;
    }
    .blogContent{
        text-align: left;
    }
    h1,h2,h3{
        text-align: left;
    }
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center center" class="whiteBackground">
<div layout="column" layout-align="center center" class="blogFont paddingTB20 width100 marginB40">
    
    <div layout="column" layout-align="center center" class="width100 marginB40">
        <div layout="row" layout-align="center center" class="width100 blogHeader gainsboroBottomBorder  marginB20" ng-style="{'background-image':'url({{thisBlogCover}})'}">
            
            <div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center center" class="h2 marginLR20 margintT20 padding20  textWhite darkTranslucentBackground">
                <div class="spacedLetter1 blogHeaderFont text-center wideLine bold blogHeaderFont marginB20 " ng-bind-html="blogpost.title" >
                </div>
                <div layout="row" layout-align="center center" class="font14 narrowLine">
                    <div>
                        {{blogpost._created | date: "dd MMMM yyyy" | uppercase}}
                    </div>&nbsp;|&nbsp;
                    <div class="">
                        {{blogpost.readingTime.text}}
                    </div>
                </div>
            </div>
            
        
        </div>
        
        <div layout="row" layout-align="center center">
            <div flex-xs="100" flex-gt-xs="60" layout="column" layout-align="start start">
                
                <div layout="row" layout-align="start start " class="width100   ">
                    <div flex layout="row" layout-align="start start" class=" profileBox">
                        <div ng-if="blogpost.user.image">
                        <img ng-src="{{blogpost.user.image}}" id="userPicBlog" class="img-circle"/>
                        </div>
                        <div layout="column" layout-align="start start" class="marginL20">
                            <div class="font18 narrowLine">
                                {{blogpost.user.basic.name}}
                            </div>
                            <div class="textLightGrey font14 ">
                                {{blogpost.user.blogger.profileCredential}}
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="marginT40 blogContent" ng-bind-html="blogpost.content">
                
                </div>

            </div>
        </div>
        
        
    </div>
    
</div>
    
</div>
 