<style>
    .top-buffer{
        margin-top:40px;
    }
    #map{
        width: 95%;
        margin-top:20px;
    }
    #logo{
        margin-right: 20px;
    }
    #logoImage{
        min-height: 30px;
        max-height: 50px;
    }
</style>
<div id="fullPageGradient">
<div class="container" id="landingPage" layout-margin layout-padding>
    <div class="column hidden-xs col-sm-12 col-md-12 col-lg-12" id="breadcrumb"><small>
        <span><a ui-sref="main">EXAMBAZAAR</a></span>
        <span> / <a ui-sref="category({ categoryName:{{'category.name'}} })">{{category.displayname | uppercase}}</a></span>
        <span> / <a ui-sref="city({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}} })">{{subcategory.displayname | uppercase}}</a></span>
        <span> / <a ui-sref="findCoaching({ categoryName:{{'category.name'}}, subCategoryName:{{'subcategory.name'}}, cityName:{{'city'}} })">{{city | uppercase}}</a></span>
        <span> / {{provider.name | uppercase}}
        </span>
    </small></div>
    <div class="row top-buffer">
        <div  class="panel panel-default" >
            <div class="panel-heading">
                <h1 class="text md-title">{{provider.name}}
                <span ng-if="editable"><small>
                    <a ui-sref="editTargetStudyProvider({ coachingId:{{'provider._id'}} })">
                        Edit
                    </a>
                </small></span>
                    
                <span ng-if="provider.oldlogo" class="pull-left" id="logo">
                    <img ng-src="{{provider.logo}}" alt="{{provider.name}}" id="logoImage"/>
                </span>
                </h1>
                
                <div class="container">
                <div class="row md-subhead">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{provider.address}}, {{provider.city}} {{provider.pincode}} | 
                    <span ng-if="!showMap"><a ng-click="flipMap()">
                        Show on Map
                    </a></span>
                    <span ng-if="showMap"><a ng-click="flipMap()">
                        Hide Map
                    </a></span>
                </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="panel-body">
                <div class="container md-subhead">
                    
                    <div class="row" id="map" ng-show="showMap">
                    <small>{{provider.mapAddress}}</small>    
                    <ng-map center="{{provider.mapAddress}}" zoom="14" >
                        <!-- tilt="45"
map-type-id="SATELLITE"-->
                        <marker position="{{provider.mapAddress}}"
                          title="{{provider.mapAddress}}"
                          animation="Animation.BOUNCE"
                          centered="true"></marker>
                    </ng-map>
                    </div>
                    <div class="row" ng-if="provider.phone.length > 0">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span ng-repeat="phone in provider.phone track by $index">
                            {{phone}}
                            <span ng-if="!$last">, </span>
                        </span>
                    </div>
                    <div class="row" ng-if="provider.mobile.length > 0">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        <span ng-repeat="mobile in provider.mobile track by $index">
                            <a ng-href="tel:{{mobile}}">{{mobile}}</a>
                            <span ng-if="!$last">, </span>
                        </span>
                    </div>
                    <div class="row">
                        Courses: 
                        <span ng-repeat="course in provider.coursesOffered">
                            {{course}}
                        <span ng-if="!$last"> | </span>
                        </span>
                    </div>
                    <div class="row" ng-if="provider.website">
                        Website: 
                        <a ng-href="{{provider.website}}" target="_blank" ng-if="provider.website">
                            {{provider.website}}
                        </a>
                    </div>
                    
                    
                </div>
                
            </div>
        </div> 
        
    </div>
</div>  
</div>
