<style>
    img{
        max-width: 100%;
        margin: auto;
        display: block;
    }
    .blogtitle{
        color: white;
    }
    .profileBox{
        /*border: solid 0.5px #ccc;
        border-radius: 20px;
        background: white;*/
    }
    .blogHeader{
        min-height: 60vh;
        /*background-image: url("images/background/blog-background2.jpg");*/
        background-size:     cover;
        background-position: center center;
    }
    .blogContent{
        text-align: left;
    }
    h1,h2,h3{
        text-align: left;
        line-height: 140%;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    a:link, a:visited, a:hover, a:active{
        color: #20C39A;
    }
    #blogHeaderInfo{ 
        position: absolute; 
        bottom: 10%; 
        left: 0%;
    }
    blockquote{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    textarea{
        width:100%;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        color: #333333;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    textarea:hover {
        border: 1px solid #20C39A;
    }
    textarea:focus {
        border: 1px solid #20C39A;
    }
    .medium-editor-table,
    .medium-editor-table td {
        border: 1px solid #f6f6f6;
        padding: 5px;
        vertical-align: middle;
    }
    table{
        border: 0px;
        width: 100%;
        vertical-align: middle;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    td,th {
        font-size: 14px;
        text-align: center;
        padding: 5px;
        border: 1px solid #dddddd;
        vertical-align: middle;
    }
    tr:first-child{
        background-color: #E8E9EB;
        color: black;
        padding: 0px;
    }
    .tagHolder{
        padding:5px;
        color: #333333;
        background: white;
        border: 1px solid #FF5A5F;
    }
    .tagHolder:hover{
        color: white;
        
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    .existingTagHolder{
        padding:5px;
        color: white;
        background: #FF5A5F;
        border: 1px solid #fff;
    }
    #unmarkedTagHolder{
        padding:2px;
        color: #333333;
        background: white;
        border: 1px solid #333333;
    }
    #markedTagHolder{
        padding:2px;
        color: #02B875;
        background: white;
        border: 1px solid #02B875;
    }
    p, span{
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    blockquote{
        margin-bottom: 20px;
    }
    td p{
        margin: 0px;
    }
    #blogTags:{
        overflow-y: auto;
    }
    
    
    .blur {
       color: transparent;
       text-shadow: 0 0 2px rgba(0,0,0,0.1);
    }
    .blur img{
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
    
</style>
<head>

</head>
<div id="spacerXS" class="whiteBackground">
</div>
<div layout="row" layout-align="center center" class="whiteBackground">
<div layout="column" layout-align="center center" class="blogFont paddingTB20 width100 marginB40">
    
    <div layout="column" layout-align="center center" class="width100 marginB40">
        <div layout="column" layout-align="center center" class="width100 blogHeader" ng-style="{'background-image':'url({{thisBlogCover}})'}">
            <div hide-gt-xs layout="column" layout-align="center center" id="blogHeaderBack">
                <md-button class="md-black md-small font14 tolowercase" layout="row" layout-align="start center" ui-sref="blog">
                    Back to Blog
                </md-button>
            </div>
            <div layout="row" layout-align="center center" class="width100 darkTranslucentBackground marginTB20">
                <div flex-xs="90" flex-gt-xs="80" layout="column" layout-align="center center" class="h2 marginLR20 margintT20 padding20  textWhite padding10">
                    <h1 class="spacedLetter1 blogHeaderFont text-center wideLine bold marginB20 textWhite" ng-bind-html="blogpost.title" >
                    </h1>
                    <div layout="row" layout-align="center center" class="font14 narrowLine">
                        <div>
                            {{blogpost._created | date: "dd MMMM yyyy" | uppercase}}
                        </div>&nbsp;|&nbsp;
                        <div class="">
                            {{blogpost.readingTime.text | uppercase}}
                        </div>

                    </div>
                </div>
            </div>
            <div layout="row" layout-align="center center" class="width100 marginTB20">
            
                <div layout="row" layout-align="center center" class="width100">
                    <div class="">
                        <md-button class="md-upvote md-small font10 tolowercase" ng-click="saveupvote(blogpost)" ng-if="!upvoteExists(blogpost)">
                            <div layout="row" layout-align="start center">
                                <div>
                                Upvote
                                </div>
                                <div>
                                &nbsp;|&nbsp;{{blogpost.upvotes}}
                                </div>
                            </div>
                        </md-button>
                        <md-button class="md-existingupvote md-small font10 tolowercase" ng-click="removeupvote(blogpost)" ng-if="upvoteExists(blogpost)">
                            <div layout="row" layout-align="start center">
                                <div>
                                Upvote
                                </div>
                                <div>
                                &nbsp;|&nbsp;{{blogpost.upvotes}}
                                </div>
                            </div>
                        </md-button>
                    </div>
                </div>
            
            </div>
        
        </div>
        
        <div layout="row" layout-align="center center" class="marginB10 width100">
            <div flex-xs="90" flex-gt-xs="60" layout="column" layout-align="start start" class=" margin10 min10vh" >
                
                <div layout="row" layout-xs="column" layout-align="start start " class="width100  blogSeparator" id="iOSFix">
                    <div layout="row" layout-align="start center" class="profileBox marginTB10">
                        <div ng-if="blogpost.user.image">
                        <img ng-src="{{blogpost.user.image}}" id="userPicBlog" class="img-circle"/>
                        </div>
                        <div layout="column" layout-align="start start" class="marginL20">
                            <div class="font18 narrowLine">
                                {{blogpost.user.basic.name}}
                            </div>
                            <div class="textLightGrey font14 ">
                                {{blogpost.user.blogger.profileCredential}}
                            </div>
                            
                        </div>
                    </div>
                    
                    <div flex layout="row" layout-align="end center" class="font12 marginTB10">
                    <div hide-gt-xs class="marginR10">
                        <a href="#"
                        socialshare 
                        socialshare-provider="whatsapp"
                        socialshare-text="{{shareBlogText(blogpost)}}" 
                        socialshare-url="{{shareURL(blogpost)}}">
                        <img src="icons/whatsapp.png" class="socialIcon" alt="Share Exambazaar on Whatsapp"/>    
                        </a>
                    </div>
                    <div hide-xs class="marginR10">
                        <a ng-click="postFacebook(blogpost)">
                            <img src="icons/facebook.png" class="socialIcon" alt="Share Exambazaar on Facebook"/>
                        </a>
                    </div>
                    <div hide-gt-xs class="marginR10">
                        <a href="#"
                        socialshare
                        socialshare-provider="facebook-messenger"
                        socialshare-url="{{shareURL(blogpost)}}">
                            <img src="icons/facebook.png" class="socialIcon"/>
                        </a>
                    </div>
                    <div class="marginR10">
                        <a href="#"
                        socialshare
                        socialshare-provider="twitter"
                        socialshare-text="{{shareBlogText(blogpost)}}"
                        socialshare-hashtags="{{hashtags}}"
                        socialshare-url="{{shareURL(blogpost)}}">
                        <img src="icons/twitter.png" class="socialIcon"/>
                        </a>
                    </div>

                    </div>
                </div>
                
                <div layout="row" layout-align="end center" class="width100 font10 danger">
                    Only for master users:&nbsp;&nbsp;<a ng-click="editBlogPost(blogpost)" ng-if="user.userType=='Master'">Go to Edit Page</a>
                    
                </div>
                
                <div class="width100 marginT20 blogContent" ng-bind-html="blogpost.content" scrollpercentage>
                </div>
                
                <div layout="column" layout-align="center center" ng-if="!user && lockContent" class="marginTB20 width100 dangerBorder padding20">
                    <div layout="column" layout-align="center center" class="marginTB20 width100">
                    <md-button class="md-danger md-small tolowercase" ng-click="continueReading()">
                        <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Continue Reading
                    </md-button>
                    <div class="blogFont textLightGrey font12">Login/signup into Exambazaar to read the rest of this blog. Remember, our blog is always free!</div>
                    </div>    
                    <div class="width100 marginTB20 blogContent blur disable-text-selection" ng-bind-html="blogpost.lockedcontent1" ng-if="!user" www.exambazaar.com>
                     </div>
                    <div layout="column" layout-align="center center" class="marginTB20 width100">
                    <md-button class="md-danger md-small tolowercase" ng-click="continueReading()">
                        <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Continue Reading
                    </md-button>
                    <div class="blogFont textLightGrey font12">Login/signup into Exambazaar to read the rest of this blog. Remember, our blog is always free!</div>
                    </div>
                    <div class="width100 marginTB20 blogContent blur disable-text-selection" ng-bind-html="blogpost.lockedcontent2" ng-if="!user" www.exambazaar.com>
                     </div>
                    <div layout="column" layout-align="center center" class="marginTB20 width100">
                    <md-button class="md-danger md-small tolowercase" ng-click="continueReading()">
                        <i class="fa fa-lock" aria-hidden="true"></i>&nbsp;&nbsp;Continue Reading
                    </md-button>
                    <div class="blogFont textLightGrey font12">Login/signup into Exambazaar to read the rest of this blog. Remember, our blog is always free!</div>
                    </div>
                    <div class="width100 marginTB20 blogContent blur disable-text-selection" ng-bind-html="blogpost.lockedcontent3" ng-if="!user" www.exambazaar.com>
                     </div>
                </div>
                
                
                <div class="width100 blogSeparator"></div>
                <div layout="column" layout-align="start start" class="blogSeparator width100">
                    
                <div layout="row" layout-align="start center" class="width100">
                    <div class="">
                        <md-button class="md-upvote md-small font10 tolowercase" ng-click="saveupvote(blogpost)" ng-if="!upvoteExists(blogpost)">
                            <div layout="row" layout-align="start center">
                                <div>
                                Upvote
                                </div>
                                <div>
                                &nbsp;|&nbsp;{{blogpost.upvotes}}
                                </div>
                            </div>
                        </md-button>
                        <md-button class="md-existingupvote md-small font10 tolowercase" ng-click="removeupvote(blogpost)" ng-if="upvoteExists(blogpost)">
                            <div layout="row" layout-align="start center">
                                <div>
                                Upvote
                                </div>
                                <div>
                                &nbsp;|&nbsp;{{blogpost.upvotes}}
                                </div>
                            </div>
                        </md-button>
                    </div>
                </div>    
                <div layout="row" layout-align="start center" class="width100 font16 bold padding10">
                    Share this blog
                </div>
                <div layout="row" layout-align="end center" class="font12 marginLR10">
                    <div hide-gt-xs class="marginR10">
                        <a href="#"
                        socialshare 
                        socialshare-provider="whatsapp"
                        socialshare-text="{{shareBlogText(blogpost)}}" 
                        socialshare-url="{{shareURL(blogpost)}}">
                        <img src="icons/whatsapp.png" class="socialIcon" alt="Share Exambazaar on Whatsapp"/>    
                        </a>
                    </div>
                    <div hide-xs class="marginR10">
                        <a ng-click="postFacebook(blogpost)">
                            <img src="icons/facebook.png" class="socialIcon" alt="Share Exambazaar on Facebook"/>
                        </a>
                    </div>
                    <div hide-gt-xs class="marginR10">
                        <a href="#"
                        socialshare
                        socialshare-provider="facebook-messenger"
                        socialshare-url="{{shareURL(blogpost)}}">
                            <img src="icons/facebook.png" class="socialIcon"/>
                        </a>
                    </div>
                    <div class="marginR10">
                        <a href="#"
                        socialshare
                        socialshare-provider="twitter"
                        socialshare-text="{{shareBlogText(blogpost)}}"
                        socialshare-hashtags="{{hashtags}}"
                        socialshare-url="{{shareURL(blogpost)}}">
                        <img src="icons/twitter.png" class="socialIcon"/>
                        </a>
                    </div>

                </div>
                <div layout="row" layout-align="start center" class="width100 font16 bold padding10">
                    Tags    
                </div>
                <div layout="row" layout-align="start center" layout-wrap  class="width100 marginLR10 text-primary bold">
                    <span class="">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;
                    <span  ng-repeat="blogTag in blogpost.blogTags">
                        {{blogTag.tag}}
                        <span ng-if="!$last">, </span>&nbsp;
                    </span>
                </div>
                </div>
                <div class="width100" id="Infographic">
                <div layout="column" layout-align="start start" class="blogSeparator width100" ng-if="blogpost.infographic" >
                    <div layout="row" layout-align="start center" class="width100 font22 bold padding10">
                        Related Infographic    
                    </div>
                    <img ng-src="{{blogpost.infographic}}" class="padding10 width100"/>
                </div>
                </div>
                
                <div layout="column" layout-align="start start" class="width100 marginT20" ng-if="suggestedBlogs.length > 0">    
                <div layout="row" layout-align="start center" class="width100 font22 bold padding10" >
                    You may also be interested in
                </div>
                <div layout="row" layout-align="start start" layout-wrap class="blogSeparator width100">
                    
                <div flex-xs="100" flex-gt-xs="50" layout="column" layout-align="center center"  class="padding10 font12" ng-repeat="thisBlog in suggestedBlogs">
                    <div layout="column" layout-align="center start" class="width100 boxShadow" ng-click="goToBlog(thisBlog)">
                        <div layout="column" layout-align="center center" class="blogpostImage width100 rounderBorderTop" ng-style="{'background-image':'url({{thisBlog.coverPhoto}})'}">
                        <div layout="row" layout-align="end center" id="blogPostRead" class="width100 padding20">
                            <div layout="row" layout-align="end center" class="padding5 darkTranslucentBackground">
                                {{thisBlog.readingTime.text}}
                            </div>
                        </div>
                        </div>
                        <div layout="column" layout-align="start start" class="min20vh padding20 width100 blogpostBorder">
                            <div class="h3Font bold wideLine2">
                                {{thisBlog.title}}
                            </div>
                            <div flex class="marginTB10 wideLine subBaseFont">
                                {{thisBlog.seoDescription}}
                            </div>
                        </div>    
                    </div>
                </div>     
                </div>
                </div>
                
                
                
                <div layout="column" layout-align="start start" class="width100">
                    <div layout="row" layout-align="start center" class="width100 font22 bold padding10">
                        Comments <span ng-if="blogComments.length> 0">&nbsp;&nbsp;[{{blogComments.length}}]</span>
                    </div>
                    <div layout="column" layout-align="start start" class="width100 blogSeparator" ng-repeat="comment in blogComments">
                        <div layout="column" layout-align="start start">
                            <div layout="row" layout-align="start center">
                                <div ng-if="comment.user.image">
                                <img ng-src="{{comment.user.image}}" id="userPicSmall" class="img-circle"/>
                                </div>
                                <div class="font16 marginL10">
                                    {{comment.user.basic.name}}
                                </div>
                            </div>
                            <div layout="row" layout-align="start center" class="font14 marginT10 marginL40">
                                {{comment.comment}}
                            </div>
                        </div>
                        
                        
                        
                        <div layout="column" layout-align="start start" class="marginL40 marginT20 width100" ng-if="comment.user._id == user._id">
                            <div layout="row" layout-align="start center" class="font14 danger">
                                Edit your comment
                            </div>
                            <div layout="row" layout-align="start end" class=" width100">
                                <div flex="80">
                                    <textarea class="font12 width100" ng-model="thisUserComment.comment" placeholder="{{commentPlaceholder}}" rows="3" id="userText"></textarea>
                                </div>
                                <div flex="20" layout="row" layout-align="start end">
                                    <md-button class="md-black md-small tolowercase" ng-click="submitComment()">
                                        <span ng-if="!thisUserComment._id">Submit</span>
                                        <span ng-if="thisUserComment._id">Update</span>
                                    </md-button>
                                </div>
                            </div>


                        </div>
                        
                    </div>
                    
                    <div layout="column" layout-align="start start" class="blogSeparator width100 marginT20" ng-if="!thisUserComment._id">
                        <div layout="row" layout-align="start center">
                            <div ng-if="thisUserComment.user.image">
                            <img ng-src="{{thisUserComment.user.image}}" id="userPicSmall" class="img-circle"/>
                            </div>
                            <div class="font16 marginL10">
                                {{thisUserComment.user.basic.name}}
                            </div>
                        </div>
                        <div layout="row" layout-align="start end" class="marginL40 width100">
                            <div flex="80">
                                <textarea class="font12 width100" ng-model="thisUserComment.comment" placeholder="{{commentPlaceholder}}" rows="3" id="userText"></textarea>
                            </div>
                            <div flex="20" layout="row" layout-align="start end">
                                <md-button class="md-black md-small tolowercase" ng-click="submitComment()">
                                    <span ng-if="!thisUserComment._id">Submit</span>
                                    <span ng-if="thisUserComment._id">Update</span>
                                </md-button>
                            </div>
                        </div>


                    </div>
                    
                </div>
                
                
                
                
                
            </div>
        </div>
        
        
    </div>
    
</div>
    
</div>


<div hide-xs class="leftTopButton">
    <div layout-fill  layout="column" layout-align="start center" class="">
        <div layout="row" layout-align="start center" class="width100">
            
            <md-button class="md-black md-small font14 tolowercase" ui-sref="blog">
                <div layout="row" layout-align="center center" >
                Back to Blog
                </div>
                
            </md-button>
        </div>
        
    </div>
</div>