<div class="sideBarButton paddingTB5">
            <div hide-xs layout="row"  layout-align="start center" sidebarjs-toggle id="sideBarIcon">
                <i class="fa fa-angle-double-right font40 paddingR10 paddingTB20" aria-hidden="true"></i>
            </div>
            <sidebarjs class="sideBar font16">
                <div sidebarjs-toggle id="sideBarIcon2" class="paddingR5">
                    <i class="fa fa-angle-double-left font40" aria-hidden="true"></i>
                </div>

                <div layout="column" layout-align="start center" layout-fill class="width100">
                    <div layout="row" layout-align="start center" class="width100 gainsboroBottomBorder marginB10">
                        <div layout="row" layout-align="center center" flex>
                            <a class="navbar-brand" href="/">
                                <span class="" id="sidebarLogo">
                                    EXAMBAZAAR
                                </span>
                            </a>
                        </div>
                        <div sidebarjs-toggle layout="row" layout-align="center center" class="padding5 marginR10">
                            <i class="fa fa-times-circle-o font24" aria-hidden="true"></i>
                        </div>


                    </div>
                    <div flex layout="column" layout-align="center center" class="width100">

                    <div layout="column" layout-align="center center" class="width100 gainsboroBottomBorder paddingLR10">
                        <div layout="column" layout-align="center center" class="marginT5">
                            <div layout="column" layout-align="center center" class="width100">
                                Top Rankers
                            </div>
                            <div layout="row" layout-align="center center" class="font12 danger width100">
                                <div class="marginLR5">
                                    <a id="sideBarLink" ui-sref="rankerswall({ examName:'NEET UG', year:'2017'} )">NEET 2017</a>
                                </div>
                                <div class="marginLR5">
                                    <a id="sideBarLink" ui-sref="rankerswall({ examName:'JEE Advanced', year:'2017'} )">JEE 2017</a>
                                </div>
                            </div>
                        </div>
                        <div class="marginTB5">
                            <a id="sideBarLink" ui-sref="blog">Blog</a>
                        </div>
                    </div>

                    <div layout="column" layout-align="center center" class="width100 gainsboroBottomBorder paddingLR10" ng-if="sessionuser && sessionuser.basic">
                        <div class="marginT5">
                            Welcome {{sessionuser.basic.name}}!
                        </div>
                        <div class="marginTB10">
                            <span ng-if="sessionuser.image">
                                <img ng-src="{{sessionuser.image}}" id="userPic" class="img-circle"/>
                            </span>
                            <!--<a id="sideBarLink" ui-sref="profile({ userId:{{'sessionuser.userId'}} })" class="marginR10">Profile</a>-->
                        </div>
                        <div class="">
                            <a id="sideBarLink" ui-sref="reviewed({ userId:{{'sessionuser.userId'}} })" class="marginR10">Your Reviews</a>
                        </div>
                        <div class="marginTB5">
                            <a id="sideBarLink" ng-if="sessionuser.userType != 'Partner'" ui-sref="shortlisted({ userId:{{'sessionuser.userId'}} })" class="marginR10">Your Shortlisted Institutes</a>
                        </div>

                    </div>
                    <div layout="row" layout-align="center center" class="paddingLR10 width100">
                        <md-button ng-if="!sessionuser || !sessionuser.userId" class="md-large md-green2 width50" ng-click = "showLoginForm()">Log in</md-button>
                        <a id="sideBarLink" ng-if="sessionuser && sessionuser.userId" href="/" ng-click="logout()">Logout</a>
                    </div>
                    <div flex layout="row" layout-align="center center" class="width100 marginT10">
                        <!--<twitter-timeline class="exact100h">
                            <a class="twitter-timeline" data-height="100%" data-chrome="nofooter" href="https://twitter.com/exambazaar"> Tweets by @exambazaar</a>
                        </twitter-timeline>-->

                    </div>



                    </div>
                    <!--<div flex layout="row" layout-align="center end" class="padding10">
                        <a id="sideBarLink" sidebarjs-toggle><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;&nbsp;Close</a>
                    </div>-->
                </div>

            </sidebarjs>
        </div>


 
        <!--<div class="rightSideBarButton paddingTB5">
            <div layout="row"  layout-align="end center" class="">
                <div sidebarjs-toggle id="sideBarIcon" class="">
                    <i class="fa fa-angle-double-left font40 paddingL20 paddingTB20" aria-hidden="true"></i>
                </div>
            </div>
            <sidebarjs class="sideBar font16">
                <div sidebarjs-toggle id="sideBarIcon2" class="paddingR5">
                    <i class="fa fa-angle-double-left font40" aria-hidden="true"></i>
                </div>
                <div layout="column" layout-align="start center" layout-fill class="width100">
                    <div layout="column" layout-align="center center" class="width100">


                    </div>
                </div>

            </sidebarjs>
        </div>  -->      


