<div class="container">
    
    <div class ="row hidden-md hidden-lg">
        <md-divider></md-divider>
        <div layout="row" layout-align="center center">
            <small>
                <a ui-sref="student({ studentId:{{'student._id'}} })">Main</a> | 
                <a ui-sref="student-attendance({ studentId:{{'student._id'}} })">Attendance</a> | 
                <a ui-sref="student-subjects({ studentId:{{'student._id'}} })">Subjects</a> | 
                <a ui-sref="student-class({ studentId:{{'student._id'}} })">Class</a> | 
                <a ui-sref="student-profile({ studentId:{{'student._id'}} })">Profile</a>
            </small>
        </div>
        <md-divider></md-divider>
    </div>
    
    
    <!--<h4 class="md-headline text">{{student.basic.firstName}} {{student.basic.lastName}}</h4>-->
    <div class="row">
        <small>
        <div  class="panel panel-default col-xs-12 col-sm-12 col-md-6 col-lg-6" >
            <div class="panel-heading">
                <h6 class="md-subhead text-primary">Student Profile</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                <table ng-table="showprofile" class="table">
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{student.basic.firstName}} {{student.basic.lastName}}</td>
                    </tr>
                    <tr>
                        <td><strong>Profile Pic</strong></td>
                        <td>
                            <!--<span ng-if="student.imageUrl">
                                <img ng-if="!uploadImageUrl" ng-src="{{student.imageUrl}}" height="100">
                                <img ng-if="uploadImageUrl" ng-src="{{uploadImageUrl}}" height="100">
                                <br/>
                            </span>-->
                            <input type="file" nv-file-select uploader="uploader" class="pull-left btn">
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Date of Birth</strong></td>
                        <td ng-if="student.basic.dob">{{student.basic.dob | date}}</td>
                        <td ng-if="!student.basic.dob">
                            <md-datepicker required ng-model="editDOB" md-placeholder="Date of Birth"></md-datepicker>
                            
                        </td>
                    </tr>
                    <!--<tr>
                        <td><strong>Gender</strong></td>
                        <td ng-if="student.basic.gender">{{student.basic.gender}}</td>
                        <td ng-if="!student.basic.gender">
                            <div class="row">
                                <md-select required ng-model="student.basic.gender" placeholder="Gender" size="8">
                                <md-option>Male</md-option>
                                <md-option>Female</md-option>
                            </md-select>
                            </div>
                            
                        </td>
                    </tr>-->
                    <!--<tr>
                        <td><strong>Registered Mobile</strong>
                        
                        </td>
                        <td>{{student.contact.mobile}}</td>
                    </tr>-->
                    <!--<tr>
                        <td><strong>Registered Email</strong></td>
                        <td>{{student.contact.email}}</td>
                    </tr>-->
                    <tr>
                        <td><strong>Address</strong></td>
                        <td>
                            {{student.address.street}}<br/>
                            {{student.address.city}}
                            {{student.address.pincode}}
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <div  class="panel panel-default col-xs-12 col-sm-12 col-md-6 col-lg-6" >
            <div class="panel-heading">
                <h6 class="md-subhead text-primary">Parent Information</h6>
            </div>
            <div class="panel-body">
                <div ng-repeat="parent in student.parents" flex-gt-sm class="md-primary">
                    <table ng-table="showparent" class="table">
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{parent.basic.firstName}} {{parent.basic.lastName}}</td>
                    </tr>
                    <!--<tr>
                        <td><strong>Date of Birth</strong></td>
                        <td>{{parent.basic.dob | date}}</td>
                    </tr>
                    <tr>
                        <td><strong>Gender</strong></td>
                        <td>{{parent.basic.gender}}</td>
                    </tr>-->
                    <tr>
                        <td><strong>Registered Mobile</strong></td>
                        <td>{{parent.contact.mobile}}</td>
                    </tr>
                    <tr>
                        <td><strong>Registered Email</strong></td>
                        <td>{{parent.contact.email}}</td>
                    </tr>
                    
                </table> 
                </div>
            </div>
        </div>
        </small>
    </div>
        
        
    <!--<div layout="row" layout-xs="column" layout-margin  layout-align="center" >
        <div  class="panel panel-default" >
            <div class="panel-heading">
                <h6 class="md-subhead text-primary">Utils</h6>
            </div>
            <div class="panel-body">
                <md-button class="md-primary md-raised" ng-click="showPrompt($event)">
                    Update Password
                </md-button>
            </div>
        </div>
        
    </div>-->
    
</div>
