<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #upload2{
        background: white;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #upload2:hover {
        background: #ccc;
        cursor: pointer;
    }
    #copyLink{
        cursor: pointer;
    }
    #fullHeightPage{
        min-height: 90vh;
    }
    #instituteSection{
        min-height: 30vh;
    }
    .min30vh{
        min-height: 30vh;
    }
    .min50vh{
        min-height: 50vh;
    }
    #partner{
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    }
    #loginInput{
        border: 0;
        outline: 0;
        background: transparent;
        padding: 5px;
        margin-bottom: 2px;
        text-align: left;
        font-family: "Open Sans";
        color: black;
        border: 1px solid gainsboro;
        font-size:12px;
    }
    
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground">
    
    
<div layout="column" layout-align="center center" class="paddingTB10 width100 basicFont font8">
    <div layout="row" layout-align="center center" class="marginT20 font20 textBlack bold paddingB10 width100">
        All Assessments&nbsp;<span class="badge" id="badge">{{assessments.length}}</span>
    </div>
    <!--<div layout="row" layout-align="center center" class="width100">
        <md-button class="md-next md-small tolowercase" ng-click="filterByTest('5a17f5f617cb4c07c5dd7f5b')">
            Aptitude Test Old
        </md-button>
        <md-button class="md-next md-small tolowercase" ng-click="filterByTest('5a2e5924ea139b56bbff0694')">
            Quant Test
        </md-button>
        <md-button class="md-next md-small tolowercase" ng-click="filterByTest('5a2e5d007a7d9659d7c4537d')">
            Coding Test
        </md-button>
        <md-button class="md-black md-small tolowercase" ng-click="sortByScore()">
            Sort by Score
        </md-button>
        <md-button class="md-black md-small tolowercase" ng-click="sortByDate()">
            Sort by Date
        </md-button>
    </div>-->    
    <div layout="column" layout-align="center center" class="marginT20 width100">
        <div layout="row" layout-align="start center" class="width100 bold paddingB5 marginB10 subhheadingBottomBorder2">
            <div layout="column" flex="5" layout-align="center center" class="paddingLR5">S. No.</div>
            <div layout="column" layout-align="center center" flex="15" class="">Candidate</div>
            <div layout="column" layout-align="center center" flex="15" class="paddingLR5">Test Name</div>
            <div layout="column" layout-align="center center" flex="10" class="">Email</div>
            <div layout="column" layout-align="center center" flex="10" class="">Mobile</div>
            <div layout="column" layout-align="center center" flex="5" class="">Start</div>
            <div layout="column" layout-align="center center" flex="5" class="">End</div>
            <div layout="column" layout-align="center center" flex="5" class="">Submitted</div>
            <div layout="column" layout-align="center center" flex="10" class="">Score</div>
            <div layout="column" layout-align="center center" flex="10" class="">Questions</div>
            <div layout="column" layout-align="center center" flex="10" class="">Rating</div>
            
        </div>
        <div layout="row" layout-align="start center" ng-repeat="assessment in assessments" class="width100 gainsboroBottomBorder">
            <!-- | orderBy:'-evaluation.score'-->
            <div flex="5" layout="column" layout-align="center center" class="paddingLR5">{{$index+1}}</div>
            <div layout="column" layout-align="center center"  flex="15" class=" ">
                <div class="bold">{{assessment.info.name}}</div>
                <div class="">{{assessment.user}}</div>
            
            </div>
            <div layout="column" layout-align="center center"  flex="15" class="paddingLR5">
                <div class="text-center">{{assessment.test.name}}</div>
                <div class="text-center">{{assessment.test.exam.seoname}}</div>
            </div>
            <div layout="column" layout-align="center center" flex="10" class="text-center">
                {{assessment.info.email}}
                
            </div>
            <div layout="column" layout-align="center center" flex="10" class=" ">
                {{assessment.info.mobile}}
            </div>
            <div layout="column" layout-align="center center" flex="5" class=" ">
                {{assessment._start | date:'medium'}}
            </div>
            <div layout="column" layout-align="center center" flex="5" class=" ">
                {{assessment._end | date:'medium'}}
            </div>
            <div layout="column" layout-align="center center" flex="5" class=" ">
                {{assessment._submit | date:'medium'}}
            </div>
            <div layout="column" layout-align="center center" flex="10" class="">
                <span ng-if="assessment.evaluation.score || assessment.evaluation.score == 0" class="bold font14">{{assessment.evaluation.score}}</span>
                <span ng-if="!assessment.evaluation.score && assessment.evaluation.score != 0" ng-click="userevaluate(assessment)" class=" danger">Evaluate</span>
                <!--<span ng-click="userevaluate(assessment)" class=" danger">Evaluate</span>-->
            </div>
            <div layout="row" layout-align="center center" flex="10" class="">
                {{assessment.evaluation.questions.attemped}} | 
                {{assessment.evaluation.questions.unattemped}} | 
                {{assessment.evaluation.questions.correct}} | 
                {{assessment.evaluation.questions.incorrect}}
            </div>
            <div layout="row" layout-align="center center" flex="10" class="">
                <div ng-rate-it 
                    ng-model="assessment.userRating"  
                    resetable="false" 
                    star-width="20" 
                    star-height="20" 
                    min = "0"
                    max = "5"
                    step = "0.5" 
                    read-only="true" 
                    class="smallstar custom"
                >
                </div>
                <!--<jk-rating-stars max-rating="5" rating="assessment.userRating" read-only="true" >
                </jk-rating-stars>-->
            </div>
        </div>
    </div>
    
</div>
</div>
