<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
    #upload2{
        background: white;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #upload2:hover {
        background: #ccc;
        cursor: pointer;
    }
    #copyLink{
        cursor: pointer;
    }
    #fullHeightPage{
        min-height: 90vh;
    }
    #instituteSection{
        min-height: 30vh;
    }
    .min15vh{
        min-height: 15vh;
    }
    .min30vh{
        min-height: 30vh;
    }
    .min50vh{
        min-height: 50vh;
    }
    #partner{
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
    }
    #loginInput{
        border: 0;
        outline: 0;
        background: transparent;
        padding: 5px;
        margin-bottom: 2px;
        text-align: left;
        font-family: "Open Sans";
        color: black;
        border: 1px solid gainsboro;
        font-size:12px;
    }
    
    #banner {
        background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff9699' fill-opacity='0.26' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    }
    
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground min100vh" id="banner">
<div flex-xs="100" flex-gt-xs="80" layout="column" layout-align="center center" class="paddingTB10 height100 width100">
    <div layout="column" layout-align="center center" class="width100 paddingTB10 marginB10 gainsboroBottomBorder">
        <!--<div layout="row" layout-align="center center" class="width100 font16">
            <div ng-if="user.image">
            <img ng-src="{{user.image}}" id="userPicSmall" class="img-circle"/>
            </div>
            <div class="marginL10">
                {{user.basic.name}}
            </div>
        </div>-->
        <div layout="row" layout-align="center center" class="width100 secondFont textBlack bold font20 gainsboroBottomBorder paddingLR20 text-center">
            <span>A big thank you from Team Exambazaar<i class="fa fa-smile-o marginL5" aria-hidden="true"></i></span>
        </div>
        
        
        <div layout="column" layout-align="center center" layout-wrap class="width100 marginB20 paddingT30 paddingB20 paddingLR20">
            <div class="textBlack secondFont text-center paddingB10">Help us spread the word!</div>
            <div layout="row" layout-align="center center" class="width100  text-center">
            We are building India's biggest student led coaching institute review website. Your first-hand study experiences really help other students.
            </div>
            <div layout="row" layout-xs="column" layout-align="center center" class="width100">
                <div hide-gt-xs flex="33" flex-xs="100" layout="column" layout-align="center center" class="min15vh paddingLR20 paddingTB40">
                    <div layout="row" layout-align="center end" class="width100 secondFont textBlack paddingB20">
                        <a href="#"
                        socialshare 
                        socialshare-provider="whatsapp"
                        socialshare-text="{{shareText}}" 
                        socialshare-url="https://www.exambazaar.com/review">
                        <i class="fa fa-whatsapp text-primary font40 marginR10" aria-hidden="true"></i>
                        </a>
                        <span>
                         Whatsapp
                        </span>
                        
                    </div>
                    <div layout="row" layout-align="center center" class="text-center font10  width100 paddingT20">
                    Share it with your friends & groups!
                    </div>
                </div>
                <div flex="33" flex-xs="100" layout="column" layout-align="center center" class="min15vh paddingLR20 paddingTB40">
                    <div class="width100 paddingB20">
                        <md-button class="loginBtn loginBtn--facebook width100 tolowercase" ng-click="shareFacebook()">
                            Post on Facebook
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center" class="text-center font10  width100 paddingT20">
                    We'll never post without your permission
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
    </div>
    
</div>
</div>

<div style="visibility: hidden">    
    <div class="md-dialog-container" id="copiedDialog">
      <md-dialog>
          <div layout="row" layout-xs="column" layout-padding layout-align="center center" id="dialogHeaderWhite" >
              <div class="margin10 padding5">
                <span class="text-primary md-headline">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </span>
                <span class="md-title">
                    Copied!
                </span>
                
              </div>
          </div>
      </md-dialog>
    </div>    
</div>


<!--
<a href="#"
socialshare 
socialshare-provider="facebook"
socialshare-type="send" 
socialshare-source="https://www.exambazaar.com/"
socialshare-via="1236747093103286" 
socialshare-redirect-uri="https://www.exambazaar.com/"
socialshare-text="Exambazaar.com" 
socialshare-url="https://www.exambazaar.com/review">
Share me
</a>-->