<style>
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<!-- ng-if="user"-->
<div class="textBlack whiteBackground secondFont font20">
    <div layout="column" layout-align="center center" class="width100 min80vh">
        <div layout="column" layout-align="center center" class="width100" ng-if="thisUserEmailVerification">
            <i class="fa fa-check-circle font40 text-primary" aria-hidden="true"></i>
            <div class="marginT10">
                Great your email is verified!
            </div>
        </div>
        <!--{{thisUserEmailVerification}}
        {{userId}}-->
    </div>
    
</div>

