<style>
    #instituteHolder{
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
    }
    #logoHolder{
        height: 50px;
    }
    #logo{
        max-height: 40px;
        max-width: 100px;
    }
    #link{
        color: rgba(0,0,0,0.6);
    }
    #link:hover{
        color: #20C39A;
    }
    
    #badge{
        background: #20C39A;
    }
</style>

<div class="whiteBackground mainContent" >
    <div id="spacer">
    </div>
    <div layout="column" layout-align="start center" class="">
        <div layout="row" layout-align="center center" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="font20 paddingTB20">
                Your History <span class="badge" id="badge">{{viewed.length}}</span>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ng-if="viewed.length == 0">
                You have not viewed any institutes yet. Start shortlisting now!
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-repeat="view in viewed | orderBy:'-_date'" id="instituteHolder">
                <div layout="column" layout-align="center center">
                    <div id="logoHolder" class="">
                        <div layout="column" layout-align="center center" class="height100">
                        <img ng-src="{{view.institute.logo}}" id="logo"/>
                        </div>
                    </div>
                    
                    <div class="font14">
                        <a ui-sref="claim({ coachingId:{{'view.institute._id'}} })" target="_blank" id="link">
                        {{view.institute.name}}
                        </a>
                        
                    </div>
                    <div class="font9">
                        on {{view._date | date}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>