<style>
    
</style>

<div id="spacer1" class="hidden-xs whiteBackground">
</div>
<div id="spacerXS" class="hidden-sm hidden-md hidden-lg whiteBackground">
</div>
<div flex layout="row" layout-align="center start" class="whiteBackground" id="fullHeightPage">
    
    
<div flex-xs="100" flex-gt-xs="90" layout="column" layout-align="center center" class="paddingTB10 height100 width100">
    <div layout="row" layout-align="center center" class="marginT20 secondFont font20 textBlack bold paddingB10">
        All Reviews&nbsp;
    </div>
    <div layout="row" layout-align="center center" class="width100">
        <div flex>
            <div layout="row" layout-align="center center" class="margin20 padding20 dangerBackground textWhite">
                ABC
            </div>
        </div>
        <div flex>
            <div layout="row" layout-align="center center" class="margin20 padding20 dangerBackground textWhite">
                DEF
            </div>
        </div>
        
    </div>
</div>
</div>
