<div class="container">
    <h4>{{institute.basic.name}} - Add admins</h4>
    
    <div class="row">
    <div class="col-md-4">
        <md-content flex layout-padding>
        <md-subheader class="md-primary">Admins</md-subheader>
            <a ng-repeat = "admin in institute.admins"><small>{{admin.basic.firstName}} {{admin.basic.lastName}}</small><br/></a>
        </md-content>
    </div>
    <div class="col-md-8" id="addAdminForm">
    <md-content flex layout-padding>
        <small>
        <md-subheader class="md-primary">Admin Information {{admin._id}}</md-subheader>
        <form name="adminForm" >
        <div layout="column" >
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm>  
                    <md-select ng-model="admin.basic.salutation" placeholder="Title">
                        <md-option ng-repeat="salutation in salutations" ng-value="salutation" >{{salutation}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input required ng-model="admin.basic.firstName">
                     <div ng-messages="adminForm.institute.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input required ng-model="admin.basic.lastName">
                     <div ng-messages="adminForm.institute.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <!--<md-input-container class="md-block" flex-gt-sm>  
                    <md-select required ng-model="admin.basic.gender" placeholder="Gender">
                        <md-option ng-repeat="gender in genders" ng-value="gender" >{{gender}}
                        </md-option>
                    </md-select>
                </md-input-container>-->
            </div>   
            <!--<div layout="row">
                <md-datepicker required ng-model="admin.basic.dob" md-placeholder="Date of Birth"></md-datepicker>
            </div>-->
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Mobile <small>{{admin.contact.mobile.length}}/10</small></label>
                    <input required ng-model="admin.contact.mobile" ng-minlength="10" ng-maxlength="10">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input type="Email" ng-model="admin.contact.email">
                </md-input-container>
            </div>
            <!--<div layout="row">
                <md-input-container class="md-block" flex-gt-sm>
                <label for="profilepic">Add Photo</label><br>
                <button onclick="document.getElementById('fileUpload').click()">Upload Image</button>
                <input id="fileUpload" style="visibility: collapse; width: 0px;" type="file" onchange="uploadAdminProfilePic(this.files[0])">
                <img id="imgsrc" height="100" >
            </md-input-container>
            </div>-->
            
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Address - Street</label>
                    <input required ng-model="admin.address.street">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input required ng-model="admin.address.city">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Pin Code</label>
                    <input required ng-model="admin.address.pincode">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Landline</label>
                    <input ng-model="admin.address.tel">
                </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-click="addAdmin()" ng-disabled="adminForm.$invalid">Add Admin</md-button>

    </div>
    </form>
    </small>
    </md-content>
    </div>
    </div>
</div>
<div>
    {{ServerResponse}}
</div>